﻿@model List<Audire_POCO.UsersPOCO>
@using Audire_MVC.Utilities

<style>
    /*.active {
        background-color: #f5f5f5;
    }

    .success {
        background-color: #dff0d8;
    }*/
</style>
<script type="text/javascript">
    $("#btnsubmit").click(function (e) {

        var flag = false;
        flag = ValidateAnswer();
        if (!flag) {
            return false;
        }
        else {
            var quest = getquestions();

            var param = "{questionAnswer:" + JSON.stringify(quest) + "}";
            //var json = "{audit_id:" + var_aud_id + ",username: " + var_username + ",password: " + var_password + " ,userID:" + var_user_id + "}"
            $.ajax({
                url: "SaveQuestionAnswers",
                type: 'POST',
                //cache: false,
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                MaxJsonLength: "2147483647",
                data: param,
                success: function (result) {

                    console.log("Success");
                    loadPDF(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr);
                    alert(xhr);
                }
            });
        }
        //var data = new FormData(this.form);
        //$.ajax({
        //    type: "POST",
        //    url: "SaveQuestionAnswers",
        //    processData: false,
        //    contentType: false,
        //    data: data,
        //    success: function (result) {
        //
        //        //do something with response
        //        loadPDF(result);

        //    },
        //    error: function (xhr, status, error) {
        //
        //        console.log(error);
        //        //do something about the error
        //    },
        //});

        //var var_aud_id = 0;
        //var var_username = ""; //$("#hdnusername").val();
        //var var_password = ""; //$("#hdnpassword").val();
        //var var_user_id = ""; //$("#hdnuser_id").val();
        //var var_device_id = "Web";
        ////var var_module_id = sessionStorage.getItem("Module");
        //var var_module_id = $("#ddlmodule").val();
        //var var_region_id = $("#ddlRegion").val();
        //var var_country_id = $("#ddlCountry").val();
        //var var_location_id = $("#ddlLocation").val();
        ////var var_line_id = $("#ddlLine").val();
        ////if (var_module_id == "1") {
        ////    var_line_id = "";
        ////}
        //var var_line_id = 0;
        //var var_product_id = 0;
        //var var_shift_no = "";
        //if (isEmpty($('#txtpartnumber').jqxComboBox('getSelectedItem'))) {
        //    var_product_id = "0";
        //}
        //else {
        //    var_product_id = $('#txtpartnumber').jqxComboBox('getSelectedItem').value;
        //}
        //var var_shift_no = $("#txtShiftNo").val();
        //var var_auditype_id = $("#ddlAudit_Type").val();
        //e.preventDefault();

        //var myString = JSON.stringify(quest);
        //var commonParam = {
        //    "audit_id": var_aud_id,
        //    "username": var_username,
        //    "password": var_password,
        //    "userID": var_user_id,
        //    "deviceID": var_device_id,
        //    "module_id": var_module_id,
        //    "region_id": var_region_id,
        //    "country_id": var_country_id,
        //    "location_id": var_location_id,
        //    "line_id": var_line_id,
        //    "product_id": var_product_id,
        //    //"shift_no": var_shift_no,
        //    "auditType_id": var_auditype_id,
        //    "questionAnswer": quest
        //}
        //var param = "{auditResult:" + JSON.stringify(commonParam) + "}";
        //$.ajax({
        //    type: "POST",
        //    url: rootUrl+"JsonFiles/buildJson.htm", //the name and location of your php file
        //    data: param,      //add the converted json string to a document.
        //    success: function () { alert('sucess'); } //just to make sure it got to this point.
        //});



    });
</script>
@if (Model != null)
{
    foreach (var m in Model)
    {
        <section class="search-sec">
            <form action="#" method="post" novalidate="novalidate">
                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>User Name</label>
                        <p>@Html.Label("Username", string.IsNullOrEmpty(Convert.ToString(m.UserName)) ? "" : m.UserName)</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>First Name</label>
                        @*<input type="text" class="form-control search-slt" placeholder="">*@
                        <p>@Html.Label(string.IsNullOrEmpty(Convert.ToString(m.FirstName)) ? "" : m.FirstName)</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Last Name</label>
                        @*<input type="text" class="form-control search-slt" placeholder="">*@
                        <p> @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.LastName)) ? "" : m.LastName)</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Email Id</label>
                        @*<input type="text" class="form-control search-slt" placeholder="">*@
                        <p>@Html.Label("EmailId", string.IsNullOrEmpty(Convert.ToString(m.EmailId)) ? "" : m.EmailId)</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Default Location</label>
                        @*<input type="text" class="form-control search-slt" placeholder="">*@
                        <p> @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.location)) ? "" : Convert.ToString(m.location))</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Role</label>
                        <p> @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.Role)) ? "" : Convert.ToString(m.Role))</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Module</label>
                        <p> @Html.Label("module", string.IsNullOrEmpty(Convert.ToString(m.module_list)) ? "" : Convert.ToString(m.module_list))</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Department</label>
                        <p>@Html.Label("process", string.IsNullOrEmpty(Convert.ToString(m.process_list)) ? "" : Convert.ToString(m.process_list))</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Start Date</label>
                        <p> @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.startdate)) ? "" : string.Format("{0:MM-dd-yyyy}", m.startdate))</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>End Date</label>
                        <p>@Html.Label(string.IsNullOrEmpty(Convert.ToString(m.enddate)) ? "" : string.Format("{0:MM-dd-yyyy}", m.enddate))</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="chiller_cb">

                            @Html.CheckBoxFor(mi => m.privacySetting)
                            <label for="myCheckbox">Privacy settings</label>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="chiller_cb">
                            @Html.CheckBoxFor(mi => m.Admin)
                            <label for="myCheckbox2">Admin</label>
                            <span></span>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        
        break;
    }
}

