﻿@model List<Audire_POCO.UsersPOCO>
@using Audire_MVC.Utilities

<script src="~/Scripts/jquery.sumoselect.min.js"></script>
<link href="~/Content/css/sumoselect.css" rel="stylesheet" />



<style>
    .nopad_left{padding-left:0}
    .nopad_right{padding-right:0}
   #txtStartdate{
       width:100%;
       z-index:9999999!important;
       position:relative;
   }
   #txtEnddate{
       width:100%;
       z-index:9999999!important;
       position:relative;
   }
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border: 1px solid #ddd;
        background-image: -webkit-linear-gradient(left, #ffc00a, #f74476);
        background-image: -moz-linear-gradient(left, #ffc00a, #f74476);
        background-image: -ms-linear-gradient(left, #ffc00a, #f74476);
        background-image: -o-linear-gradient(left, #ffc00a, #f74476);
        background-image: linear-gradient(left, #ffc00a, #f74476);
        color: #fff;
        border-radius: 60px;
    }

    .ui-widget.ui-widget-content {
        width: 315px;
    }

    .newa1 {
        background-color: #EBF4FA;
        -webkit-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        padding: 12px;
        width: 100%;
        margin-bottom: 10px;
        float: left;
        text-align: center;
    }

    .portlet.box.new > .portlet-title {
        background-color: #667F67;
    }

    #MainContent_grdviewAllValues td {
        text-align: right;
        height: 20px;
    }


    .SelectClass,
    .SumoUnder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }

    .SelectClass {
        z-index: 1;
    }

    .SumoSelect > .optWrapper > .options li.opt label,
    .SumoSelect > .CaptionCont,
    .SumoSelect .select-all > label {
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        overflow-wrap: normal;
    }

    .SumoSelect {
        display: inline-block;
        position: relative;
        outline: none;
        width: 100%;
        margin: 2px;
    }

        .SumoSelect:focus > .CaptionCont,
        .SumoSelect:hover > .CaptionCont,
        .SumoSelect.open > .CaptionCont {
            box-shadow: 0 0 2px #7799D0;
            border-color: #7799D0;
        }

        .SumoSelect > .CaptionCont {
            position: relative;
            /*border: 1px solid #A4A4A4;*/
            min-height: 14px;
            background-color: #fff;
            border-radius: 2px;
            margin: 0;
            /*background-color: #000;*/
            background-image: none;
            border: 1px solid;
            /*border-image-source: linear-gradient(45deg, #ffc00a, #f74476);
            border-image-slice: 1;*/
        }

            .SumoSelect > .CaptionCont > span {
                display: block;
                padding-right: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                cursor: default;
                /* margin-left:65px;*/
            }


                /*placeholder style*/

                .SumoSelect > .CaptionCont > span.placeholder {
                    color: #ccc;
                    font-style: italic;
                    font-size: 14px;
                }

            .SumoSelect > .CaptionCont > label {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30px;
            }

                .SumoSelect > .CaptionCont > label > i {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
                    background-position: center center;
                    width: 16px;
                    height: 16px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-repeat: no-repeat;
                    opacity: 0.8;
                }

        .SumoSelect > .optWrapper {
            display: none;
            z-index: 99999999;
            top: 30px;
            width: 100%;
            position: absolute;
            left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
            border-radius: 3px;
            overflow: visible;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 0px;
        }

        .SumoSelect.open > .optWrapper {
            top: 35px;
            display: block;
        }

            .SumoSelect.open > .optWrapper.up {
                top: auto;
                bottom: 100%;
                margin-bottom: 5px;
            }

        .SumoSelect > .optWrapper ul {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
            overflow: auto;
        }

        .SumoSelect > .optWrapper > .options {
            border-radius: 2px;
            position: relative;
            /*Set the height of pop up here (only for desktop mode)*/
            max-height: 250px;
            /*height*/
        }

            .SumoSelect > .optWrapper > .options li.group.disabled > label {
                opacity: 0.5;
            }

            .SumoSelect > .optWrapper > .options li ul li.opt {
                padding-left: 22px;
            }

        .SumoSelect > .optWrapper.multiple > .options li ul li.opt {
            padding-left: 50px;
        }

        .SumoSelect > .optWrapper.isFloating > .options {
            max-height: 100%;
            box-shadow: 0 0 100px #595959;
        }

        .SumoSelect > .optWrapper > .options li.opt {
            padding: 6px 6px;
            position: relative;
            border-bottom: 1px solid #f5f5f5;
        }

        .SumoSelect > .optWrapper > .options > li.opt:first-child {
            border-radius: 2px 2px 0 0;
        }

        .SumoSelect > .optWrapper > .options > li.opt:last-child {
            border-radius: 0 0 2px 2px;
            border-bottom: none;
        }

        .SumoSelect > .optWrapper > .options li.opt:hover {
            background-color: #E4E4E4;
        }

        .SumoSelect > .optWrapper > .options li.opt.sel {
            background-color: #a1c0e4;
            border-bottom: 1px solid #a1c0e4;
        }

        .SumoSelect > .optWrapper > .options li label {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            cursor: pointer;
        }

        .SumoSelect > .optWrapper > .options li span {
            display: none;
        }

        .SumoSelect > .optWrapper > .options li.group > label {
            cursor: default;
            padding: 8px 6px;
            font-weight: bold;
        }


        /*Floating styles*/

        .SumoSelect > .optWrapper.isFloating {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 90%;
            bottom: 0;
            margin: auto;
            max-height: 90%;
        }


        /*disabled state*/

        .SumoSelect > .optWrapper > .options li.opt.disabled {
            background-color: inherit;
            pointer-events: none;
        }

            .SumoSelect > .optWrapper > .options li.opt.disabled * {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                /* IE 5-7 */
                filter: alpha(opacity=50);
                /* Netscape */
                -moz-opacity: 0.5;
                /* Safari 1.x */
                -khtml-opacity: 0.5;
                /* Good browsers */
                opacity: 0.5;
            }


        /*styling for multiple select*/

        .SumoSelect > .optWrapper.multiple > .options li.opt {
            padding-left: 35px;
            cursor: pointer;
        }

    .multiple {
        /*background: black !important;
        padding: 8px 10px;
        font-size: 12px;
        border: 1px solid #dadada;*/
    }

    .SumoSelect > .optWrapper.multiple > .options li.opt span,
    .SumoSelect .select-all > span {
        position: absolute;
        display: block;
        width: 30px;
        top: 0;
        bottom: 0;
        margin-top: 5px;
    }

        .SumoSelect > .optWrapper.multiple > .options li.opt span i,
        .SumoSelect .select-all > span i {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 14px;
            height: 14px;
            border: 1px solid #AEAEAE;
            border-radius: 2px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
            background-color: #fff;
        }

    .SumoSelect > .optWrapper > .MultiControls {
        display: inline;
        border-top: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
        border-radius: 0 0 3px 3px;
    }

    .SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
        display: block;
        margin-top: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }


    .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
        display: block;
        background: #f74476;
        color: white;
    }

        .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
            /* padding: 6px;*/
        }

    .SumoSelect > .optWrapper.multiple > .MultiControls > p {
        display: inline-block;
        cursor: pointer;
        /*padding: 12px;*/
        width: 50%;
        box-sizing: border-box;
        text-align: center;
    }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
            background-color: #f74476;
            /*margin-bottom: 10px;*/
        }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
            border-right: 1px solid #DBDBDB;
            border-radius: 0 0 0 3px;
        }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
            border-radius: 0 0 3px 0;
            /* margin-bottom:5px;*/
        }


    /*styling for select on popup mode*/

    .SumoSelect > .optWrapper.isFloating > .options li.opt {
        padding: 12px 6px;
    }


    /*styling for only multiple select on popup mode*/

    .SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
        padding-left: 35px;
    }

    .SumoSelect > .optWrapper.multiple.isFloating {
        /*padding-bottom: 43px;*/
    }

    .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
    .SumoSelect .select-all.selected > span i,
    .SumoSelect .select-all.partial > span i {
        background-color: rgb(255, 155, 37);
        box-shadow: none;
        border-color: transparent;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0px;
        margin-top: 0px;
    }


    /*disabled state*/

    .SumoSelect.disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

        .SumoSelect.disabled > .CaptionCont {
            border-color: #ccc;
            box-shadow: none;
        }

    /**Select all button**/

    .SumoSelect .select-all {
        border-radius: 3px 3px 0 0;
        position: relative;
        border-bottom: 1px solid #ddd;
        /*background-color: #0d0d0d;*/
        padding: 8px 0 3px 35px;
        height: 30px;
        cursor: pointer;
    }

        .SumoSelect .select-all > label,
        .SumoSelect .select-all > span i {
            cursor: pointer;
        }

        .SumoSelect .select-all.partial > span i {
            background-color: #ccc;
        }

    /*styling for optgroups*/

    .SumoSelect > .optWrapper > .options li.optGroup {
        padding-left: 5px;
        text-decoration: underline;
    }

    .MultiControls {
        background: #ff9b25;
        color: white;
    }
</style>

<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
   
    $(document).ready(function () {
        debugger;
        $("#txtPassword").attr("type", "password");
        if (isEmpty($('#txtFirstname').val()) || isEmpty($('#txtLastname').val())) {
            $("#txtPassword").prop("disabled", false);
            $("#txtretypepwd").prop("disabled", false);
        }

        $('.ddlMultiSlectBox').SumoSelect({
            selectAll: true, okCancelInMulti: true,
            placeholder: 'This is a placeholder',
            csvDispCount: 5
        });
        $('#ddlProcess').SumoSelect({
            selectAll: true, okCancelInMulti: true,
            placeholder: 'This is a placeholder',
            csvDispCount: 5
        });
        LoadSelectedModule();

        LoadSelectedProcess();
        //$("#txtStartdate").datepicker({
        //    altFormat: "yy-mm-dd"
        //});
        $("#txtStartdate").datepicker({
            //showOn: "both",
            //buttonImageOnly: true,
            //buttonText: "",
            //changeYear: true,
            //changeMonth: true,
            //yearRange: "c-20:c+50",
           dateFormat: 'mm-dd-yy',
           buttonImage: "~/Content/images/calendar-icon.png"
        });

        $("#txtEnddate").datepicker({
            //showOn: "both",
            //buttonImageOnly: true,
            //buttonText: "",
            //changeYear: true,
            //changeMonth: true,
            //yearRange: "c-20:c+50",
            dateFormat: 'mm-dd-yy',
         //   buttonImage: rootUrl + "Content/images/calendar-icon.png"
        });
        $('#ddluserModule').change(function () {

            var len = this.options.length;
            var selectedmodule = "";
            var selectedmodule_id = "";

            for (var i = 0; i < len; i++) {
                if (this.options[i].selected) {
                    selectedmodule = selectedmodule + this.options[i].text + ",";
                    selectedmodule_id = selectedmodule_id + this.options[i].value + ",";
                }
            }
            if (selectedmodule != null || selectedmodule != "") {
                selectedmodule = selectedmodule.substring(0, selectedmodule.length - 1);
            }

            if (selectedmodule_id != null || selectedmodule_id != "") {
                selectedmodule_id = selectedmodule_id.substring(0, selectedmodule_id.length - 1);
            }
            $('#selectedmodule').val(selectedmodule_id);
        });

        $('#ddlProcess').change(function () {
            debugger;
            var len = this.options.length;
            var selectedprocess = "";
            var selectedprocess_id = "";

            for (var i = 0; i < len; i++) {
                if (this.options[i].selected) {
                    selectedprocess = selectedprocess + this.options[i].text + ",";
                    selectedprocess_id = selectedprocess_id + this.options[i].value + ",";
                }
            }
            if (selectedprocess != null || selectedprocess != "") {
                selectedprocess = selectedprocess.substring(0, selectedprocess.length - 1);
            }

            if (selectedprocess_id != null || selectedprocess_id != "") {
                selectedprocess_id = selectedprocess_id.substring(0, selectedprocess_id.length - 1);
            }
            $('#selectedprocess').val(selectedprocess_id);
        });

        $('#chkadmintype').click(function () {
            debugger;
            $('#chkadmintype').val($('#chkadmintype').is(':checked'));
        });
        $('#chkPrivacySettings').click(function () {
            debugger;
            $('#chkPrivacySettings').val($('#chkPrivacySettings').is(':checked'));
        });
    });

   
    function LoadSelectedModule() {
        debugger;
        var hdnModule = $('#selectedmodule').val();
        var SelectedModule = hdnModule.split(',');
        var len = $('.ddlMultiSlectBox')[0].options.length;
        var selectedmodule = "";
        var selectedmodule_id = "";

        for (var i = 0; i < len; i++) {
            for (var j = 0; j < SelectedModule.length; j++) {
                if ($('.ddlMultiSlectBox')[0].options[i].value == SelectedModule[j]) {
                    $('.ddlMultiSlectBox')[0].sumo.selectItem(SelectedModule[j]);
                    //$('.ddlMultiSlectBox')[0].options[i].selected = true;
                }
            }
        }
    }

    function LoadSelectedProcess() {
        debugger;
        var hdnProcess = $('#selectedprocess').val();
        var SelectedProcess = hdnProcess.split(',');
        var len = $('#ddlProcess')[0].options.length;
        var selectedprocess = "";
        var selectedprocess_id = "";

        for (var i = 0; i < len; i++) {
            for (var j = 0; j < SelectedProcess.length; j++) {
                if ($('#ddlProcess')[0].options[i].value == SelectedProcess[j]) {
                    $('#ddlProcess')[0].sumo.selectItem(SelectedProcess[j]);
                    // $('.ddlMultiSlectProcess')[0].options[i].selected = true;
                }
            }
        }
    }

    @*$(function () {

            $("#btn").click(function () {
                var obj = [],
                    items = '';
                $('.ddlMultiSlectBox option:selected').each(function (i) {
                    obj.push($(this).val());
                    $('.ddlMultiSlectBox')[0].sumo.unSelectItem(i);
                });



                // send select ittems to controlelr
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("GetCountry", "Home")',
                data: JSON.stringify(obj),
            }).done(function (result) {
                $('#result').html(result);
            });

        });
      })*@

    function validateDate() {
        debugger;
        if (!(isEmpty($('#txtStartdate').val())) && !(isEmpty($('#txtEnddate').val()))) {
            var selectedStartText = document.getElementById('txtStartdate').value;
            var selectedStartText = selectedStartText.substring(0, 10);
            //var selectedStartText = new Date(selectedStartText);
            var selectedEndText = document.getElementById('txtEnddate').value;
            var selectedEndText = selectedEndText.substring(0, 10);
            //var selectedEndText = new Date(selectedEndText);
            var mon1 = parseInt(selectedStartText.substring(0, 2), 10);
            var  dt1 = parseInt(selectedStartText.substring(3, 5), 10);
            var yr1 = parseInt(selectedStartText.substring(6, 10), 10);
            var mon2 = parseInt(selectedEndText.substring(0, 2), 10);
            var dt2 = parseInt(selectedEndText.substring(3, 5), 10);
            var yr2 = parseInt(selectedEndText.substring(6, 10), 10);

            //var date1 = new Date(yr1, mon1, dt1);
            //var date2 = new Date(yr2, mon2, dt2);
            var date1 = new Date(mon1 + "/" + dt1 + "/" + yr1);
            var date2 = new Date(mon2 + "/" + dt2 + "/" + yr2)
            if (date2 < date1) {
                $('#lblmsg').text("End date should not be lesser than start date.");
                return false;
            }
            else {
                $('#lblmsg').text("");
                return true;
            }
        }
    }

    function validateControls() {
        debugger;
        var output = 0;
        // var chkpwd = false;

        if (isEmpty($('#txtUsername').val())) {
            $('#txtUsername').css("border", "1px solid red");
            output += 1;
        }

        if (isEmpty($('#txtFirstname').val())) {
            $('#txtFirstname').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtLastname').val())) {
            $('#txtLastname').css("border", "1px solid red");
            output += 1;
        }
        var email = $('#txtEmailId').val();
        if (isEmpty($('#txtEmailId').val())) {
            $('#txtEmailId').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtPassword').val())) {
            $('#txtPassword').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtretypepwd').val())) {
            $('#txtretypepwd').css("border", "1px solid red");
            output += 1;
        }
        // chkpwd= checkPasswordMatch();
        if (isEmpty($('#ddlLocation').val())) {
            $('#ddlLocation').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#ddlRole').val())) {
            $('#ddlRole').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtStartdate').val())) {
            $('#txtStartdate').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtEnddate').val())) {
            $('#txtEnddate').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#ddluserModule').val())) {
            $('#selectDiv').css("border", "1px solid red");
            output += 1;
        }

        //if (isEmpty($('#selectedmodule').val())) {
        //    $('#selectedmodule').css("border", "1px solid red");
        //    output += 1;
        //}

        if (isEmpty($('#ddlProcess').val())) {
            $('#selectDep').css("border", "1px solid red");
            output += 1;
        }
        //if (isEmpty($('#selectedprocess').val())) {
        //    $('#selectedprocess').css("border", "1px solid red");
        //    output += 1;
        //}
        if (output > 0) {
            $('#lblmsg').text("Please fill the fields marked in red.");
            return false;
        }
        else if (!validateDate()) {
            // $('#lblmsg').text("Please fill the fields marked in red.");
            return false;
        }
        else if (!checkPasswordMatch()) {
            $('#lblmsg').text("Password does not match.");
            return false;
        }

        else if (!validateEmail()) {
            $('#lblmsg').text("Please enter a valid email.");
            return false;
        }
        else if (!ValidateUsername()) {
            $('#lblmsg').text("Please enter a valid Username.");
            return false;
        }

        else {
            $('#lblmsg').text("");
            var id = $('#hdnUser_id').val();
            var item = $('#txtUsername').val();
            var email = $('#txtEmailId').val();
            debugger;
            $.ajax({
                url: "IsUserExists",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "UserName": item, "UserId": id }),
                success: function (result) {
                    debugger;
                    if (result.err_code == 200) {
                        $('#lblmsg').text(result.err_message);
                        return false;
                    }
                    else {
                        $.ajax({
                            url: "IsEmailIdExists",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "EmailId": email, "UserId": id }),
                            success: function (result) {
                                debugger;
                                if (result.err_code == 200) {
                                    $('#lblmsg').text(result.err_message);
                                    return false;
                                }
                                else {
                                    var data = {
                                        "user_id": $('#hdnUser_id').val(),
                                        "UserName": item,
                                        "FirstName": $('#txtFirstname').val(),
                                        "LastName": $('#txtLastname').val(),
                                        "EmailId": $('#txtEmailId').val(),
                                        "password": $('#txtPassword').val(),
                                        "location": $('#ddlLocation').val(),
                                        "privacySetting": $('#chkPrivacySettings').is(':checked'),
                                        //"Admin": $('#chkadmintype').is(':checked'),
                                        "Role": $('#ddlRole').val(),
                                        "module": $('#selectedmodule').val(),
                                        "process": $('#selectedprocess').val(),
                                        "startdate": $('#txtStartdate').val(),
                                        "enddate": $('#txtEnddate').val()
                                    };
                                    var param = "{m:" + JSON.stringify(data) + "}";
                                    $.ajax({
                                        type: "POST",
                                        url: "SaveUser",
                                        contentType: "application/json; charset=utf-8",
                                        data: param,
                                        success: function (output) {
                                            debugger;
                                            //do something with response
                                            if (output.err_code == 200) {
                                                // window.location.reload();
                                                var param = { "usermessage": output.err_message };
                                                $.ajax({
                                                    url: "SetTempData",
                                                    type: 'POST',
                                                    cache: false,
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                    data: JSON.stringify(param),
                                                    success: function (result) {
                                                        debugger;
                                                        window.location.reload();
                                                        // loadmsg(result);
                                                    }
                                                });
                                            }
                                            else {
                                                $('#lbloutputmsg').text(output.err_message);
                                            }

                                        },
                                        error: function (xhr, status, error) {
                                            debugger;
                                            console.log(error);
                                            //do something about the error
                                        },
                                    });
                                    //return true;
                                }
                            }
                        });
                        return true;
                    }
                }
            });
            return false;
            //var shifts = $('#txtUsername').val();
            //var st1 = $('#txtFirstname').val();
            //var et1 = $('#txtLastname').val();
            //var st2 = $('#txtEmailId').val();
            //var et2 = $('#txtPassword').val();
            //var st3 = $('#ddlLocation').val();
            //var et3 = $('#ddlRole').val();
            //var timezone = $('#chkPrivacySettings').val();
            //var timezone = $('#chkPrivacySettings').val();
            //callSaveLocation(region, country, location_id, location, shifts, st1, et1, st2, et2, st3, et3,timezone);

        }
    }

    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }

    function checkPasswordMatch() {
        if (!(isEmpty($('#txtPassword').val())) && !(isEmpty($('#txtretypepwd').val()))) {
            var pwd = $('#txtPassword').val();
            var repwd = $('#txtretypepwd').val();
            if (pwd === repwd) {
                $('#lblmsg').text('');
                return true;
            }
            else {
                $('#lblmsg').text('Password does not match.');
                return false;
            }
        }
    }


    function validateEmail() {
        //  var re = "^[^\W_](?:[\w.-]*[^\W_])?(?:\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.|(?:[\w-]+\.)+)(?:[a-zA-Z]{2,3}|[0-9]{1,3})\]?$"
        //var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var re = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var email = document.getElementById('txtEmailId').value;
        if (!re.test(email)) {
            $('#lblmsg').text('Please enter a valid email.');
            return false;
        }
        else {
            $('#lblmsg').text('');
            return true;
        }
    }

    function ValidateUsername() {
        debugger;
        var regex = /^[A-Za-z0-9_]+$/
        var isValid = regex.test(document.getElementById("txtUsername").value);
        if (!isValid) {
            $('#lblmsg').text('Please enter a valid username.');
            return false;
        } else {
            $('#lblmsg').text('');
            return true;
        }
    }

    $('#ddlLocation').change(function () {
        debugger;
        var data = {
            "location": $('#ddlLocation').val(),
        };
        var param = "{m:" + JSON.stringify(data) + "}";
        $.ajax({
            type: "GET",
            url: "GetManager",
            contentType: "application/json; charset=utf-8",
            data: data,
            success: function (output) {
                debugger;
                console.log(output);
                $("#ddlManager").html(""); // clear before appending new list
                $.each(output, function (i, mgr) {
                    $("#ddlManager").append(
                        $('<option></option>').val(mgr.Value).html(mgr.Text));
                });

            },
            error: function (xhr, status, error) {
                debugger;
                console.log(error);
                //do something about the error
            },
        });
    });
</script>


@using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { @class = "forms" }))
{
    foreach (var m in Model)
    {
        <form action="#" method="post" novalidate="novalidate">
            <p>
                <label>User Name</label>
                @Html.HiddenFor(mi => m.user_id, new { id = "hdnUser_id" })
                @Html.TextBoxFor(mi => m.UserName, new { @class = "span3", id = "txtUsername", @maxlength = "50" })
            </p>
            <p>
                <label>First Name</label>
                @Html.TextBoxFor(mi => m.FirstName, new { @class = "span3", id = "txtFirstname" })
            </p>
            <p>
                <label>Last Name</label>
                @Html.TextBoxFor(mi => m.LastName, new { @class = "span3", id = "txtLastname" })
            </p>
            <p>
                <label>Email Id</label>
                @Html.TextBoxFor(mi => m.EmailId, new { @class = "span3", id = "txtEmailId" })
            </p>
            <p>
                <label>Password</label>
                @Html.TextBoxFor(mi => m.password, new { @class = "span3", id = "txtPassword", disabled = "true", onchange = "return checkPasswordMatch();" })
            </p>
            <p>
                <label>Re-Type Password</label>
                @Html.Password("retypepassword", m.password, new { @class = "span3", id = "txtretypepwd", disabled = "true", onchange = "return checkPasswordMatch();" })
            </p>
            <p>
                <label>Default Location</label>
                @Html.DropDownListFor(mi => m.location, CommonDropdowns.GetLocationList(m), new { @class = "span3", id = "ddlLocation" })
            </p>
            <p>
                <label>Manager</label>
                @Html.DropDownListFor(mi => m.reporting_manager, CommonDropdowns.GetManager(Convert.ToInt32(m.location_id)), new { @class = "span3", id = "ddlManager" })
            </p>
            <p>
                <label>Role Assigned</label>
                @Html.DropDownListFor(mi => m.Role, CommonDropdowns.GetRole(m), new { @class = "span3", id = "ddlRole" })
            </p>
            <p>
                <label>Department</label>
                @Html.HiddenFor(mi => m.process, new { id = "selectedprocess" })
                @Html.ListBoxFor(mi => m.process, (CommonDropdowns.getProcessDropdown()), new { @class = "span3 ddlMultiSlectProcess", id = "ddlProcess", @multiple = "multiple", @placeholder = "Please select department" })
            </p>
            <p>
                <label>Module</label>
                @Html.HiddenFor(mi => m.module, new { id = "selectedmodule" })
                @Html.ListBoxFor(mi => m.module, (CommonDropdowns.GetModuleList()), new { @class = "span3 ddlMultiSlectBox", id = "ddluserModule", @multiple = "multiple", @placeholder = "Please select module" })
            </p>
            <p>
                <div class="col-md-6 nopad_left">
                    <label>Start date</label>
                    @Html.TextBox("txtStartdate", string.Format("{0:MM-dd-yyyy}", m.startdate), new { @class = "span3", id = "txtStartdate", onchange = "return validateDate();" })
                </div><div class="col-md-6 nopad_right">
                    <label>End date</label>
                    @Html.TextBox("txtEnddate", string.Format("{0:MM-dd-yyyy}", m.enddate), new { @class = "span3", id = "txtEnddate", onchange = "return validateDate();" })
                </div>
            </p>
            <p>
                @Html.CheckBoxFor(mi => m.privacySetting, new { id = "chkPrivacySettings", @class = "span3", @style= "width: auto; padding: 0;" })
                <label for="chkPrivacySettings">Privacy settings</label>
                <span></span>
            </p>
            <p>
                <label id="lblmsg" style="color: red;"></label>
                <button type="button" class="btn btn-default" onclick="return validateControls();">Save User</button>
            </p>


            @*<div class="col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>User Name</label>
                        @Html.HiddenFor(mi => m.user_id, new { id = "hdnUser_id" })
                        @Html.TextBoxFor(mi => m.UserName, new { @class = "form-control search-slt", id = "txtUsername", @maxlength = "50" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>First Name</label>
                        @Html.TextBoxFor(mi => m.FirstName, new { @class = "form-control search-slt", id = "txtFirstname" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Last Name</label>
                        @Html.TextBoxFor(mi => m.LastName, new { @class = "form-control search-slt", id = "txtLastname" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Email Id</label>
                        @Html.TextBoxFor(mi => m.EmailId, new { @class = "form-control search-slt", id = "txtEmailId", onchange = "return validateEmail();" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Password</label>
                        @Html.TextBoxFor(mi => m.password, new { @class = "form-control search-slt", id = "txtPassword", disabled = "true", onchange = "return checkPasswordMatch();" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Re-Type Password</label>
                        @Html.Password("retypepassword", m.password, new { @class = "form-control search-slt", id = "txtretypepwd", disabled = "true", onchange = "return checkPasswordMatch();" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Default Location</label>
                        @Html.DropDownListFor(mi => m.location, CommonDropdowns.GetLocationList(m), new { @class = "form-control search-slt", id = "ddlLocation" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Manager</label>
                        @Html.DropDownListFor(mi => m.reporting_manager, CommonDropdowns.GetManager(Convert.ToInt32(m.location_id)), new { @class = "form-control search-slt", id = "ddlManager" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Role</label>
                        @Html.DropDownListFor(mi => m.Role, CommonDropdowns.GetRole(m), new { @class = "form-control search-slt", id = "ddlRole" })
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Module</label>
                        @Html.HiddenFor(mi => m.module, new { id = "selectedmodule" })
                        @Html.ListBoxFor(mi => m.module, (CommonDropdowns.GetModuleList()), new { @class = "form-control search-slt ddlMultiSlectBox", id = "ddluserModule", @multiple = "multiple", @placeholder = "Please select module" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Department</label>
                        @Html.HiddenFor(mi => m.process, new { id = "selectedprocess" })
                        @Html.ListBoxFor(mi => m.process, (CommonDropdowns.getProcessDropdown()), new { @class = "form-control search-slt ddlMultiSlectProcess", id = "ddlProcess", @multiple = "multiple", @placeholder = "Please select department" })
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>Start date</label>
                        @Html.TextBox("txtStartdate", string.Format("{0:MM-dd-yyyy}", m.startdate), new { @class = "form-control search-slt", id = "txtStartdate", onchange = "return validateDate();" })

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label>End date</label>
                        @Html.TextBox("txtEnddate", string.Format("{0:MM-dd-yyyy}", m.enddate), new { @class = "form-control search-slt", id = "txtEnddate", onchange = "return validateDate();" })

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="chiller_cb">
                            @Html.CheckBoxFor(mi => m.privacySetting, new { id = "chkPrivacySettings" })
                            <label for="chkPrivacySettings">Privacy settings</label>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <div class="chiller_cb">
                            @Html.CheckBoxFor(mi => m.Admin, new { id = "chkadmintype" })
                            <label for="chkadmintype">Admin</label>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <label id="lblmsg" style="color: red;"></label>
                        <input type="submit" value="SAVE" class="btn btn-danger wrn-btn" id="btnsubmit" onclick="return validateControls();" />
                    </div>
                </div>*@
        </form>

        break;

    }

}