﻿@model Audire_POCO.LoginPOCO
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*  <meta name="viewport" content="width=device-width" />*@
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Content/new_ui/js/jquery-1.12.1.min.js"></script>
    <script src="~/Content/new_ui/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    @*<script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <script src="~/Scripts/js/app.js"></script>*@
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">

    <script type="text/javascript">
        var rootUrl = '@Url.Content("~")';

        //$(document).ready(function () {

        //    var imgURL = rootUrl + 'Content/images/bg@3x.jpg';
        //    console.log(imgURL);
        //    $("#divWrap").css("background-image", "url(" + imgURL + ")");

        //});

        $(function () {

            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
            $('#Forgotpassword').click(function (e) {
                var email = $('#username').val();
                e.preventDefault();
                $(".form-box").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                $('#txtEmail').val(email);
                $('#forgotpwddiv').fadeIn($(this).data());
            });
            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });

            });
            $(window).resize(function () {

                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });
            $(window).resize();
        });

        function SaveDivision() {
            //var item = $('#username').val();
            var email = $('#txtEmail').val();
            if (email == "") {
                $('#txtEmail').focus();
            }
            else {
                $("#divLoading").show();
                $.ajax({
                    url: rootUrl + "User/ForgotPassword",
                    type: "POST",
                    data: ({ "UserName": email }),
                    //data: ({ username: email }),
                    dataType: "html",
                    success: function (msg) {
                        if (msg == "Error") {
                            $("#divLoading").hide();
                            alert("Sorry, Email id doesnt exists");
                            $('#txtEmail').val("");
                            $('#txtEmail').focus();
                        }
                        else if (msg == "No") {
                            $("#divLoading").hide();
                            alert("Sorry, Email id doesnt exists");
                            $('#txtEmail').val("");
                            $('#txtEmail').focus();
                        }
                        else {
                            $("#divLoading").hide();
                            $('#forgotpwddiv').fadeOut();
                            $(".modal-overlay").remove();
                            alert("Your Password details has been sent to provided mail id");
                        }
                    }
                });
            }
        }

        function specialcharecter() {
           // var iChars = "()+=-[]\\\';,./{}|\":<>?~_";
            var iChars= "^*(),.?:/{}|<>";
            var data = document.getElementById("password").value;
            for (var i = 0; i < data.length; i++) {
                if (iChars.indexOf(data.charAt(i)) != -1) {
                    alert("Your string has special characters.These are not allowed.");
                    document.getElementById("password").value = "";
                    return false;
                }
            }
            iChars = "^*(),?:/{}|<>";
            data = document.getElementById("username").value;
            for (var i = 0; i < data.length; i++) {
                if (iChars.indexOf(data.charAt(i)) != -1) {
                    alert("Your string has special characters.These are not allowed.");
                    document.getElementById("username").value = "";
                    return false;
                }
            }

        }

        function ValidatePwd() {
            debugger;
            //if (document.getElementById('password').value == "") {
            //    alert("Please provide your password");
            //    return false;
            //}
            //else if (isNaN(document.getElementById('password').value)) {
            //    alert("Please provide valid password");
            //    return false;
            //}
            var Alphabet;
            //Alphabet = "^[a-zA-Z]+$";
            Alphabet = /^[A-Za-z]+$/;
            //A-Z or a-z Alphabets only allowed

            var name = document.getElementById('password').value;
            if (name.search(Alphabet) == -1)
                //	Or
                //if (!name.match(Alphabet))
            {
                alert("Not Valid!");
                document.getElementById('password').focus();
            }
            else {
                alert("Ok!");
            }
        }

    </script>

    <style>
        /*#forgotpwddiv {
            z-index: 9999999 !important;
            position: relative;
        }*/

        .widthcls {
            width: 25% !important;
            border: solid 2px #333;
        }

        .field-validation-error, .validation-summary-errors {
            color: red;
        }

        .login-layout footer .tc_bottom {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }

        .login-form {
            overflow: hidden;
            position: relative;
            padding: 40px;
        }

        .red {
            color: red;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .btn-save {
            background: #eb197b;
            background: -webkit-linear-gradient(right, #f99b17, #ed2175);
            background: -o-linear-gradient(right, #f99b17, #ed2175);
            background: -moz-linear-gradient(right, #f99b17, #ed2175);
            background: linear-gradient(right, #f99b17, #ed2175);
            color: #fff;
            padding: 0 20px;
            min-width: 150px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
            padding: .5em 1.5em;
            float: right;
        }

        .form-control1 {
            background: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none !important;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            height: 40px;
            padding: 5px 0px;
            resize: none;
            width: 100%;
        }

        .control3 {
            margin: 0.6em 0 0.6em;
            height: 35px;
        }
    </style>
</head>
<body class="bg_black">
    @*   <div class="limiter">*@
    <div class="form-box">
        <div class="container-login100">
            <div class="wrap-login100" id="divWrap">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div>
                        <span class="login100-form-logo">
                            <img src="~/Content/images/logo.jpg" style="width:300px;" />

                        </span>
                    </div>
                    <div>
                        <div style="color: red; text-align: center; font-size: 14px">
                            @{var value = TempData["loginmessage"] as string;}
                            @if (value != null)
                            {
                                <p>@value.ToString()</p>
                            }
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter UserName">
                        @Html.TextBoxFor(model => model.username, new { placeholder = "Enter UserName", id = "username", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(model => model.password, new { placeholder = "Enter Password", id = "password", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form">
                        <div class="text-center">
                            <a class="txt1" href="#" id="Forgotpassword">
                                Forgot Password?
                            </a>
                        </div>
                        <div style="color: red">
                            @Html.ValidationMessage("LogOnError")
                        </div>
                    </div>
                    <div>
                        <div id="sucessdiv" style="display: none;">
                            <label id="lblmsg">Your New password Has been Sent to provided Email id..</label>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <input type="submit" name="name" value="Login" class="login100-form-btn" onclick="specialcharecter();" />
                    </div>@*


                                  <div id="dialog" style="display: none;">
                            <header>
                                <a href="#">×</a>
                                <h3>Forgot Password</h3>
                            </header>

                            <div>
                                @Html.ValidationSummary(true)
                                <div>
                                    @Html.Label("Username:", new { @class = "col-sm-10 control-label" })<span style="color: red">*</span>
                                </div>
                                <div>
                                    @Html.TextBox("txtEmail", null, new { @class = "form-control1 mn_inp control3", placeholder = "Enter Email Address", id = "txtEmail" })
                                </div>
                            </div>

                            <div>
                                <input type="button" class="btn-add" value="Proceed" onclick="return SaveDivision()" />

                            </div>
                        </div>*@

                                }
            </div>

        </div>
    </div>

    @*          <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
            <p style="position: absolute; top: 30%; left: 45%; color: White;">
                Loading, please wait...<img src="~/img/ajax-loading.gif">
            </p>
        </div>*@
    @*  </div>*@

    <div id="forgotpwddiv" class="modal-box widthcls" style="display: none;">
        <header>
            <a href="#" class="js-modal-close close">×</a>
            <h3>Forgot Password</h3>
        </header>

        <div class="modal-body">
            @Html.ValidationSummary(true)
            <div>
                @Html.Label("Email/Username:", new { @class = "col-sm-10 control-label" })<span style="color: red">*</span>
            </div>
            <div>
                @Html.TextBox("txtEmail", null, new { @class = "form-control1 mn_inp control3", placeholder = "Enter Email Address", id = "txtEmail" })
            </div>
            <footer>
                <input type="button" value="Proceed" class="btn-save" onclick="return SaveDivision()" />
                @*class="btn tc_bg-green tc_white width-40" *@
            </footer>
        </div>

    </div>

</body>
</html>
