﻿@model List<Audire_POCO.UsersPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}

@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<style>
    .tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
        padding: 5px;
        font-size: 15px;
    }

    .SumoSelect > .CaptionCont > span.placeholder {
        color: #55595c !important;
        font-style: normal !important;
        line-height: 1.5;
    }

    .SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label {
        font-size: 13px;
        line-height: 1.5;
        color: #55595c;
    }
    .SumoSelect > .CaptionCont
    {
        height:37px;
    }
    .SumoSelect .select-all
    {
        padding: 0 0 3px 35px!important;
    }
</style>
<script>
    $(document).ready(function () {
        var rootUrl = '@Url.Content("~")';
        setModule();
        $('#tblUser').DataTable(
           {
               'columnDefs': [{
                   'targets': [4], /* column index */
                   'orderable': false, /* true or false */
               }]
               // "info": false
           });

        //$('#tblUser').on('click', 'tbody tr td', function () {
        //    var row_index = $(this).parent().index('tr');
        //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
        //    var id = $(this).parent().find("input[type=hidden]").val();
        //    if (col_index < 5) {
        //        $("#divEditUser").hide();
        //        $('#labelMessage').empty();
        //        $('#ViewUser').show();
        //        $("#ViewUser").load(rootUrl + "User/DisplayUser",
        //   { Id: id, viewName: "DisplayUser" });
        //    }
        //    else {
        //        $('#ViewUser').hide();
        //        $("#divEditUser").show();
        //        $('#labelMessage').empty();
        //        $("#divEditUser").load(rootUrl + "User/DisplayUser",
        //   { Id: id, viewName: "EditUser" });
        //    }
        //})
      
    });

    function LoadViewForEditUser(id) {

        $("#UserHeading").text("Edit User");
        $('#ViewUser').hide();
        $("#divEditUser").show();
        $('#labelMessage').empty();
        $("#divEditUser").load(rootUrl + "User/DisplayUser",
   { Id: id, viewName: "EditUser" });
    }

    function LoadViewForNewUser() {
        $("#UserHeading").text("Add User");
        $('#labelMessage').empty();
        $('#ViewUser').hide();
        $("#divEditUser").show();
        $('#labelMessage').empty();
        $("#divEditUser").load(rootUrl + "User/AddNewUser",
        { viewName: "EditUser" });

    }
    $body = $("body");
    debugger;
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div class="col-md-4">
                <h2>User Management</h2>
                <p><a href="#">Setup</a> >> User Management</p>
            </div>

            <div class="col-md-8">
                <a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForNewUser();">+ Add User</a>
            </div>
        </div>

    </div>

    <div class="red">
        <div style="color: red; text-align: center; font-size: 14px; height: 10px;" class="statusmsg">
            @{var value = TempData["usermessage"] as string;}
            @if (value != null)
            {
                <p id="labelMessage">@value.ToString()</p>
            }
            <label id="lbloutputmsg"></label>
        </div>
    </div>

                if (Model != null)
                {
                    @*<div class="add_new_user">

                            <div class="col-lg-12">
                                <div class="add_button"><h3><a href="#" onclick="LoadViewForNewUser();"> Add New User</a></h3></div>

                            </div>
                            <div class="col-lg-12">


                                <div id="ViewUser">
                                    @Html.Partial("~/Views/User/DisplayUser.cshtml", Model)
                                </div>
                                <div id="divEditUser" style="display:none;">
                                    @Html.Partial("~/Views/User/EditUser.cshtml", Model)
                                </div>
                            </div>
                        </div>*@

                    <div class="data_user">
                        <section class="wrapper main-wrapper row">

                            <div class="col-md-12 nopad">
                                <div class="user_datatable">
                                    <table id="tblUser" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>

                                            <tr>
                                                <th>
                                                    @Html.Label("Name")
                                                </th>
                                                <th>
                                                    @Html.Label("Location")
                                                </th>
                                                <th>
                                                    @Html.Label("Email Id")
                                                </th>
                                                <th>
                                                    @Html.Label("Role")
                                                </th>
                                                <th>
                                                    @Html.Label("Actions")
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                                @Html.HiddenFor(modelItem => item.user_id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.location)                                                  
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role)
                                            </td>

                                            <td><a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForEditUser(@item.user_id);">Edit</a></td>
                                        </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                        </section>
                    </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel"><label id="UserHeading"></label></h4>
                                            </div>
                                            <div class="modal-body" id="divEditUser">
                                                @Html.Partial("~/Views/User/EditUser.cshtml", Model)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    }
                }
