﻿@model List<Audire_POCO.QuestionsPOCO>
@using Audire_MVC.Utilities 

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    table.dataTable tbody th, table.dataTable tbody td
    {
        padding:0px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#tblQuestion').on('click', function (e) {
        //    
        //    e.preventDefault();
        //    var a = $(this).closest('tr')[0].children[0].innerText;
           
        //  //  editor.edit($(this).closest('tr'), {
        //    //    title: 'Edit record',
        //       // buttons: 'Update'
        //  //  });
        //});
        
        $("#ddlQuestModule").change(function (e) {
            debugger;
            var module_id = $("#ddlQuestModule").children("option:selected").val();
            var auditType_id = $('#hdnAudit_Type').val();
            loadTable(module_id, auditType_id);
        });
    });

    function loadTable(module_id, auditType_id)
    {
        debugger;
        var commonParam = {
            "module_id": module_id,
            "Audit_type_id": auditType_id
        }
        var param = "{obj:" + JSON.stringify(commonParam) + "}";
        $("#questionList").load(rootUrl + "Questions/DisplayQuestion",
               commonParam);
        //$.ajax({
        //    url: "GetQuestionList",
        //    type: 'POST',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: param,
        //    success: function (result) {
                
        //        BindTable(result);
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
                
        //        console.log(xhr);
        //        alert(xhr);
        //    }
        //});

    }

    function BindTable(result) {
        
         var data = JSON.stringify(result);
        // console.log("data" + data);
         console.log("save1");
         if ($.fn.dataTable.isDataTable('#tblQuestion')) {
             console.log("save2");
             $('#tblQuestion').dataTable().fnDestroy();         
         }        
             var table=$('#tblQuestion').dataTable({
                 data: result,
                 paging: true,
                 sort: true,
                 searching: true,
                 scrollY: 300,
                 "columns": [
                 { "data": "question_id" , "width":"100px"},
                 { "data": "question", "width": "300px" },
                 //{ "data": "Audit_type_id" },
                 { "data": "AuditType", "width": "100px" },
                {
                    data: null,
                    className: "center",
                     "width":"100px",
                    defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>'
                }
                 ],
                 'columnDefs': [{
                     'targets': [3], /* column index */
                     'orderable': false, /* true or false */
                 }]

             });
             $(table.fnSettings().aoData).each(function () {
                 var question_id = $(this.nTr)[0].cells[0].innerText;
                 if (question_id < 1000) {
                     $(this.nTr)[0].cells[3].innerText = "";
                 }
                 //$(this.nTr).removeClass('row_selected');
             });

             //for (var i = 1; i < table[0].rows.length; i++)
             //{
             //    var question_id = table[0].rows[i].cells[0].innerText;
             //    if (question_id < 1000) {
             //        table[0].rows[i].cells[3].innerText = "";
             //    }
             //}

    }

    function LoadEdit(id)
    {
        debugger;
        console.log(id);
        $('#divModifyQuestion' + id).show();
        $('#divViewQuestion' + id).hide();
        $('#hdnquestion_id').val(id);
    }
    function ViewQuestion(id)
    {
        $('#divModifyQuestion' + id).hide();
        $('#divViewQuestion' + id).show();
        $('#hdnquestion_id').val('');
    }
    function Delete(id)
    {
        if (window.confirm("Are you sure you wish to remove this question?")) {

            var module_id, subAudit, hdnquest_id;
            module_id = $("#ddlQuestModule").children("option:selected").val();
            subAudit = $('#ddlAudit_Type').val();
            hdnquest_id = id;
            DeleteQuestion(module_id, subAudit, hdnquest_id);
        }
        else {
        }
    }
</script>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="alert alert-info alert-labeled">
                
                @if (item.question_id > 1000)
                {
                <button type="button" class="close" onclick="LoadEdit(@item.question_id);" >
                    <span aria-hidden="true"><i class="fa fa-edit"></i></span>
                    @*<span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span>*@
                </button>
                <button type="button" class="close" onclick="Delete(@item.question_id);" >
                    <span aria-hidden="true"><i class="fa fa-remove"></i></span>
                    @*<span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span>*@
                </button>
                }
                <div id="@String.Concat("divViewQuestion", item.question_id)">
                    <div class="alert-labeled-row">
                        <span class="alert-label alert-label-left alert-labelled-cell">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <p class="alert-body alert-body-right alert-labelled-cell">
                            <h6>Question @item.question_id</h6>
                            @Html.Label(@item.question)
                        </p>
                    </div>
                </div>
                <div id="@String.Concat("divModifyQuestion", item.question_id)" style="display:none;">
                    @Html.Partial("~/Views/Questions/EditQuestion.cshtml", item)
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No Questions</p>
}

    @*<table id="tblQuestion" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>Question Id</td>
                <td>Question</td>
                <td>AuditType</td>
                <td>Action</td>
            </tr>
        </thead>
    </table>*@             
                       
  