﻿@model Audire_POCO.QuestionsPOCO
@using Audire_MVC.Utilities

@*<style>
    .btn {
        margin-top: -10px;
    }

    .active {
        background-color: #f5f5f5;
    }

    .success {
        background-color: #dff0d8;
    }

    .textarea {
        min-height: 98px;
    }
</style>*@


@Html.Hidden("hdnquestion_id")
@if (Model != null)
{
    if (Model.question_id > 0)
    {
        <div class="alert-labeled-row1">
            <h6> @String.Concat("Question ",Model.question_id)</h6>
            @Html.HiddenFor(mi => Model.question_id, new { id = "hdnquestion_id"+ Model.question_id })
            @Html.TextAreaFor(mi => Model.question, new { @class = "add_text", Width = "100%", TextMode = "MultiLine", id = "txtQuestion" })
            <span class="ma_q_elliplis">
                <i class="fa fa-ellipsis-v"></i>
            </span>
            </div>
            <div id="divPart" style="display:none;">
                @*<div class="col-lg-3 col-md-3 col-sm-12 p-0 nopad">
                        <div class="mn_select">
                            <select class="form-control search-slt">
                                <option>Product</option>
                            </select>
                        </div>
                    </div>*@
                <div class="col-lg-5 col-md-3 col-sm-12 p-0">
                    <div class="mn_select">
                        @Html.TextBox("Parts", "", new { @class = "form-control search-slt", id = "txtParts", placeholder = "Parts: Please enter multiple part with comma separated" })

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                <div class="mn_select"> 
                    <label id="lblError" style="color: red;"></label>
                    <button type="button" class="btn btn-danger wrn-btn2" onclick="return validateControls();">SAVE</button>
                    <button type="button" class="btn btn-danger wrn-btn2" onclick="ViewQuestion(@Model.question_id);">CANCEL</button>
                </div>
            </div>
            }
            else
            {
            <div class="alert-labeled-row1">
                <h6>Question</h6>
                @Html.TextArea("Question", new { @class = "add_text", Width = "100%", TextMode = "MultiLine", id = "txtQuestion", placeholder = "Add your question here" })
                <span class="ma_q_elliplis">
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                <span aria-hidden="true" class="ma_close"><i class="fa fa-times"></i></span>
            </div>
            <div id="divPart" style="display:none;">
                @*<div class="col-lg-3 col-md-3 col-sm-12 p-0 nopad">
                        <div class="mn_select">
                            <select class="form-control search-slt">
                                <option>Product</option>
                            </select>
                        </div>
                    </div>*@
                <div class="col-lg-5 col-md-3 col-sm-12 p-0">
                    <div class="mn_select">
                        @Html.TextBox("Parts", "", new { @class = "form-control search-slt", id = "txtParts", placeholder = "Parts: Please enter multiple part with comma separated" })

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                <div class="mn_select">
                    <label id="lblError" style="color: red;"></label>
                    <button type="button" class="btn btn-danger wrn-btn2" onclick="return validateControls();">SAVE</button>
                    <button type="button" class="btn btn-danger wrn-btn2" onclick="ViewAdd();">CANCEL</button>
                </div>
            </div>
            }
            }
