﻿@model List<Audire_POCO.QuestionsPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
       
        $('.editor_edit').on('click', function (e) {
            debugger;
            e.preventDefault();
            $("#ddlQuestModule").prop("disabled", true);
            $("#txtParts").prop("disabled", true);
            document.getElementById('ddlAudit_Type').style.pointerEvents = 'none';
            document.getElementById('txtQuestion').innerHTML = $(this).closest('tr')[0].children[1].innerText;
            document.getElementById('hdnquestion_id').innerHTML = $(this).closest('tr')[0].children[0].innerText;
        });

        $('.editor_remove').on('click', function (e) {
            debugger;
            e.preventDefault();
            if (window.confirm("Are you sure you wish to remove this record?")) {

                var module_id, subAudit, hdnquest_id;
                module_id = $("#ddlQuestModule").children("option:selected").val();
                subAudit = $('#ddlAudit_Type').val();
                hdnquest_id = $(this).closest('tr')[0].children[0].innerText;
                DeleteQuestion(module_id, subAudit, hdnquest_id);
            }
            else {
            }
        });

        setModule();
        var module_id = $("#ddlmodule").children("option:selected").val();
        $("#ddlQuestModule").val(module_id);

        loadLabel(module_id);
        $("#ddlmodule").change(function (e) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            loadLabel(module_id);
            $("#ddlQuestModule").val(module_id);
            $('#ddlAudit_Type').val('');
            updateAuditType(module_id);
        });

        $("#ddlQuestModule").change(function (e) {
            var module_id = $("#ddlQuestModule").children("option:selected").val();
            loadLabel(module_id);
            $('#ddlAudit_Type').val('');
            updateAuditType(module_id);
        });

        updateAuditType(module_id);
        $("#add_question").click(function () {
            if (isEmpty($('#hdnAudit_Type').val())) {
                $('#ddlAudit_Type').css("border", "1px solid red");
            }
            else {
                $('#ddlAudit_Type').css("border", "");
                $("#add_question").hide();
                $("#divEditQuestion").show();
                $("#divEditQuestion").load(rootUrl + "Questions/EditQuestion",
               { viewName: "EditQuestion" });
            }
        });
    });

   
    function loadPart(module_id, audit_type) {
        $("#msg").text("");
        $.ajax({
            url: rootUrl + "PerformAudit/GetPartsForProductAudit",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id, "audit_type": audit_type }),
            success: function (result) {
                
                console.log(result);
                if (result.length > 0) {
                    $("#txtParts").val(result[0].Parts); // clear before appending new list
                }
                //$.each(result, function (i, auditType) {
                //    $("#ddlAudit_Type").append(
                //        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                //});
            }
        });
    }

    function updateAuditType(module_id)
    {
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id }),
            success: function (data) {
                console.log(data);
                var types = data;

                $('#ddlAudit_Type').autocomplete({

                    source: function (request, response) {
                        var matches = $.map(types, function (acItem) {
                            
                            if (acItem.Audit_Type.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {

                                return acItem.Audit_Type;
                            }
                        });
                        response(matches);
                    },
                    minLength: 0,
                    scroll: true,
                    autoFocus: true,
                    select: function (event, ui) {
                        var type = ui.item.value;
                        for (var m = 0; m < data.length; m++) {
                            if (data[m].Audit_Type == type) {
                                $('#hdnAudit_Type').val(data[m].ID);
                            }
                        }
                        var item = $('#hdnAudit_Type').val();
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        debugger;
                        if (module_id == 3) {
                            loadPart(module_id, item);

                        }
                        loadTable(module_id, item);
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });

            }
        });
    }

    function loadLabel(module_id) {
        $("#msg").text("");
        var audit_lbl = "";
        if (module_id == 1) {
            $('#divPart').hide();
            audit_lbl = "Compliance";
        }
        else if (module_id == 2) {
            $('#divPart').hide();
            audit_lbl = "Process";
        }
        else if (module_id == 3) {
            $('#divPart').show();
            audit_lbl = "Product";
        }
        else {
            $('#divPart').show();
            audit_lbl = "Supplier";
        }
        $('#lblAuditType').text(audit_lbl + ": ");
    }
    $('#ddlQuestModule').change(function (event) {
        var item = $("#ddlQuestModule").children("option:selected").val();
        if (item == 3)
        {
            $('#divPart').show();
        }
        else
        {
            $('#divPart').hide();
        }
        updateAuditType(item);
    });

    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }
    function validateControls() {

        var output = 0;
        if (isEmpty($('#ddlAudit_Type').val())) {
            $('#ddlAudit_Type').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtQuestion').val())) {
            $('#txtQuestion').css("border", "1px solid red");
            output += 1;
        }
        if (output == 0) {
            $('#lblmsg').text('');
            var module_id = $("#ddlQuestModule").children("option:selected").val();
            var subAudit = $('#ddlAudit_Type').val();
            //if (isEmpty(subAudit))
            //    subAudit = $('#ddlAudit_Type').val();
            //else
            //    subAudit = subAudit.label;
            var quest = $('#txtQuestion').val();
            var parts = $('#txtParts').val();
            var hdnquest_id = $('#hdnquestion_id').val();
            SaveQuestion(module_id, subAudit, quest, parts, hdnquest_id);
        }
        else {
            $('#lblmsg').text('Please enter all the mandatory fields.');
            return false;
        }
    }

    function SaveQuestion(module_id, subAudit, quest, parts, hdnquest_id) {

        $.ajax({
            url: "SaveQuestion",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ module_id: "' + module_id + '", subAudit: "' + subAudit + '", question: "' + quest + '", parts: "' + parts + '", question_id: "' + hdnquest_id + '"}',
            //data: '{ region: 'dfdf', country: 'df', location_id: '0', location: 'fdgdgfd', shifts: '5', st1: 'fgh', et1: 'fgbhfg', st2: 'ghf', et2: 'tyrty', st3: 'gfhfgh', et3: 'fghfh' }',
            success: function (result) {
              //  alert(result.err_msg);
                //window.location.reload();
                $("#txtQuestion").val("");
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                var auditType_id = result.audit_type_id;
                loadTable(module_id, auditType_id);
                $("#msg").text(result.err_msg);
                $("#ddlQuestModule").prop("disabled", false);
                $("#txtParts").prop("disabled", false);
                document.getElementById('ddlAudit_Type').style.pointerEvents = 'block';
                $("#add_question").show();
                $("#divEditQuestion").hide();

            }
        });
    }
    function ClearAll() {

        setModule();
        var module_id = $("#ddlmodule").children("option:selected").val();
        $("#ddlQuestModule").val(module_id);
        loadLabel(module_id);
        $('#txtQuestion').val("");
        $('#txtParts').val("");
        updateAuditType(module_id);
        $("#ddlQuestModule").prop("disabled", false);
        document.getElementById('ddlAudit_Type').style.pointerEvents = 'auto';
        $('#hdnquestion_id').val('');
        $("#msg").text("");
        $("#add_question").show();
        $("#divEditQuestion").hide();
        //$("#questionList").load(rootUrl + "Questions/Clear"
        //      );

    }

    function ViewAdd()
    {
        $("#add_question").show();
        $("#divEditQuestion").hide();
        $('#hdnquestion_id').val('');
        $("#msg").text("");
    }

    function DeleteQuestion(module_id, subAudit, hdnquest_id) {

        $.ajax({
            url: "DeleteQuestion",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ module_id: "' + module_id + '", subAudit: "' + subAudit + '", question_id: "' + hdnquest_id + '"}',
            //data: '{ region: 'dfdf', country: 'df', location_id: '0', location: 'fdgdgfd', shifts: '5', st1: 'fgh', et1: 'fgbhfg', st2: 'ghf', et2: 'tyrty', st3: 'gfhfgh', et3: 'fghfh' }',
            success: function (result) {
               // alert(result.err_msg);
                //window.location.reload();
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                if (result.err_code == 250) {
                    updateAuditType(module_id);
                    $("#msg").text(result.err_msg);
                }
                else {

                    var auditType_id = $('#hdnAudit_Type').val();
                    loadTable(module_id, auditType_id);
                    $("#msg").text(result.err_msg);
                }
            }
        });
    }

    $body = $("body");
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });
</script>

<style>
    .ui-autocomplete {
       z-index:9999999!important;
        position:relative;
    }
    .ui-widget.ui-widget-content
    {
        width:280px!important;
    }
</style>
<div class="col-md-12 nopad">

    <div class="bread_user">
        <div class="col-md-9">
            <h2>Questions</h2>
            <p><a href="#">Setup</a> >> Questions</p>
        </div>

        <div class="col-md-3">
            @Html.DropDownList("ddlQuestModule", (CommonDropdowns.GetModuleList()), new { @class = "form-control mn_top search-slt", id = "ddlQuestModule" })
            
        </div>
    </div>

</div>
<div class="add_new_user">
    <div class="col-lg-12">
        <div class="red">
            <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                <label id="msg"></label>
                @{var value = TempData["questionmsg"] as string;}
                @if (value != null)
                {
                    <p>@value.ToString()</p>
                }
            </div>
        </div>

        <section class="search-sec" id="text_field">
            <form action="#" method="post" novalidate="novalidate">
                <div class="col-lg-8 nopad">
                    <div class="col-lg-3 col-md-6 col-sm-12 mn_complaiacce nopad">
                        <label id="lblAuditType"></label></div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mn_complaiacce nopad">
                       
                        @Html.Hidden("hdnAudit_Type", "",new { id = "hdnAudit_Type" })
                        @Html.TextBox("ddlAudit_Type", "", new { @class = "form-control search-slt", id = "ddlAudit_Type", @maxlength = "100" })
                    </div>
                  
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 p-0 pull-right nopad">
                    <button type="button" class="btn btn-danger wrn-btn" id="add_question">+ Add Questions</button>
                </div>
               
            </form>
        </section>
    </div>
</div>
<div class="data_user">
    <section class="wrapper main-wrapper row">

        <div class="col-md-12 nopad">

            <div class="col-lg-12 col-md-12 col-sm-12" id="divEditQuestion" style="display:none;">
                
                @*@Html.Partial("~/Views/Questions/EditQuestion.cshtml")*@
                </div>
                <div id="questionList" class="col-md-12 nopad">
                    @Html.Partial("~/Views/Questions/DisplayQuestion.cshtml", Model)
                </div>
            </div>

    </section>
    </div>
<div class="loading_modal"></div>
