﻿@*@model List<Audire_POCO.DashboardPOCO>
@using Audire_MVC.Utilities*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/new_ui/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/style.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/new_ui/js/jquery-1.12.1.min.js"></script>
    <script src="~/Content/new_ui/js/jquery-ui.js"></script>
    <script src="~/Content/new_ui/js/bootstrap.js"></script>
    <script src="~/Content/new_ui/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/new_ui/js/dataTables.bootstrap.js"></script>


    <style>
        .modal
        {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        .widthcls
        {
            /*width:30%;*/
        }
        /* Modal Content/Box */
        .modal-box
        {
            background-color: #fefefe;
            /*margin:5% 15% 15% 30% !important;*/ /* 15% from the top and centered */
            top: 30%!important;
            left: 30%!important;
            padding: 50px;
            border: 1px solid #888;
            width: 40%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close
        {
            color:#111;
            float: right;
            font-size: 28px;
            font-weight: bold;
            text-decoration: none;
        }

        .field-validation-error, .validation-summary-errors
        {
            color: red;
        }

        .login-layout footer .tc_bottom
        {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }

        .btn-save
        {
            background-color: #01a89e;
            color: #fff;
            padding: .5em 1.5em;
            float: right;
        }

        .dropdown-toggle:focus
        {
            outline: 0 none;
        }


        .caret
        {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
       
    </style>
</head>
   @* @if (Model != null)
{
*@<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <h1><a class="navbar-brand" href="index.html">
                            <img src="~/Content/images/logo1.png" alt=""></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">
                                <div class="btn-group" style="width: 100%;">
                                    @*<button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown" id="ddlmodule">
                                        Select Module 
                                    </button>*@
                                    <select id="ddlmodule" class="form-control btn btn-default dropdown-toggle">
                                        @foreach (var m in (Audire_MVC.Utilities.CommonDropdowns.GetModuleListAsPerUser()))
                                        {
                                            <option value=@m.Value>@m.Text</option>
                                        }
                                    </select>

                                </div>
                             
                            </li>
                            <li class="treeview">
                                <a href="/Dashboard/Dashboard">
                                   
                                <i class="fa fa-dashboard"></i> Dashboard
                                 
                                    </a>
                               
                            </li>
                         <li class="treeview" id="listsetup">
                                <a href="#">
                                    <i class="fa fa-laptop"></i>
                                    <span>Setup</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("Role", "Role", "Role", null, new { @class = "" })</li>
                                    @*<li>@Html.ActionLink("Process", "Process", "Process", null, new { @class = "fa fa-angle-right" })</li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("Users", "Users", "User", null, new { @class = "" })</li>
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("Location", "Location", "Location", null, new { @class = "" })</li>
                                   @* <li>@Html.ActionLink("Process", "Line", "Line", null, new { @class = "fa fa-angle-right" })</li>
                                    <li>@Html.ActionLink("Product", "Part", "Part", null, new { @class = "fa fa-angle-right" })</li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("BulkQRDetails", "BulkQRDetails", "BulkQRDetails", null, new { @class = "" })</li>
                                    @* <li><a href="#"><i class="fa fa-angle-right"></i>QR Codes</a></li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("Questions", "Questions", "Questions", null, new { @class = "" })</li>

                                </ul>
                            </li>
                          @* }*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-laptop"></i>
                                    <span>Audit</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    @*<li><a href="#"><i class="fa fa-angle-right"></i>Audit plan</a></li>*@
                                    @*  <li><a href="#"><i class="fa fa-angle-right"></i>Calender</a></li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("Calendar", "Calendar", "Calendar", null, new { @class = "" })</li>
                                    @*<li><a href="#"><i class="fa fa-angle-right"></i>Perform Audit</a></li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("PerformAudit", "PerformAudit", "PerformAudit", null, new { @class = "" })</li>
                                    @* <li><a href="#"><i class="fa fa-angle-right"></i>Close Open Tasks</a></li>*@
                                    <li><i class="fa fa-angle-right"></i> @Html.ActionLink("CloseOpenTask", "CloseOpenTask", "CloseOpenTask", null, new { @class = "" })</li>
                                    @*<li><a href="#"><i class="fa fa-angle-right"></i>Tasks Overview</a></li>*@
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-edit"></i><span>Reports</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="forms.html"><i class="fa fa-angle-right"></i>Comparison Report</a></li>
                                    <li><a href="validation.html"><i class="fa fa-angle-right"></i>Audit Report Download</a></li>
                                    <li><a href="validation.html"><i class="fa fa-angle-right"></i>Audit Results Download</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->

        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-right">
            <div class="header-left">

                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>

                <!--toggle button end-->

                <!--notification menu end -->
            </div>
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(@Session["LoginFullName"])) ? "WelcomeGuest" : Convert.ToString(@Session["LoginFullName"]))
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li><a href="#" id="resetpassword">Reset Password</a> </li>
                                <li>@Html.ActionLink("Logout", "LogOut", "User", null, new { role = "button" })</li>
                                @* <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a> </li>*@
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="mn_body_main">
        <div id="dialog" class="modal-box widthcls" style="display: none">
           @* <header>*@
                <a href="#" class="js-modal-close close">×</a>
                <h4 class="title2" style="color: #337ab7;">Reset Password</h4>
            @*</header>*@

            <div class="modal-body">
                @Html.ValidationSummary(true)
                <div>
                    @Html.Password("oldPassword", null, new { @class = "form-control1 mn_inp control3", placeholder = "Enter Old Password", id = "txtoldPassword" })
                 @*   @Html.LabelForModel( new  {id="lbloldpwd" })*@
                </div>
                <div>
                    @Html.Password("newPassword", null, new { @class = "form-control1 mn_inp control3", placeholder = "Enter New Password", id = "txtnewPassword" })
                </div>
                <div>
                    @Html.Password("retypePassword", null, new { @class = "form-control1 mn_inp control3", placeholder = "Retype New Password", id = "txtretypePassword" })
                </div>
            </div>

           @* <footer>*@
                <label id="lblErrorMsg" style="color: red"></label>
                <input type="button" class="btn-save" value="Reset" onclick="return Resetpassword();" />
                @*class="btn tc_bg-green tc_white width-40" *@
           @* </footer>*@

        </div>


    </div>
    @RenderBody()
    @*  @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@

    <!--footer-->
    <div class="footer_1">
        <p style="color: white">© 2019 Audire. All Rights Reserved</p>
    </div>
    <!--//footer-->

    <style>
        .a
        {
            color: #01a89e;
        }
    </style>


    <script>
        $('.sidebar-menu').SidebarNav()
    </script>

    <script type="text/javascript">
        var rootUrl = '@Url.Content("~")';
        $(function () {
            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
            $('#resetpassword').click(function (e) {
                
                e.preventDefault();
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                $('#dialog').fadeIn($(this).data());
            });
            $(".js-modal-close, .modal-overlay").click(function () {
                
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });

            });
            $(window).resize(function () {
                
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });

            $(window).resize();
            
            
        });

        function Resetpassword() {
            debugger;
            var rootUrl = '@Url.Content("~")';
            if (isEmpty($('#txtoldPassword').val())) {
                $('#txtoldPassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtoldPassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if (isEmpty($('#txtnewPassword').val())) {
                $('#txtnewPassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtnewPassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if (isEmpty($('#txtretypePassword').val())) {
                $('#txtretypePassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtretypePassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if ($('#txtnewPassword').val() == $('#txtretypePassword').val()) {
                $('#txtretypePassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
                var old = $('#txtoldPassword').val();
                var newp = $('#txtnewPassword').val();
                var param = "{oldPassword:'" + old + "', newPassword:'"+newp+"'}";
                $.ajax({
                    url: rootUrl + "User/ResetPassword",
                    type: "POST",
                    data: param,
                   // data: ({ "UserName": item, "UserId": id }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        debugger;
                        if (msg.err_code == 250) {
                            debugger;
                            $("#lblErrorMsg").text(msg.err_msg);
                        }
                        else{
                            alert(msg.err_msg);
                            if (msg.err_msg = "Password is updated successfully.") {
                                    $(".modal-box, .modal-overlay").fadeOut(500, function () {
                                        $(".modal-overlay").remove();
                                    });
                                    $('#txtoldPassword').val("");
                                    $('#txtnewPassword').val("");
                                    $('#txtretypePassword').val("");
                                }
                            }
                        }
                });
            }
            else {
                $('#txtretypePassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Password Mismatch.");
                return false;
            }
        }

        function isEmpty(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }

        function setModule() {
            
            var module_id = '@Request.RequestContext.HttpContext.Session["module"]';
            var len = $('#ddlmodule')[0].length;
            if (module_id != 0 && module_id != null) {
                for (var i = 0; i < len; i++) {
                    if ($('#ddlmodule')[0].options[i].value == module_id) {
                        $('#ddlmodule')[0].options[i].selected = true;
                    }
                }
            }
            //$.ajax({
            //    url: rootUrl + "PerformAudit/GetModuleSession",
            //    type: 'GET',
            //    cache: false,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    //data: ({ "module": item }),
            //    success: function (result) {
            //        
            //        console.log("session");
            //        console.log(result);
            //        if (result != null) {
            //            var module_id = result.module_id;
            //            if (module_id != 0 && module_id != null) {
            //                for (var i = 0; i < 3; i++) {
            //                    if ($('#ddlmodule')[0].options[i].value == module_id) {
            //                        $('#ddlmodule')[0].options[i].selected = true;
            //                    }
            //                }
            //            }
            //        }
            //    }
            //});
        }

        $(document).ready(function () {
            
            setModule();
            //  sessionStorage.getItem("Module", $("#ddlmodule").children("option:selected").val());

        })
        var value = '@Request.RequestContext.HttpContext.Session["global_admin"]';
        debugger;
        if (value == 'Y') {
            $("#listsetup").show();
            
        }
        else {
            $("#listsetup").hide();
           
        }
        $('#lstmodule').change(function () {
            alert('x');
        });

        $('#ddlmodule').on("change", function (event) {            
            var args = event.args;
            var item = $(this).children("option:selected").val();
            //sessionStorage.setItem("Module", item);
            $.ajax({ 
                url: rootUrl + "PerformAudit/SetModuleSession",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "module": item }),
                success: function (result) {
                    
                    console.log("session");
                    console.log(result);
                    //$("#ddlmodule").html(""); // clear before appending new list 
                    //setSession(result);
                }
            });
        });

        //function setSession(result) {
        //    
        //    if (result.length > 0)
        //        sessionStorage.setItem("Module", result[0].module_id);
        //}
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
      
    </script>
    <div id="ascrail2000" class="nicescroll-rails" style="width: 6px; z-index: 1000; background: rgb(66, 79, 99); cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0; display: block;">
        <div style="position: relative; top: 0px; float: right; width: 6px; height: 98px; background-color: rgb(242, 179, 63); border: 0px; background-clip: padding-box; border-radius: 10px;"></div>
    </div>
    <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 6px; z-index: 1000; background: rgb(66, 79, 99); position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
        <div style="position: relative; top: 0px; height: 6px; width: 1326px; background-color: rgb(242, 179, 63); border: 0px; background-clip: padding-box; border-radius: 10px;"></div>
    </div>

</body>
   @* }*@
</html>
