﻿@*@model List<Audire_POCO.DashboardPOCO>
@using Audire_MVC.Utilities*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <script src="~/Scripts/js/app.js"></script>
    @* <script src="https://code.jquery.com/jquery-1.12.1.js"></script>*@
    <script src="~/Scripts/js/jquery-ui.js"></script>
    @*    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>*@

    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/popper.min.js"></script>

    @*    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

    <script src="~/Content/vendor/bootstrap/js/tooltip.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
   @* <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    @*<link href="~/Content/css/chosen.css" rel="stylesheet" />*@
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    @*<link href="~/Content/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/SidebarNav.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/js/modernizr.custom.js"></script>*@
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

    <link href="~/Content/css/custom.css" rel="stylesheet">
    @*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/js/metisMenu.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/classie.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/SidebarNav.min.js"></script>
    <style>
        .modal
        {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        .widthcls
        {
            /*width:30%;*/
        }
        /* Modal Content/Box */
        .modal-box
        {
            background-color: #fefefe;
            /*margin:5% 15% 15% 30% !important;*/ /* 15% from the top and centered */
            top: 30%!important;
            left: 30%!important;
            padding: 50px;
            border: 1px solid #888;
            width: 40%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close
        {
            color:#111;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .field-validation-error, .validation-summary-errors
        {
            color: red;
        }

        .login-layout footer .tc_bottom
        {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }

        .close:hover,
        .close:focus
        {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .btn-save
        {
            background-color: #01a89e;
            color: #fff;
            padding: .5em 1.5em;
            float: right;
        }

        .dropdown-toggle:focus
        {
            outline: 0 none;
        }


        .caret
        {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        .dashboard
        {

        }
       
    </style>
</head>
   @* @if (Model != null)
{
*@<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
           
        </div>
        <!--left-fixed -navigation-->

        <!-- header-starts -->
       
    </div>

   
    @RenderBody()
    @*  @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@

    <!--footer-->
    <div class="footer_1">
        <p style="color: white">© 2019 Audire. All Rights Reserved</p>
    </div>
    <!--//footer-->

    <style>
        .a
        {
            color: #01a89e;
        }
    </style>


   
    <div id="ascrail2000" class="nicescroll-rails" style="width: 6px; z-index: 1000; background: rgb(66, 79, 99); cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 0; display: block;">
        <div style="position: relative; top: 0px; float: right; width: 6px; height: 98px; background-color: rgb(242, 179, 63); border: 0px; background-clip: padding-box; border-radius: 10px;"></div>
    </div>
    <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 6px; z-index: 1000; background: rgb(66, 79, 99); position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;">
        <div style="position: relative; top: 0px; height: 6px; width: 1326px; background-color: rgb(242, 179, 63); border: 0px; background-clip: padding-box; border-radius: 10px;"></div>
    </div>

</body>
   @* }*@
</html>
