﻿@model Audire_MVC.Models.CalendarEvent
@using Audire_MVC.Utilities
<script src="~/Scripts/js/calender.js"></script>
<link href="~/Content/css/calender.css" rel="stylesheet" />
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        var module = $('#ddlmodule').val();
        $('#ddlplanmodule').val(module);
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module }),
            success: function (result) {
                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
        @* $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            firstDay: 1, //The day that each week begins (Monday=1)
            slotMinutes: 60,
            events: '@Url.RouteUrl(new{ action="GetEvents", controller="Calendar"})'
        });*@
        PageLoadScript();
        LoadCalender();
        $('#ddlplanmodule').change(function (event) {

            var item = $("#ddlplanmodule").children("option:selected").val();

            $.ajax({
                url: rootUrl + "PerformAudit/GetAuditType",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "module_id": item }),
                success: function (result) {
                    $("#ddlAudit_Type").html(""); // clear before appending new list
                    $.each(result, function (i, auditType) {
                        $("#ddlAudit_Type").append(
                            $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                    });
                }
            });
        });

        $('#ddlmodule').change(function (event) {

            var loc = $('#ddlLocation').val();
            var module = $('#ddlmodule').val();
            $('#ddlplanmodule').val(module);
            var events = {
                url: rootUrl+'Calendar/GetEvents',
                type: 'POST',
                data: { location: loc, module_id: module }
            }
            $('#calendar').fullCalendar('removeEventSource', events);
            $('#calendar').fullCalendar('addEventSource', events);
            $('#calendar').fullCalendar('refetchEvents');
        });

    });
    $('#ddlplanmodule').change(function (event) {

        var item = $("#ddlplanmodule").children("option:selected").val();

        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": item }),
            success: function (result) {
                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
    });
    function PageLoadScript() {

        var loc = $('#ddlLocation').val();
        var module = $('#ddlmodule').val();
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#external-events div.external-event').each(function () {
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };
            $(this).data('eventObject', eventObject);
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });

        var calender = $('#calendar').fullCalendar({
            weekNumbers: true,
            header: {
                left: 'title',
                center: 'agendaDay,agendaWeek,month',
                right: 'prev,next today'
            },
            editable: true,
            firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
            selectable: true,
            defaultView: 'month',

            axisFormat: 'h:mm',
            columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
            },
            allDaySlot: false,
            eventClick: updateEvent,
            selectHelper: true,
            select: selectDate,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function (date, allDay) { // this function is called when something is dropped

                var originalEventObject = $(this).data('eventObject');
                var copiedEventObject = $.extend({}, originalEventObject);
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                if ($('#drop-remove').is(':checked')) {
                    $(this).remove();
                }
            },
            events: {
                url: rootUrl + 'Calendar/GetEvents',
                type: 'POST',
                data: { location: loc, module_id: module }
            }
            //events: '@Url.RouteUrl(new { action = "GetEvents", controller = "Calendar" })'
            //[{ "audit_plan_id": 114, "planned_date": "07-31-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "Group1", "allDay": false, "title": "Group1", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 0, "Userflag": "N" }, { "audit_plan_id": 112, "planned_date": "07-19-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "Group1", "allDay": false, "title": "Group1", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 0, "Userflag": "N" }, { "audit_plan_id": 113, "planned_date": "07-12-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "Group1", "allDay": false, "title": "Group1", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 0, "Userflag": "N" }, { "audit_plan_id": 115, "planned_date": "07-12-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 118, "planned_date": "07-12-2017 00:00:00 AM", "shift_no": 3, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 129, "planned_date": "07-11-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "Bakta Salla", "allDay": false, "title": "Bakta Salla", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 12, "Userflag": "Y" }, { "audit_plan_id": 127, "planned_date": "07-11-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 128, "planned_date": "07-10-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 126, "planned_date": "07-10-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 123, "planned_date": "07-09-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 124, "planned_date": "07-09-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 125, "planned_date": "07-09-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 120, "planned_date": "07-08-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 121, "planned_date": "07-08-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 122, "planned_date": "07-08-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 119, "planned_date": "07-07-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 116, "planned_date": "07-05-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 117, "planned_date": "07-05-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "Bakta Salla", "allDay": false, "title": "Bakta Salla", "line_product_rel_id": 4, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 12, "Userflag": "Y" }, { "audit_plan_id": 111, "planned_date": "06-23-2017 00:00:00 AM", "shift_no": 3, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 110, "planned_date": "06-22-2017 00:00:00 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 109, "planned_date": "06-21-2017 11:52:40 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 108, "planned_date": "06-20-2017 11:52:35 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 107, "planned_date": "06-19-2017 11:52:30 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 106, "planned_date": "06-18-2017 11:52:25 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 105, "planned_date": "06-17-2017 11:52:21 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 104, "planned_date": "06-16-2017 11:52:17 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 103, "planned_date": "06-15-2017 11:52:13 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 102, "planned_date": "06-14-2017 11:52:08 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 101, "planned_date": "06-13-2017 11:52:02 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }, { "audit_plan_id": 100, "planned_date": "06-12-2017 11:51:24 AM", "shift_no": 1, "Emp_name": "akhila", "allDay": false, "title": "akhila", "line_product_rel_id": 1, "line_id": 1, "product_id": 1, "to_be_audited_by_user_id": 6, "Userflag": "Y" }]

        });
    }
    function ValidateControl() {
         var output = 0;
        if (isEmpty($('#ddlusers').val())) {
            $('#ddlusers').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtPlannedStartDate').val())) {
            $('#txtPlannedStartDate').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtPlannedEndDate').val())) {
            $('#txtPlannedEndDate').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#ddlLocation').val())) {
            $('#ddlLocation').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#ddlplanmodule').val())) {
            $('#ddlplanmodule').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#ddlAudit_Type').val())) {
            $('#ddlAudit_Type').css("border", "1px solid red");
            output += 1;
        }
        if (output == 0)
            return true;
        else
            return false;
    }
    function updateEvent(event, element, start, end) {
        //alert("Update Event");

        $('#lblError').text('');
        if ($(this).data("qtip")) $(this).qtip("destroy");
        currentUpdateEvent = event;
        $("#PlanDialog").dialog({
            open: function () {
                $(this).closest(".ui-dialog")
                .find(".ui-dialog-titlebar-close")
                .removeClass("ui-dialog-titlebar-close")
                .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
            }
        });

        $('#PlanDialog').dialog({
            title: "Create Plan",
            height: 330,
            width: 500,
            closeOnEscape: false,

            buttons: [
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "Save",
                    click: function () {
                        debugger;
                        var flag = ValidateControl();
                        if(flag==true)
                            CreateUpdatePlan($('#hdnPlanId').val(), $('#ddlusers').val(), $("#txtPlannedStartDate").val(), $("#txtPlannedEndDate").val(), $('#ddlLocation').val(), $('#ddlplanmodule').val(), $('#ddlAudit_Type').val());
                    }
                }
            ]
        });
        //$('#addDialog').modal();
        var audit_type_id = event.Audit_type_id;
        var module_id = event.module_id;
        var emp_name = event.to_be_audited_by_user_id;
        var line_id = event.line_id;
        var audit_id = event.audit_plan_id;
        //var flag = event.Userflag;
        var planned_date = event.planned_date;
        var formated_date = new Date(planned_date);
        var planned_end_date = event.planned_end_date;
        var formated_end_date = new Date(planned_end_date);
        var DD = formated_date.getDate();
        var MM = formated_date.getMonth() + 1; //January is 0!
        var YYYY = formated_date.getFullYear();
        if (DD < 10) {
            DD = '0' + DD
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        var newdt = DD + '-' + MM + '-' + YYYY;

        DD = formated_end_date.getDate();
        MM = formated_end_date.getMonth() + 1; //January is 0!
        YYYY = formated_end_date.getFullYear();
        if (DD < 10) {
            DD = '0' + DD
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        var newenddt = DD + '-' + MM + '-' + YYYY;
        $('#ddlusers').val(emp_name);
        $('#hdnPlanId').val(audit_id);
        $('#txtPlannedStartDate').val(newdt);
        $('#txtPlannedEndDate').val(newenddt);
        $('select[name^="module"] option[value="' + module_id + '"]').attr("selected", "selected");

        //if (flag == 'Y') {
        //    MainContent_rdbOwnerType_0.checked = true;
        //    $("#MainContent_ddlusers").show();
        //    $("#MainContent_ddlGroup").hide();
        //}
        //if (flag == 'N') {
        //    MainContent_rdbOwnerType_1.checked = true;
        //    $("#MainContent_ddlusers").hide();
        //    $("#MainContent_ddlGroup").show();
        //}
        //alert(new Date());
        var diff = daydiff(formated_date, new Date());
        if (diff < 7) {
            $('#MainContent_btnSave').css('display', 'none');
            $('#MainContent_btnDelete').css('display', 'none');
        }
        else {
            $('#MainContent_btnSave').css('display', 'block');
            $('#MainContent_btnDelete').css('display', 'block');
        }
        var item = $("#ddlplanmodule").children("option:selected").val();

        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": item }),
            success: function (result) {
                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
        $('select[name^="audit_type"] option[value="' + audit_type_id + '"]').attr("selected", "selected");

        $("#txtPlannedStartDate").datepicker({
            showOn: "both",
            buttonImageOnly: true,
            buttonText: "",
            changeYear: true,
            changeMonth: true,
            yearRange: "c-20:c+50",
            //minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl + "Content/images/calendar-icon.png",
        });
        $("#txtPlannedEndDate").datepicker({
            showOn: "both",
            buttonImageOnly: true,
            buttonText: "",
            changeYear: true,
            changeMonth: true,
            yearRange: "c-20:c+50",
            // minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl + "Content/images/calendar-icon.png"
        });

        $("#MainContent_txtPlannedStartDate").attr('disabled', 'disabled');
        $("#MainContent_txtPlannedEndDate").attr('disabled', 'disabled');
    }
    function selectDate(start, end, allDay) {

        $('#lblError').text('');
        var newstartdt = [start.getMonth(),
           start.getDate(),
           start.getFullYear()].join('-') + ' ' +
          [start.getHours(),
           start.getMinutes(),
           start.getSeconds()].join(':');
        var newenddt = [end.getMonth(),
           end.getDate(),
           end.getFullYear()].join('-') + ' ' +
          [end.getHours(),
           end.getMinutes(),
           end.getSeconds()].join(':');
        var today = new Date();
        var DD = today.getDate();
        var MM = today.getMonth() + 1; //January is 0!
        var YYYY = today.getFullYear();
        if (DD < 10) {
            DD = '0' + DD
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        var hh = today.getHours();
        var mm = today.getMinutes();
        var ss = today.getSeconds();

        var todaydate = MM + '-' + DD + '-' + YYYY + ' ' + hh + ':' + mm + ':' + ss;
        var newstartdate = new Date(newstartdt);
        var today_date = new Date(todaydate);
        var newenddate = new Date(newenddt);

        end = getFriday(start);
        start = getMonday(start);
        var diff = daydiff(start, new Date());

        //$('#addDialog').modal({
        //    buttons: {
        //        "Add": function () {
        //            //alert("sent:" + addStartDate.format("dd-MM-yyyy hh:mm:ss tt") + "==" + addStartDate.toLocaleString());
        //            var eventToAdd = {
        //                title: $("#addEventName").val(),
        //                description: $("#addEventDesc").val(),
        //                start: addStartDate.toJSON(),
        //                end: addEndDate.toJSON(),

        //                allDay: isAllDay(addStartDate, addEndDate)
        //            };

        //            if (checkForSpecialChars(eventToAdd.title) || checkForSpecialChars(eventToAdd.description)) {
        //                alert("please enter characters: A to Z, a to z, 0 to 9, spaces");
        //            }
        //            else {
        //                //alert("sending " + eventToAdd.title);

        //                PageMethods.addEvent(eventToAdd, addSuccess);
        //                $(this).dialog("close");
        //            }
        //        }
        //    }
        //});
        $("#PlanDialog").dialog({
            open: function () {
                $(this).closest(".ui-dialog")
                .find(".ui-dialog-titlebar-close")
                .removeClass("ui-dialog-titlebar-close")
                .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
            }
        });

        $('#PlanDialog').dialog({
            title: "Create Plan",
            height: 330,
            width: 500,
            closeOnEscape: false,
            buttons: [
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "Save",
                    click: function () {
                        debugger;
                        var flag = ValidateControl();
                        if (flag == true)
                        CreateUpdatePlan(0, $('#ddlusers').val(), $("#txtPlannedStartDate").val(), $("#txtPlannedEndDate").val(), $('#ddlLocation').val(), $('#ddlplanmodule').val(), $('#ddlAudit_Type').val());
                    }
                }
            ]
        });

        var DD = start.getDate();
        var MM = start.getMonth() + 1; //January is 0!
        var YYYY = start.getFullYear();
        if (DD < 10) {
            DD = '0' + DD
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        var newstartdt = DD + '-' + MM + '-' + YYYY;
        //start.format("DD-MM-YYYY");
        ////alert(newstartdt);
        ////var dateEnd = new Date(end);
        //var newEnddt = end.format("MM-DD-YYYY hh:mm:ss T")
        $("#txtPlannedStartDate").val("" + newstartdt);
        var DD = end.getDate();
        var MM = end.getMonth() + 1; //January is 0!
        var YYYY = end.getFullYear();
        if (DD < 10) {
            DD = '0' + DD
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        var newenddt = DD + '-' + MM + '-' + YYYY;
        $("#txtPlannedEndDate").val("" + newenddt);
        $("#addEventEndDate").val("" + newenddt);
        //$("#txtPlannedStartDate").attr('disabled', 'disabled');
        //$("#txtPlannedEndDate").attr('disabled', 'disabled');

        tempStartDate = "" + start.toLocaleString();
        tempEnddate = "" + end.toLocaleString();
        addStartDate = start;
        addEndDate = end;
        globalAllDay = allDay;


        $('#ddlusers').val('');
        $('#hdnPlanId').val('');

        var diff = daydiff(new Date(), start);
        //if (diff > 7) {
        //    $('#MainContent_btnSave').css('display', 'none');
        //    $('#MainContent_btnDelete').css('display', 'none');
        //}
        //else {
        //    $('#MainContent_btnSave').css('display', 'block');
        //}

        var item = $("#ddlmodule").children("option:selected").val();

        $.ajax({
            url: rootUrl+"PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": item }),
            success: function (result) {

                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });

        $("#txtPlannedStartDate").datepicker({
            showOn: "both",
            buttonImageOnly: true,
            buttonText: "",
            changeYear: true,
            changeMonth: true,
            yearRange: "c-20:c+50",
            //minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl+"Content/images/calendar-icon.png",
        });
        $("#txtPlannedEndDate").datepicker({
            showOn: "both",
            buttonImageOnly: true,
            buttonText: "",
            changeYear: true,
            changeMonth: true,
            yearRange: "c-20:c+50",
            // minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl+"Content/images/calendar-icon.png"
        });

    }


    function CreateUpdatePlan(plan_id, user_id, start_date, end_date, location, module, audit_type) {

        var commonParam = {
            "audit_plan_id": plan_id,
            "user_id": user_id,
            "planned_date": start_date,
            "planned_end_date": end_date,
            "location": location,
            "module_id": module,
            "audit_type_id": audit_type
        }
        var param = "{obj:" + JSON.stringify(commonParam) + "}";
        $.ajax({
            url: "SavePlan",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: param,
            success: function (msg) {
                alert(msg.err_msg);
                window.location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });

    }

    function getMonday(d) {
        //////debugger
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
        return new Date(d.setDate(diff));
    }
    function getFriday(d) {
        ////debugger
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? 0 : 5); // adjust when day is sunday
        return new Date(d.setDate(diff));
    }
    function daydiff(second, first) {
        return Math.round((second - first) / (1000 * 60 * 60 * 24));
    }


</script>

<style>
    .text_data_darker p {
        float: right;
    }

    .ui-dialog .ui-dialog-buttonpane {
        padding: 0 0 0 0;
    }

    .ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable ui-dialog-buttons {
        background: black !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        background: #3bc989 !important;
    }

    .ui-widget.ui-widget-content {
        width: 300px;
        border: #ffc00b 1px solid;
    }

    .ui-datepicker .ui-datepicker-title select {
        color: black;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        color: white;
    }

    .ui-widget.ui-widget-content {
        background: black;
    }

    .ui-datepicker .ui-datepicker-title select {
        background: none;
        color: white;
    }

    .ui-dialog .ui-dialog-buttonpane {
        background: black;
    }

        .ui-dialog .ui-dialog-buttonpane button {
            font-weight: 400;
            text-transform: capitalize;
            height: 37px;
            font-size: 14px;
            background-color: #ff9b25;
            color: #fff;
            border-radius: 5px;
        }
        .ui-dialog .ui-dialog-content
        {
            overflow:hidden;
                height: 275px!important;
        }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background: none;
         border: none;
    }
</style>
<div class="col-lg-12">
    <div id='calendar'></div>
</div>

<div id="PlanDialog" style="display: none;    height: 275px;">
    <div>
        <section class="search-sec">
            <div class="col-lg-12 nopad">
                <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <label>Employee Name</label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 p-0">
                    @Html.DropDownList("employee", (new CommonDropdowns().GetUserList()), new { @class = "form-control search-slt", id = "ddlusers", @maxlength = "50" })
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <label>Module</label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 p-0">
                    @Html.DropDownList("module", (CommonDropdowns.GetModuleListAsPerUser()), new { @class = "form-control search-slt", id = "ddlplanmodule" })
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <label>Audit Type</label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 p-0">
                    @Html.DropDownList("audit_type", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <label>Planning Start</label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 p-0">
                    @Html.TextBox("txtPlannedStartDate", "", new { @class = "form-control search-slt" })
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 p-0">
                    <label>Planning End</label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 p-0">
                    @Html.TextBox("txtPlannedEndDate", "", new { @class = "form-control search-slt" })
                </div>
            </div>

        </section>


        @Html.Hidden("hdnPlanId")

    </div>
</div>
