﻿@model List<Audire_POCO.CAPA_POCO>

<script>
    $(document).ready(function () {
        $('.table').dataTable();

    })

    function LoadPopup(audit_id)
    {
        $('#hdnaudit_id').val(audit_id);
    }

    function SaveConfirmation(confirm)
    {
        var audit_id=$('#hdnaudit_id').val();
        $.ajax({
            url: rootUrl + "CAPA/SaveConfirmation",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ audit_id: "' + audit_id + '", confirm: "' + confirm + '"}',
            // data: {},
            success: function (result) {
                debugger;
                $('#myModal').attr('style', 'display: none;')
                alert(result.err_msg);
                var id = $("#ddlAudit_Type").children("option:selected").val();
                var name = $("#ddlAudit_Type").children("option:selected").text();
                $("#viewCAPA").load(rootUrl + "CAPA/LoadCAPAReport",
             { auditType: id, auditType_name: name });
                                 
            }
        });
        //$(this).dialog("close");
    }
</script>
<style>
    /*.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        width: 50px !important;
    }*/

    .mn_green thead {
        background-image: none;
    }

    .mn_red_1 thead {
        background-image: none;
        color: #6c757d;
    }
    .mn_blue thead
    {
        background-image:none;
    }
    .mn_orange thead
    {
        background-image:none;
    }
    .table > tbody > tr > td>label {
        font-weight:normal;
    }
</style>
@if (Model != null)
{
    <div class="col-md-12 nopad">
        <div class="table-responsive mn_green">
            <table class="table">
                <thead>
                    <tr>
                        <th>Audit Number</th>
                        <th>Report Date</th>
                        <th>Containment <small>(24 Hours from report date)</small></th>
                        <th>Preventive action Date <small>(90 Days from report date)</small></th>
                        <th>CAPA Status</th>
                        <th>Effectiveness Check</th>
                        <th>Effectiveness Status</th>
                    </tr>
                </thead>
                <tbody>
@foreach (var m in Model)
{
                    <tr>
                        <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Audit_number)) ? "" : Convert.ToString(m.Audit_number))</td>
                        <td>@m.report_date</td>
                        <td>@m.containment</td>
                        <td>@m.target_date</td>
                        <td class="@(Convert.ToString(m.Status) == "OnTime" ? "td-actions mn_green_color" : (Convert.ToString(m.Status) == "Delayed" ? "td-actions mn_red" : "td-actions mn_yellow"))">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td>
                            @Html.Hidden("hdnAudit", Convert.ToString(m.audit_id))
                            @if (String.IsNullOrEmpty(Convert.ToString(m.confirm_comment)))
                            {
                                if (Convert.ToString(m.Status) == "OnTime")
                                {


                                    <a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadPopup(@Convert.ToString(m.audit_id));">
                                        <button class="btn btn-primary btn-xs">
                                            Working fine?

                                        </button>
                                    </a>
                                }
                                else
                                {
                                    <p>Not Reviewed</p>
                                }
                            }
                            else
                            {
                                if (Convert.ToString(m.confirm_comment) == "Y")
                                {
                                    <p>Effective</p>
                                }
                                else
                                {
                                    <p>Not Effective</p>
                                }
                            }
                        </td>
                        <td class="@(String.IsNullOrEmpty(Convert.ToString(m.confirm_comment))  ? "td-actions mn_yellow" : (Convert.ToString(m.confirm_comment) == "Y" ? "td-actions mn_green_color" : "td-actions mn_red"))">
                            <i class="fa fa-circle"></i>
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Effectiveness Check?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you confirming that the proper action is taken?
                        @Html.Hidden("hdnaudit_id",new { id= "hdnaudit_id" })
                    </p>
                    <hr />
                    <p>
                        <button style="width:20%;" type="button" onclick="return SaveConfirmation('Y');" class="btn btn-default">Yes</button>
                        <button style="width:20%;" type="button" onclick="return SaveConfirmation('N');" class="btn btn-default">No</button>
                    </p>
                </div>
            </div>
        </div>
    </div>


    @*<h4>Type of Audit: @Html.Label(m.SubAudit_Name) <small>Date: 20-02-2020</small></h4>*@
    @*<table class="table">
        <thead>
            <tr>
                <th>Audit Number</th>
                <th>Question No</th>
                <th width="30px">Findings (Comments)</th>
                <th>Clause No</th>
                <th>Root Cause</th>
                <th>Correction</th>
                @foreach (var m in Model)
                {
                    if (Convert.ToInt32(Session["module"]) == 1 || Convert.ToInt32(Session["module"]) == 4)
                    {
                        <th>Corrective Action</th>
                        <th>Preventive Action</th>
                    }
                    break;
                }
                <th>Target Date</th>
                <th>Responsibility<br />(Assigned To)</th>
                <th>Status</th>
                <th>Effectiveness Check</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
                {
                <tr>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Audit_number)) ? "" : Convert.ToString(m.Audit_number))</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.question_id)) ? "" : Convert.ToString(m.question_id))</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.audit_comment)) ? "" : m.audit_comment)</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.clause)) ? "" : m.clause)</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.root_cause)) ? "" : m.root_cause)</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.review_comment)) ? "" : m.review_comment)</td>
                    @if (Convert.ToInt32(Session["module"]) == 1 || Convert.ToInt32(Session["module"]) == 4)
                    {
                        <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Corrective_Action)) ? "" : m.Corrective_Action)</td>
                        <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Preventive_Action)) ? "" : m.Preventive_Action)</td>
                    }
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.target_date)) ? "" : m.target_date)</td>
                    <td>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Process)) ? "" : m.Process)</td>
                    <td class="@(Convert.ToString(m.Status)=="OnTime"?"td-actions mn_green_color":(Convert.ToString(m.Status)=="Delayed"?"td-actions mn_red":"td-actions mn_yellow"))">
                        <i class="fa fa-circle"></i>
                    </td>
                    <td>
                        @Html.Hidden("hdnAudit", Convert.ToString(m.audit_id))
                        @if (String.IsNullOrEmpty(Convert.ToString(m.confirm_comment)))
                        {
                            if (Convert.ToString(m.review_status) == "1")
                            {
                                <button class="btn btn-primary btn-xs" data-title="Confirmed" data-toggle="modal" data-target="#edit">
                                    Working fine?
                                </button>
                            }
                            else
                            {
                                <p>Not Reviewed</p>
                            }
                        }
                        else
                        {
                            if (Convert.ToString(m.confirm_comment) == "Y")
                            {
                                <p>Working Fine</p>
                            }
                            else
                            {
                                <p>Not Working</p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

}