﻿@model List<Audire_POCO.LocationPOCO>
@using Audire_MVC.Utilities

      
<script type="text/javascript">
    $(document).ready(function () {
        
        var shifts = $('#lblShifts').val();
        if (shifts == "1") {
            document.getElementById('divShiftI').style.display = "block";
            document.getElementById('divShiftII').style.display = "none";
            document.getElementById('divShiftIII').style.display = "none";
            
        }
        else if (shifts == "2") {
            document.getElementById('divShiftI').style.display = "block";
            document.getElementById('divShiftII').style.display = "block";
            document.getElementById('divShiftIII').style.display = "none";
            
        }
        else if (shifts == "3") {
            document.getElementById('divShiftI').style.display = "block";
            document.getElementById('divShiftII').style.display = "block";
            document.getElementById('divShiftIII').style.display = "block";
        }
    });
</script>
      @if (Model != null)
      {
          foreach (var m in Model)
          {
            <section class="search-sec">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Region Name</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.region)) ? "" : m.region)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Country</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.country)) ? "" : m.country)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Location</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.location)) ? "" : m.location)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Shifts</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.shifts)) ? "" : Convert.ToString(m.shifts), new { id = "lblShifts" })</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Shift I Time</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.starttime1)) ? "" : Convert.ToString(m.starttime1))
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.endtime1)) ? "" : Convert.ToString(m.endtime1))</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Shift II Time</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.starttime2)) ? "" : Convert.ToString(m.starttime2))
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.endtime2)) ? "" : Convert.ToString(m.endtime2))</p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label>Shift III Time</label>
                            <p>
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.starttime3)) ? "" : Convert.ToString(m.starttime3))
                                @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.endtime3)) ? "" : Convert.ToString(m.endtime3))</p>
                        </div>

                    </div>
                </form>
            </section>

               

                break;
                }
                }

