﻿@model List<Audire_POCO.LocationPOCO>
@using Audire_MVC.Utilities


@*<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>*@
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        //var url = '@Url.Action("Location")';
        $.ajax({
            url: "GetRegions",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                console.log(data);
                var Countries = data;

                $('#txtRegion').autocomplete({

                    source: function (request, response) {
                        
                        var matches = $.map(Countries, function (acItem) {
                            
                            if (acItem.region_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {

                                return acItem.region_name;
                            }
                        });
                        response(matches);
                    },
                    minLength: 0,
                    scroll: true,
                    autoFocus: true,
                    select: function (event, ui) {
                        
                        var region = ui.item.value;
                        for (var m = 0; m < data.length; m++) {
                            if (data[m].region_name == region) {
                                $('#hdnRegion').val(data[m].region_id);
                            }
                        }
                            var item = $('#hdnRegion').val();

                        $.ajax({
                            url: "GetCountries",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "region_id": item }),
                            success: function (data) {
                                
                                console.log(data);
                                var Countries = data;

                                $('#txtCountry').autocomplete({
                                    source: function (request, response) {
                                        var matches = $.map(Countries, function (acItem) {
                                            
                                            if (acItem.country_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                                                return acItem.country_name;
                                            }
                                        });
                                        response(matches);
                                    },
                                    minLength: 0,
                                    scroll: true,
                                    autoFocus: true,
                                    select: function (event, ui) {
                                        
                                        
                                        console.log(ui.item.value);
                                        var country = ui.item.value;
                                        for (var m = 0; m < data.length; m++) {
                                            if (data[m].country_name == country) {
                                                $('#hdnCountry').val(data[m].country_id);
                                            }
                                        }
                                        var item = $('#hdnCountry').val();
                                        console.log(item);
                                        $.ajax({
                                            url: "GetLocations",
                                            type: 'GET',
                                            cache: false,
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            data: ({ "country_id": item }),
                                            success: function (data) {
                                                
                                                console.log(data);
                                                var Countries = data;

                                                $('#txtLocation').autocomplete({

                                                    source: function (request, response) {
                                                        var matches = $.map(Countries, function (acItem) {
                                                            
                                                            if (acItem.location_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                                                                return acItem.location_name;
                                                            }
                                                        });
                                                        response(matches);
                                                    },
                                                    minLength: 0,
                                                    scroll: true,
                                                    autoFocus: true,
                                                    select: function (event, ui) {
                                                        
                                                        var location = ui.item.value;
                                                        for (var m = 0; m < data.length; m++) {
                                                            if (data[m].location_name == location) {
                                                                $('#hdnLocation').val(data[m].location_id);
                                                            }
                                                        }
                                                        //console.log(ui.item.value);
                                                    }
                                                }).focus(function () {
                                                    $(this).autocomplete("search", "");
                                                });
                                            }
                                        });
                                    }
                                }).focus(function () {
                                    $(this).autocomplete("search", "");
                                });
                            }
                        });
                        //console.log(ui.item.value);
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });

            }
        });

        $("#txtStart2").blur(function () {
            
            validateHhMm($('#txtStart2').val())
        });
        $("#txtStart3").blur(function () {
            
            validateHhMm($('#txtStart3').val())
        });
        //$.ajax({
        //    url: "GetCountries",
        //    type: 'GET',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: ({ "region_id": $('#hdnregion').val() }),
        //    success: function (data) {
        //        
        //        console.log(data);
        //        var Countries = data;
        //        $('#txtCountry').autocomplete({
        //            source: function (request, response) {
        //                var matches = $.map(Countries, function (acItem) {
        //                    
        //                    if (acItem.country_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
        //                        return acItem.country_name;
        //                    }
        //                });
        //                response(matches);
        //            },
        //            minLength: 0,
        //            scroll: true,
        //            autoFocus: true,
        //            select: function (event, ui) {
        //                
        //                console.log(ui.item.value);
        //                var country = ui.item.value;
        //                for (var m = 0; m < data.length; m++) {
        //                    if (data[m].country_name == country) {
        //                        $('#hdnCountry').val(data[m].country_id);
        //                    }
        //                }
        //                var item = $('#hdnCountry').val();
        //                console.log(item);
        //                $.ajax({
        //                    url: "GetLocations",
        //                    type: 'GET',
        //                    cache: false,
        //                    contentType: "application/json; charset=utf-8",
        //                    dataType: "json",
        //                    data: ({ "country_id": item }),
        //                    success: function (data) {
        //                        
        //                        console.log(data);
        //                        var Countries = data;
        //                        $('#txtLocation').autocomplete({
        //                            source: function (request, response) {
        //                                var matches = $.map(Countries, function (acItem) {
        //                                    
        //                                    if (acItem.location_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
        //                                        return acItem.location_name;
        //                                    }
        //                                });
        //                                response(matches);
        //                            },
        //                            minLength: 0,
        //                            scroll: true,
        //                            autoFocus: true,
        //                            select: function (event, ui) {
        //                                
        //                                var location = ui.item.value;
        //                                for (var m = 0; m < data.length; m++) {
        //                                    if (data[m].location_name == location) {
        //                                        $('#hdnLocation').val(data[m].location_id);
        //                                    }
        //                                }
        //                                //console.log(ui.item.value);
        //                            }
        //                        }).focus(function () {
        //                            $(this).autocomplete("search", "");
        //                        });
        //                    }
        //                });
        //                //console.log(ui.item.value);
        //            }
        //        }).focus(function () {
        //            $(this).autocomplete("search", "");
        //        });
        //        //var dataAdapter = new $.jqx.dataAdapter(result);
        //        //$('#txtCountry').jqxComboBox(
        //        //    {
        //        //        //selectedIndex: -1,
        //        //        theme: "material",
        //        //        source: dataAdapter,
        //        //        displayMember: "country_name",
        //        //        valueMember: "country_id",
        //        //        autoDropDownHeight: true,
        //        //        remoteAutoComplete: true,
        //        //        search: function (searchString) {
        //        //            $("#txtCountry").jqxComboBox('addItem', searchString);
        //        //        }
        //        //        //itemHeight: 65,
        //        //        //height: 35,
        //        //        //width: 270
        //        //    }
        //        //    );
        //        //$('#txtCountry').jqxComboBox('selectItem', $('#hdncountry').val());
        //    }
        //});
        //$.ajax({
        //    url: "GetLocations",
        //    type: 'GET',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: ({ "country_id": $('#hdnCountry').val() }),
        //    success: function (data) {
        //        
        //        console.log(data);
        //        var Countries = data;
        //        $('#txtLocation').autocomplete({
        //            source: function (request, response) {
        //                var matches = $.map(Countries, function (acItem) {
        //                    
        //                    if (acItem.location_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
        //                        return acItem.location_name;
        //                    }
        //                });
        //                response(matches);
        //            },
        //            minLength: 0,
        //            scroll: true,
        //            autoFocus: true,
        //            select: function (event, ui) {
        //                
        //                var location = ui.item.value;
        //                for (var m = 0; m < data.length; m++) {
        //                    if (data[m].location_name == location) {
        //                        $('#hdnLocation').val(data[m].location_id);
        //                    }
        //                }
        //                //console.log(ui.item.value);
        //            }
        //        }).focus(function () {
        //            $(this).autocomplete("search", "");
        //        });
        //        //var dataAdapter = new $.jqx.dataAdapter(result);
        //        //$('#txtLocation').jqxComboBox(
        //        //    {
        //        //        //selectedIndex: -1,
        //        //        theme: "material",
        //        //        source: dataAdapter,
        //        //        displayMember: "location_name",
        //        //        valueMember: "location_id",
        //        //        remoteAutoComplete: true,
        //        //        search: function (searchString) {
        //        //            $("#txtLocation").jqxComboBox('addItem', searchString);
        //        //        }
        //        //        //itemHeight: 65,
        //        //        //height: 35,
        //        //        //width: 270
        //        //    }
        //        //    );
        //        //$('#txtLocation').jqxComboBox('selectItem', $('#hdnlocation').val());
        //    }
        //});
        DisplayShifts();

    });
    //$("#txtRegion").blur(function () {
    //    
    //    var item = $('#hdnRegion').val();
    //    //});
    //    //$('#txtRegion').on('select', function (event) {
    //    //var args = event.args;
    //    //var item = $('#txtRegion').val();
    //    $.ajax({
    //        url: "GetCountries",
    //        type: 'GET',
    //        cache: false,
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        data: ({ "region_id": item }),
    //        success: function (data) {
    //            
    //            console.log(data);
    //            var Countries = data;
    //            $('#txtCountry').autocomplete({
    //                source: function (request, response) {
    //                    var matches = $.map(Countries, function (acItem) {
    //                        
    //                        if (acItem.country_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
    //                            return acItem.country_name;
    //                        }
    //                    });
    //                    response(matches);
    //                },
    //                minLength: 0,
    //                scroll: true,
    //                autoFocus: true,
    //                select: function (event, ui) {
    //                    
    //                    var country = ui.item.value;
    //                    for (var m = 0; m < data.length; m++) {
    //                        if (data[m].country_name == country) {
    //                            $('#hdnCountry').val(data[m].country_id);
    //                        }
    //                    }
    //                    //console.log(ui.item.value);
    //                }
    //            }).focus(function () {
    //                $(this).autocomplete("search", "");
    //            });
    //            //var dataAdapter = new $.jqx.dataAdapter(result);
    //            //$('#txtCountry').jqxComboBox(
    //            //    {
    //            //        selectedIndex: -1,
    //            //        theme: "material",
    //            //        source: dataAdapter,
    //            //        displayMember: "country_name",
    //            //        valueMember: "country_id",
    //            //        remoteAutoComplete: true,
    //            //        search: function (searchString) {
    //            //            $("#txtCountry").jqxComboBox('addItem', searchString);
    //            //        }
    //            //        //itemHeight: 65,
    //            //        //height: 35,
    //            //        //width: 270
    //            //    }
    //            //    );
    //        }
    //    });
    //});

    //$("#txtCountry").blur(function () {
    //    
    //    var item = $('#hdnCountry').val();
    //    //$('#txtCountry').on('select', function (event) {

    //    //    var args = event.args;
    //    //    var item = $('#txtCountry').jqxComboBox('getItem', args.index);
    //    $.ajax({
    //        url: "GetLocations",
    //        type: 'GET',
    //        cache: false,
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        data: ({ "country_id": item }),
    //        success: function (data) {
    //            
    //            console.log(data);
    //            var Countries = data;

    //            $('#txtLocation').autocomplete({
    //                source: function (request, response) {
    //                    var matches = $.map(Countries, function (acItem) {
    //                        
    //                        if (acItem.location_name.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
    //                            return acItem.location_name;
    //                        }
    //                    });
    //                    response(matches);
    //                },
    //                minLength: 0,
    //                scroll: true,
    //                autoFocus: true,
    //                select: function (event, ui) {
    //                    
    //                    var location = ui.item.value;
    //                    for (var m = 0; m < data.length; m++) {
    //                        if (data[m].location_name == location) {
    //                            $('#hdnLocation').val(data[m].location_id);
    //                        }
    //                    }
    //                    //console.log(ui.item.value);
    //                }
    //            }).focus(function () {
    //                $(this).autocomplete("search", "");
    //            });
    //            //var dataAdapter = new $.jqx.dataAdapter(result);
    //            //$('#txtLocation').jqxComboBox(
    //            //    {
    //            //        selectedIndex: -1,
    //            //        theme: "material",
    //            //        source: dataAdapter,
    //            //        displayMember: "location_name",
    //            //        valueMember: "location_id",
    //            //        remoteAutoComplete: true,
    //            //        search: function (searchString) {
    //            //            $("#txtLocation").jqxComboBox('addItem', searchString);
    //            //        }
    //            //        //itemHeight: 65,
    //            //        //height: 35,
    //            //        //width: 270
    //            //    }
    //            //    );
    //        }
    //    });
    //});
    function validateControls() {
        
        var output = 0;
        var time_format_flag = 0;
        var time_format_check = true;
        if (isEmpty($('#txtRegion').val())) {
            $('#txtRegion').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtCountry').val())) {
            $('#txtCountry').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtLocation').val())) {
            $('#txtLocation').css("border", "1px solid red");
            output += 1;
        }
        if (isEmpty($('#txtShifts').val())) {
            $('#txtShifts').css("border", "1px solid red");
            output += 1;
        }
        else if ($('#txtShifts').val() == "1") {
            if (isEmpty($('#txtStart1').val())) {
                $('#txtStart1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart1').css('border-color', '');
                time_format_check = validateTime($('#txtStart1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart1').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd1').val())) {
                $('#txtEnd1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd1').css('border-color', '');
                time_format_check = validateTime($('#txtEnd1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd1').css('border-color', 'red');
                }
            }
        }
        else if ($('#txtShifts').val() == "2") {
            if (isEmpty($('#txtStart1').val())) {
                $('#txtStart1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart1').css('border-color', '');
                time_format_check = validateTime($('#txtStart1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart1').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd1').val())) {
                $('#txtEnd1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd1').css('border-color', '');
                time_format_check = validateTime($('#txtEnd1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd1').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtStart2').val())) {
                $('#txtStart2').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart2').css('border-color', '');
                time_format_check = validateTime($('#txtStart2').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart2').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd2').val())) {
                $('#txtEnd2').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd2').css('border-color', '');
                time_format_check = validateTime($('#txtEnd2').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd2').css('border-color', 'red');
                }
            }
        }
        else if ($('#txtShifts').val() == "3") {
            if (isEmpty($('#txtStart1').val())) {
                $('#txtStart1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart1').css('border-color', '');
                time_format_check = validateTime($('#txtStart1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart1').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd1').val())) {
                $('#txtEnd1').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd1').css('border-color', '');
                time_format_check = validateTime($('#txtEnd1').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd1').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtStart2').val())) {
                $('#txtStart2').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart2').css('border-color', '');
                time_format_check = validateTime($('#txtStart2').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart2').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd2').val())) {
                $('#txtEnd2').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd2').css('border-color', '');
                time_format_check = validateTime($('#txtEnd2').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd2').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtStart3').val())) {
                $('#txtStart3').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtStart3').css('border-color', '');
                time_format_check = validateTime($('#txtStart3').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtStart3').css('border-color', 'red');
                }
            }
            if (isEmpty($('#txtEnd3').val())) {
                $('#txtEnd3').css("border", "1px solid red");
                output += 1;
            }
            else {
                $('#txtEnd3').css('border-color', '');
                time_format_check = validateTime($('#txtEnd3').val());
                if (!time_format_check) {
                    time_format_flag = 1;
                    output += 1;
                    $('#txtEnd3').css('border-color', 'red');
                }
            }
        }
        if (isEmpty($('#ddlTimezone').val())) {
            $('#ddlTimezone').css("border", "1px solid red");
            output += 1;
        }
        if (output == 0) {
            $('#lblmsg').text('');
            var region = $('#txtRegion').val();
            //$('#txtRegion').jqxComboBox('getSelectedItem');
            //if (isEmpty(region))
            //    region = $('#txtRegion').val();
            //else
            //    region = region.label;
            var country = $('#txtCountry').val();
            //$('#txtCountry').jqxComboBox('getSelectedItem');
            //if (isEmpty(country))
            //    country = $('#txtCountry').val();
            //else
            //    country = country.label;

            var location_id = 0;
            var location = $('#txtLocation').val();
            //$('#txtLocation').jqxComboBox('getSelectedItem');
            //if (isEmpty(location)) {
            //    location_id = 0;
            //    location = $('#txtLocation').val();
            //}
            //else {
            //    if (location.value == location.label) {
            //        location_id = 0;
            //    }
            //    else {

            //        location_id = location.value;
            //    }
            //    location = location.label;
            //}
            var shifts = $('#txtShifts').val();
            var st1 = $('#txtStart1').val();
            var et1 = $('#txtEnd1').val();
            var st2 = $('#txtStart2').val();
            var et2 = $('#txtEnd2').val();
            var st3 = $('#txtStart3').val();
            var et3 = $('#txtEnd3').val();
            var timezone = $('#ddlTimezone').val();
            callSaveLocation(region, country, location_id, location, shifts, st1, et1, st2, et2, st3, et3, timezone);
            //return true;
        }
        else {
            if (time_format_flag == 0)
                $('#lblmsg').text('Please enter all the mandatory fields.');
            else
                $('#lblmsg').text('Please enter shift time in HH:MM format and enter all the mandatory fields. ');
            return false;
        }
    }
    function callSaveLocation(region, country, location_id, location, shifts, st1, et1, st2, et2, st3, et3, timezone) {
        
        $.ajax({
            url: "SaveLocation",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ region: "' + region + '", country: "' + country + '", location_id: "' + location_id + '", location: "' + location + '", shifts: "' + shifts + '", st1: "' + st1 + '", et1: "' + et1 + '", st2: "' + st2 + '", et2: "' + et2 + '", st3: "' + st3 + '", et3: "' + et3 + '" , timezone: "' + timezone + '"}',
            //data: '{ region: 'dfdf', country: 'df', location_id: '0', location: 'fdgdgfd', shifts: '5', st1: 'fgh', et1: 'fgbhfg', st2: 'ghf', et2: 'tyrty', st3: 'gfhfgh', et3: 'fghfh' }',
            success: function (result) {
                
                //  $('#lblErrorMsg').text(result.err_message);
                //alert(result.d);
                //window.location.reload();
            }
        });
    }
    function isEmpty(value) {
        
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }
    function validateTime(timevalue) {
        
        var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(timevalue);
        return isValid;
    }
    function DisplayShifts() {
        
        var shifts = $('#txtShifts').val();
        if (shifts == "1") {
            $('.divShiftI').show();
            $('.divShiftII').hide();
            $('.divShiftIII').hide();
            //document.getElementById('divShiftI').style.display = "block";
            //document.getElementById('divShiftII').style.display = "none";
            //document.getElementById('divShiftIII').style.display = "none";
            $('#txtEnd1').removeAttr("readonly");
        }
        else if (shifts == "2") {
            $('.divShiftI').show();
            $('.divShiftII').show();
            $('.divShiftIII').hide();
            //document.getElementById('divShiftI').style.display = "block";
            //    document.getElementById('divShiftII').style.display = "block";
            //    document.getElementById('divShiftIII').style.display = "none";
            $('#txtEnd1').attr("readonly", "readonly");
            $('#txtEnd2').removeAttr("readonly");
        }
        else if (shifts == "3") {
            $('.divShiftI').show();
            $('.divShiftII').show();
            $('.divShiftIII').show();
            //document.getElementById('divShiftI').style.display = "block";
            //document.getElementById('divShiftII').style.display = "block";
            //document.getElementById('divShiftIII').style.display = "block";
            $('#txtEnd1').attr("readonly", "readonly");
            $('#txtEnd2').attr("readonly", "readonly");
            $('#txtEnd3').removeAttr("readonly");
        }
    }
    function LoadEndTime() {
        
        if ($('#txtShifts').val() == "2") {
            if ($('#txtStart2').val() != null && $('#txtStart2').val() != undefined) {
                $('#txtEnd1').val($('#txtStart2').val());
            }
        }
        else if ($('#txtShifts').val() == "3") {
            if ($('#txtStart2').val() != null && $('#txtStart2').val() != undefined) {
                $('#txtEnd1').val($('#txtStart2').val());
            }
            if ($('#txtStart3').val() != null && $('#txtStart3').val() != undefined) {
                $('#txtEnd2').val($('#txtStart3').val());
            }
        }
    }
    function validateHhMm(value) {
        
        var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(value);

        if (isValid) {
            $('#lblmsg').text('');
            LoadEndTime();
        } else {
            $('#lblmsg').text('Time should be in HH:MM format.');
        }

        return isValid;
    }
</script>
<style>
    .span3{
        width:165px;
    }
    .ui-menu
    {
        width:368px!important;
    }
    .ui-menu-item
    {
        width:368px!important;
    }
    .ui-autocomplete {
       z-index:9999999!important;
        position:relative;
    }
    /*#txtRegion{
        z-index:9999999!important;
        position:relative;
    }*/
</style>
@foreach (var m in Model)
{

    <form action="#" method="post" novalidate="novalidate">
        <p>
            <label>Region Name</label>
            @Html.HiddenFor(mi => m.region_id, new { id = "hdnRegion" })
            @Html.TextBoxFor(mi => m.region, new { @class = "span3", id = "txtRegion", @maxlength = "50" })
        </p>
        <p>
            <label>Country</label>
            @Html.HiddenFor(mi => m.country_id, new { id = "hdnCountry" })
            @Html.TextBoxFor(mi => m.country, new { @class = "span3", id = "txtCountry", @maxlength = "50" })
        </p>
        <p>
            <label>Location</label>
            @Html.HiddenFor(mi => m.location_id, new { id = "hdnLocation" })
            @Html.TextBoxFor(mi => m.location, new { @class = "span3", id = "txtLocation", @maxlength = "50" })
        </p>
        <p>
            <label>No Of Shifts</label>
            @Html.DropDownListFor(mi => m.shifts, (CommonDropdowns.GetShifts(m)), new { @class = "span3", id = "txtShifts", onchange = "javascript:DisplayShifts();" })


        </p>
        <p>
            <label>TimeZone</label>
            @Html.DropDownListFor(mi => m.TimeZone, CommonDropdowns.GetTimeZones(m), new { @class = "span3", id = "ddlTimezone" })

        </p>
        <p>
            <div id="divShiftI" class="row-info divShiftI">
                <label>Shift I Time</label><br />
                <div class="col-lg-6 col-md-3 col-sm-12 p-0">
                    @Html.TextBoxFor(mi => m.starttime1, new { @class = "span3", id = "txtStart1" })
                </div><div class="col-lg-6 col-md-3 col-sm-12">
                    @Html.TextBoxFor(mi => m.endtime1, new { @class = "span3", id = "txtEnd1", @readonly = "readonly" })
                </div>
            </div>
        </p>
        <p>
            <div id="divShiftII" class="row-info divShiftII">
                <label>Shift II Time</label><br />
                <div class="col-lg-6 col-md-3 col-sm-12 p-0">
                    @Html.TextBoxFor(mi => m.starttime2, new { @class = "span3", id = "txtStart2" })
                </div><div class="col-lg-6 col-md-3 col-sm-12">
                    @Html.TextBoxFor(mi => m.endtime2, new { @class = "span3", id = "txtEnd2", @readonly = "readonly" })
                </div>
            </div>
        </p>

        <p>
            <div id="divShiftIII" class="row-info divShiftIII">
                <label>Shift III Time</label><br />
                <div class="col-lg-6 col-md-3 col-sm-12 p-0">
                    @Html.TextBoxFor(mi => m.starttime3, new { @class = "span3", id = "txtStart3" })
                </div><div class="col-lg-6 col-md-3 col-sm-12">
                    @Html.TextBoxFor(mi => m.endtime3, new { @class = "span3", id = "txtEnd3", @readonly = "readonly" })
                </div>
            </div>
        </p>
        @*<div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <label>&nbsp;</label>
                <input type="text" class="span3" placeholder="">
            </div>*@
        <p>
            @*<label>&nbsp;</label>
                <button type="button" class="btn btn-danger wrn-btn">SAVE</button>*@
            <label id="lblmsg" style="color: red;"></label>
            <input type="submit" value="Save" class="btn btn-danger wrn-btn" onclick="return validateControls();" />
        </p>
    </form>

    break;

}




