﻿@model List<Audire_POCO.LocationPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@*<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />*@

<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
        $(document).ready(function () {
            debugger;
            setModule();
            $('#tblLocation').DataTable(
               {
                   'columnDefs': [{
                       'targets': [4], /* column index */
                       'orderable': false, /* true or false */
                   }]
                   // "info": false
               });
            //    $('#tblLocation').on('click', 'tbody tr td', function () {
            //    debugger;
            //    var row_index = $(this).parent().index('tr');

            //    var col_index = $(this).index('tr:eq(' + row_index + ') td');

            //    var id = $(this).parent().find("input[type=hidden]").val();
            //    if (col_index < 4) {
            //        $("#divEditLocation").hide();
            //        $('#labelMessage').empty();
            //        $('#ViewLocation').show();
            //        $("#ViewLocation").load(rootUrl + "Location/DisplayLocation",
            //   { Id: id, viewName: "DisplayLocation" });
            //    }
            //    else {
            //        $('#ViewLocation').hide();
            //        $("#divEditLocation").show();
            //             $("#divEditLocation").load(rootUrl + "Location/DisplayLocation",
            //        { Id: id, viewName: "EditLocation" });
            //    }

            //})

        });

        function LoadViewForEditLocation(id) {

            $('#LocationHeading').text("Edit Location");
            $('#labelMessage').empty();
                    $('#ViewLocation').hide();
                    $("#divEditLocation").show();
                         $("#divEditLocation").load(rootUrl + "Location/DisplayLocation",
                    { Id: id, viewName: "EditLocation" });

        }

        function LoadViewForNewLocation() {
            $('#LocationHeading').text("Add Location");
            $('#labelMessage').empty();
           @* var rootUrl = '@Url.Content("~")';*@
            $('#ViewLocation').hide();
            $("#divEditLocation").show();
            $('#labelMessage').empty();
            $("#divEditLocation").load(rootUrl + "Location/AddNewLocation",
            { viewName: "EditLocation" });
           
        }

        $body = $("body");
        debugger;
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
</script>
<style>
    .tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
        padding: 5px;
        font-size: 15px;
    }
</style>

<div class="col-md-12 nopad">
    <div class="bread_user">
        <div class="col-md-4">
            <h2>Locations</h2>
            <p><a href="#">Setup</a> >> Locations</p>
        </div>

        <div class="col-md-8">
            <a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForNewLocation();">+ Add Location</a>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="red">
            <div style="color: red; text-align: center; font-size: 14px; height: 10px;" class="statusmsg">
                @{var value = TempData["locationmessage"] as string;}
                @if (value != null)
                {
                    <p id="labelMessage">@value.ToString()</p>
                }
                <label id="lbloutputmsg"></label>
            </div>
        </div>
                    if (Model != null)
                    {
                @*<div class="add_new_user">

            <div class="col-lg-12">
                <div class="add_button"><h3><a href="#" onclick="LoadViewForNewLocation();"> Add New Location</a></h3></div>

            </div>
            <div class="col-lg-12">
                <div id="ViewLocation">
                    @Html.Partial("~/Views/Location/DisplayLocation.cshtml", Model)
                </div>
                <div id="divEditLocation" style="display:none;">
                    @Html.Partial("~/Views/Location/EditLocation.cshtml", Model)
                </div>
            </div>
        </div>*@

            
            <div class="data_user">
                <section class="wrapper main-wrapper row">

                    <div class="col-md-12 nopad">
                        <div class="user_datatable">
                            <table id="tblLocation" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.Label("Region")
                                        </th>
                                        <th>
                                            @Html.Label("Country")
                                        </th>
                                        <th>
                                            @Html.Label("Location")
                                        </th>
                                        <th>
                                            @Html.Label("Shifts")
                                        </th>
                                        <th>
                                            @Html.Label("Actions")
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.region)
                                                    @Html.HiddenFor(modelItem => item.location_id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.country)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.location)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.shifts)
                                                </td>
                                                <td><a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForEditLocation(@item.location_id)">Edit</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </section>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel"><label id="LocationHeading"></label></h4>
                        </div>
                        <div class="modal-body" id="divEditLocation" >
                            
                                @Html.Partial("~/Views/Location/EditLocation.cshtml", Model)
                          
                        </div>
                    </div>
                </div>
            </div>

        }
    }
