@font-face {
    font-family: 'TitilliumWeb';
    src: url(../font-style/TitilliumWeb-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../font-style/Comfortaa-Regular.ttf) format('truetype');
}

body{    
}
a{
    color: #595959
}
a:hover {
    color: #4bb69c;
    text-decoration: none;
}
/*===========================SUPPORT CLASS===========================*/

.trans{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.flowHide{
    overflow: hidden;
}


/*===========================NAVBAR START===========================*/

.bg-dark {
    background-color: #eff2f7 !important;
}

/*HAMBURGER START*************************/

.hamburger {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    transition: all 1s ease;
}

.cta {
  height: 50px;
  width: 50px;
  cursor: pointer; }

.toggle-btn {
  height: 2px;
  width: 25px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out; 
}
  .toggle-btn:before {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 -10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}
  .toggle-btn:after {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}

.active .type14 {
  background-color: #fff;
  width: 12px;
  margin: auto; 
}
  .active .type14:before {
    width: 6px; 
}
  .active .type14:after {
    width: 25px;
}

/*HAMBURGER END*************************/

.nav-item .nav-link{
    display: block;
    padding:5px 0; 
    color:#c8c8c8;;
    font-size:15px;   
    position: relative;
    white-space: nowrap;
}

.user-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #b80100;
    border-radius: 50px;
}


@media (min-width: 576px){
.navbar-expand-sm .navbar-nav .nav-link {    
    margin-left: 15px;
}
    }

/*============================SIDE BAR START============================*/
.sidebar-menu {   
    position: relative;
    z-index: 99;
    height: 100vh;
    display: inline-block;    
    display: block;
    min-height: 100%; 
    transition: all .3s cubic-bezier(.55,0,.1,1);    
/*    transform: translate3d(-200px,0,0);*/
}

.sidebar-menu .navbar-nav .nav-link {
    padding: 7px 0;
    position: relative;
    white-space: nowrap;
   
    
}
.nopad{
    padding: 0
}
.nav-item{
    margin: 13px 0;
    list-style: none;
}
.sidebar-menu .navbar-nav .nav-link img{
    
}
.sidebar-menu .nav-link:hover {
       background-color: #fff;
}

/*SMALL SIDE BAR****************/
.full-side-bar {
    width: 260px!important;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.small-side-bar{
    padding:0 0px; 
    text-align: center;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.navbar-brand{
    margin: 0
}
.nav-link-name{
    position: relative;
    margin-left: 15px;
    
}
.nav-link-name {
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s;
    border-radius: 0.6rem;
    padding: 4px 10px;
    top: 15px;
    left: 50px;
   
}
.tax-active > .tax-show{
    display: inline-block !important; 
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s; 
    border-radius: 0.6rem;
    padding: 4px 10px;
    top: 15px;
    left: 50px;
    background-color:#171717;
    
}
.tax-active > .tax-show::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 15px solid #171717;
   
}
.name-hide{
    display: none;
}


/*///////////////ANIMATEED///////////////*/
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: mymove 1s ;
    animation-iteration-count: 1;
}

/*FADE IN RIGHT*/

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


@keyframes fadeInRight{
    
    0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}



.content{
    padding-top:10px;
        width: 100%;
        overflow: auto;
}
.content1{
    padding-top:10px;
        width: 100%;
}
.au_top{
    margin: 50px 0 0 0;
}

.mb-0 [data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font-size: 14px;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  margin: 4px 0 0 5px;
  }   
.mb-0 [data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    border: solid 2px #a2a2a2;
    border-radius: 30px;
    padding: 0px;
    width: 100%;
    }

    .search_input{
    color: #a0a0a0;
    border: 0;
    outline: 0;
    background: none;
    width: 80%;
        padding: 10px 15px;
    font-size: 14px;
    line-height:24px;
    transition: width 0.4s linear;
    }

    .side_left{
        border-right: solid 1px #bfbfbf;
    }
    .search_icon{
        height: 48px;
    width: 48px;
    margin: -1px -1px 0 0px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #a2a2a2;
    color: #fff;
    text-decoration:none;
    }
    .card{
        border: none;
        border-bottom: solid 2px #a0a0a0;
        padding: 15px 0 10px;
        border-radius: 0;
    }
    .card-header{
        border: none;
        background: none;
        padding: 4px 0 10px;
    }
    .card-body{
        padding:10px 0 3px
    }
    .aud_audit ul{
        padding: 0 0px;
        width: 100%;
    float: left;
    }
    .aud_audit li{
        list-style: none;
        margin: 10px 0 0 0;
        border-left: solid 9px #fff;
    }
    .aud_audit li:hover{
        border-left: solid 9px #2648c6;
    }
    .aud_img{
        margin: 15px 0 0 0 
    }
    .aud_img img{
        width: 40px
    }
    .au_score h5{
        color: #555555;
        font-size: 18px;
    }
    .au_score p{
        color: #737373;
        margin: 0 0 7px 0;
    }
    .au_score h6{
        border-radius: 25px;
        padding:5px 0px;
        color: #737373;
        border: solid 2px #cdcdcd;
        background: #f5f5f5;
        text-align: center;
    }
    .view_edit{
        width: 100%;
        float: left;
    }
    .view_edit a{
        background: #f2f2f2;
        color: #737373;
        border-radius: 5px;
        padding: 5px 0;
        text-align: center;
        width: 100%;
        margin:15px 0 0;
        float: left; 
    }

.side_left_1 .ui-datepicker {
    width: 100%;
    float:left
}
.tengah .lead {
    margin:0 0 5px 0;
    font-size: 15px;
}
.new_template{
    width: 100%;
    float: left;
}
.new_template a{
    background: #2648c6;
    color: #fff;
    border-radius: 5px;
    padding:10px 10px;
    width: 100%;
    float: left;
    margin: 15px 0 0 0; 
    text-align: center;
}
.side_left_1{
    background: #fafafa;
    height: 100%;
    float:left
}
.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
.au_report{
    margin: 10px 0 0 0
}
.dropdown-toggle1{
    color: #6c6c6c;
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 1.4rem;
}
.dropdown-toggle1:hover, .dropdown-toggle1:focus, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle1{
    background: none !important;
    color: #6c6c6c !important;
    box-shadow:none !important;
}
.dropdown-toggle1:not(:disabled):not(.disabled).active:focus, .dropdown-toggle1:not(:disabled):not(.disabled):active:focus, .show>.dropdown-toggle1:focus {
    box-shadow: none !important;
}
.dropdown-menu.show {
    display: block;
    padding: 10px 10px;
    line-height: 30px;
}
.au_report label{
    color: #a6a6a6
}
.select2 option{
    padding: 0
}
.au_percentage h2{
    font-weight: bold;
    color: #595959
}
.au_percentage h2 small{
    color: #94ce58;
    font-size: 70%;
    font-weight: bold;
}
.re_top{
    border-bottom: solid 2px #a0a0a0;
    padding: 10px 0 10px;
width: 100%;
    float: left;
}
.au_setting{
    float: right;
    margin: 40px 0 0;
}
.au_setting a{
    color: #a6a6a6;
    border:solid 2px #a6a6a6;
    padding:5px 20px;
}
.au_recent{
    margin: 0px 0 0 0
}
.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 40% !important;
    position:relative;
}
.coupon .time {
    font-size: 1.6rem;
}
.icon-container_box{
    background: #94ce58;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 17px auto;
}
.icon-container_box1{
    background: #be0712;
    width: 30px;
    height: 30px;
    margin: 17px auto;
    border-radius: 50%
}
.coupon{
        border: solid 4px #f2f2f2;
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    float:left;
    width:100%
}
.lead{
    font-weight: bold;
    color: #595959;
    font-size: 18px
}
.tengah p{
    color: #7f7f7f;
    font-size: 14px;
    margin: 0
}
.block h5{
    color: #94ce58;
    font-size: 20px;
    font-weight: bold;
}
.block1 h5{
    color: #be0712;
    font-size: 20px;
    font-weight: bold;
}
.viewmore a{
    float: left;
    margin: 10px 0;
    color: #b9b9b9
}
.viewmore a i{
    font-size: 10px;
    color: #7f7f7f;
}




.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}
.schedule{
    float: left;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.schedule a{
    background: #2648c6;
    color: #fff;
    border-radius: 5px;
    padding:5px 10px 
}
#chartContainer{
    padding: 10px 0;
    border-top: solid 1px #ddd;
    margin: 10px 0 0 0;
}
.canvasjs-chart-credit{
    display: none;
}
.side-bar-last{
    background: #2648c6;
    height: 100%;
    padding-top:10px
}
.user{
    color: #fff;
    float: right;
    margin: 10px 0
}
.user h4, .performance h4{
    font-size: 18px;
}
.user p, .performance p, .count p{
    font-size: 12px;
}
.performance, .count{
    color: #fff;
    float: left;
    margin:0px 0
}
.count p{
    margin: 0
}
.chat-list-box {
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.flat-icon li{
    display: inline-block;
    padding: 0px 8px;
    vertical-align: middle;
    position: relative;
    top: 7px;
}

.flat-icon a img {
    width: 22px;
    border-radius: unset !important;
}

ul.list-inline.text-left.d-inline-block.float-left {
    margin-bottom: 0;
    width:100%
}

.chat-list-box ul li img {
    border-radius: 50px;
}

.message-box{
    display: inline-block;
    width: 100%;
}

.msg-box li{
    color: #fff;
    line-height: 18px;
    font-size: 14px;
    width:100%;
    padding-right:0
}

.msg-box img{
    border-radius:50px;
}

.msg-box li span{
    font-weight:550;
    color: #d9d9d9
}

.head-box {
    display: flow-root;
    padding: 10px;
    background: #007bff;
}
.head-box ul li a{
    color:#fff;
}
.chat-person-list{
    padding:14px;
}
.chat-person-list ul li img{
    width:30px;
    border-radius:50px;
}

.chat-person-list ul li span {
    padding-left: 20px;
}

.chat-person-list ul li {
    line-height: 55px;
}

span.chat-time {
    float: right;
    font-size: 12px;
}

.head-box-1{
    float: left;
    width: 100%;
    padding: 7px;
    background: #5070e7;
    margin: 0 0 5px 0
}
.head-box-1 ul li i{
    color:#fff;
    cursor:pointer;
}
.msg_history {
    padding: 10px;
    height:280px;
    overflow: overlay;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.timee{  
    color: #bfbfbf;}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg {
    width: 57%;
}
.received_withd_msg p {
       background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.incoming_msg_img img {
    width: 100%;
    border-radius: 50px;
    float: left;
}
.outgoing_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}
.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
  background: #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.chat-person-list ul li a {
    color: #545454;
    text-decoration: none;
}
.attachement {
    background: #777;
    position: absolute;
    width: 220px;
    right: 30%;
    top: 42px;
    display: none;
}
.attachement ul li {
    display: -webkit-inline-box;
    margin: 0px 19px 15px 20px;
}
.attachement ul li a{
    color:#fff;
}

.setting-drop{
    display: none;
    position: absolute;
    width: 200px;
    height: 148px;
    right: 0;
    top: 42px;
    background: #ffffff;
    z-index: 99;
    color: #545454;
    box-shadow: 1px 1px 15px 1px #0000001f;
}
.list-inline a{
    font-size: 13px;
}
.send-message {
    padding: 15px;
    background: #007bff;
    height: auto;
}
.send-message textarea:focus {
    box-shadow: none;
    outline: none;
    border-color:#ddd;
}
.send-message ul li {
    display: -webkit-inline-box;
    padding-left: 15px;
}
.send-message ul li i{color:#0056b3;}
.send-message ul li a{color:#0056b3;}
.send-message ul {
    position: absolute;
    right: 45px;
    top: 88%;
    border-left: 1px solid #9c9a9a;
}
.send-message .form-control {
    border-radius: 50px;
}
.opne_task{
    color: #fff;
    margin: 20px 0 0 0
}
.opne_task h4{
    font-size: 18px;
}
.opne_task p{
    font-size: 12px;
}





#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  display: block;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#menu-toggle, #menu-toggle2{
    display: none;
}

.marquee {
  width: 100%;
  overflow: hidden;
  height:450px;
}




@media (min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
    
}

@media (max-width: 1200px) {
    #datepicker {
    margin:0px 0 0 0;
}
#menu-toggle {
        display: block;
        position: fixed;
        right:15px;
        top: 10px;
        z-index: 9999;
        background: #fff;
        border: solid 2px #ddd;
        padding:5px;
        cursor: pointer; 
        float: right;

    }
#menu-toggle2 {
    display: block;
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 9999;
    background: #fff;
    border: solid 2px #ddd;
    padding:5px;
    cursor: pointer; 
    float: right;
}

#wrapper.toggled{
    display: none;
}
.profile_details {
    position: relative;
    right: 50px;
}

#wrapper{
    position: fixed;
right: 0px;
top: 0px;
background: #2648c6;
z-index: 999;
width: 230px;
height:100%
}
}
@media (max-width: 1130px) {
    .search_input{
        padding: 6px 15px;
            line-height: 24px
    }
    .search_icon{
        height: 40px;    width: 40px;
    }
    .searchbar{
        height: 42px;
    }
}
@media (max-width:990px) {
    .nop-990 {
        padding:0 15px;
    }
}
@media (max-width:768px) {
.side-bar-last, .side_left_1 {
    margin: 15px 0 0 0;    
    height: 100%;
}
#divViewDashboard, #wrapper {
    width: 100%;
}
.performance, .count {
    margin: 10px 0;
}
    .side_left {
        margin: 25px 0 0;
    }
}
@media (max-width:580px) {
    .mn_white, .side_left_1 {
        width:100%
    }
}
@media (max-width:576px) {
    .sidebar-menu   {
        height: auto;
    }
    .aud_img {
    margin: 15px auto;
}
.au_score{
    text-align: center;
}
.navbar-nav{
    display: block;
}
.nav-item{
    float: left;
        width: 16%;
}
.au_top {
    margin: 0;
}
}




.header-left .active {
    margin:0px
}
.side_right_bar {
    float:right
}
.mCustomScrollBox {
    height:auto !important
}




/*added for mobile*/

