﻿@model List<Audire_POCO.ReportPOCO>
@{
    ViewBag.Title = "AuditReport";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        debugger;
        

        $('#datatable').dataTable({
            'columnDefs': [{
                'targets': [0], /* column index */
                'orderable': false, /* true or false */
            }
            //{
            //    'targets': [5], /* column index */
            //    'orderable': false, /* true or false */
            //}
            ]
        });

        $("[data-toggle=tooltip]").tooltip();

        $('.sub-menu').click(function(e){
            debugger;

            var table = $('#example').dataTable();
 
            var data = table
                .column(2)
                .data()
                .sort();
        });

        $('#ddlmodule').on("change", function (event) {
            location.reload();
            //var url = '/Report/AuditReport/';
            //$.ajax({
            //    url: url,
            //    data: {}, //parameters go here in object literal form
            //    type: 'GET',
            //    datatype: 'json',
            //    success: function (data) {
            //        debugger;
            //        //$('#datatable').dataTable();
            //    },
            //    error: function () { }
            //});
        });
    });
</script>
<style>
    .dataTable p
    {
        margin-top: -10px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div class="col-md-9">
                <h2>Downloads</h2>
                <p><a href="#">Reports </a> &gt;&gt; Downloads</p>
            </div>
        </div>
    </div>
    <div class="red">
        <div style="color: red; text-align: center; font-size: 14px; height: 10px;" class="statusmsg">
            @{var value = TempData["reportmessage"] as string;}
            @if (value != null)
            {
                <p id="labelMessage">@value.ToString()</p>
            }
        </div>
    </div>

                if (Model != null)
                {
        <div class="data_user">
            <section class="wrapper main-wrapper row">

                <div class="col-md-12 nopad">
                    <div class="col-md-12">
                        @*<label class="dropdown">
                            <div class="dd-button">
                                Sort By
                            </div>
                            <input type="checkbox" class="dd-input" id="test">
                            <ul class="dd-menu">
                                <li id="audit_id" class="sub-menu">By Audit Type</li>
                                <li  class="sub-menu" id="Auditor">By Auditor Name</li>
                                <li  class="sub-menu" id="Location">By Location</li>
                                <li  class="sub-menu" id="Date">By Date</li>
                            </ul>
                        </label>*@
                        <br />
                        <br />
                        <table id="datatable" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="padding:15px;">Download</th>
                                    <th style="padding:15px;">Report Date</th>
                                    <th style="padding:15px;">Report#</th>
                                    <th style="padding:15px;">Auditor Name</th>
                                    <th style="padding:15px;">Location</th>
                                   @*<th></th>*@
                                    
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.audit_id)
                                        @*@Html.ActionLink("Download File", "DownloadFile","Report")*@
                                        <p><button onclick="location.href='@Url.Action("DownloadFile", "Report",new { audit_id=item.audit_id})'" type="button" id="@Convert.ToSingle(item.audit_id)" class="btn btn-primary btn-xs">PDF <span class="fa fa-download"></span></button></p>
                                        @*<p data-placement="top" data-toggle="tooltip" title="Edit">
            <button onclick="location.href='@Url.Action("DownloadFile", "Report",new { audit_id=item.audit_id})'" type="button" id="@Convert.ToSingle(item.audit_id)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
            <span class="fa fa-download"></span>
            </button>
            </p>*@
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Audit_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.audit_number)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Auditor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                    @*<td><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></td>*@
                                </tr>

                                }

                            </tbody>
                        </table>


                    </div>
                </div>

            </section>
        </div>
    }
}