body {
    background: #fff;
    font-family: "Century Gothic";
    font-size: 14px;
    line-height: 1.8;
    color: #6c757d;
    position: relative;
    font-weight: 400;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff2') format('woff2'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*///////////////////////////DASH BOARD NAVBAR///////////////////////////*/
.page-topbar {
    min-height: 50px;
    position: relative;
    width: 100%;
    background-color: #111;
    top: 0px;
    left: 0px;
    z-index: 1999;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

/*Transition==========================*/
.page-topbar, .logo-area, .logo-area, #main-content, .logo-icon, .wraplist, .page-sidebar, .profile-info, .profile-image, .profile-details, .menu-title, .profile-image a img {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}

    .page-topbar .logo-area {
        width: 230px;
        background-color: #21517d;
        display: block;
        min-height: 50px;
        float: left;
        padding-left: 15px;
    }

    .logo-area img {
        width: 100px;
        margin: 3px 0 0 0;
    }

    .page-topbar .logo-icon {
        width: 130px;
        background-color: #21517d;
        display: block;
        float: left;
    }

    .page-topbar ul {
        margin: 0px;
        padding: 0px;
    }

        .page-topbar ul li {
            list-style-type: none;
        }

    .page-topbar .user-info li a {
        display: inline-block;
        padding: 13px 13px 0;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        position: relative;
    }

    .page-topbar .user-notify li a {
        display: inline-block;
        font-size: 16px;
        padding: 22px 14px;
        color: #fff;
        font-weight: 400;
        position: relative;
    }

    .page-topbar .quick-area .info-menu {
        height: 40px;
        margin: 0;
        line-height: 40px;
        padding: 0 5px;
        display: flex;
    }

.info-menu li {
    float: left;
}

.page-topbar .badge {
    display: inline-block;
    min-width: 10px;
    position: absolute;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #F44336;
    border-radius: 10px;
    top: 8px;
    right: 0;
}

li.profile img {
    height: 27px;
    width: 27px;
    top: 0px;
    right: 10px;
    position: relative;
}

.dropdown-toggle {
    margin: 8px 0 0;
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    color: #ccc;
    background-color: #000;
    background-image: none;
    border: 1px solid;
    border-image-source: linear-gradient(45deg, #ffc00a, #f81b86);
    border-image-slice: 1;
    height: 37px;
    border-radius: 0;
}

    .dropdown-toggle:focus {
        color: #fff;
    }

.btn-default:hover {
    color: #fff;
    background-color: #000;
    border-color: #ddd;
}
/* Ripple magic */
.page-topbar button:focus {
    outline: none;
}

.page-topbar button {
    border: none;
    width: 35px;
    cursor: pointer;
    height: 35px;
    color: #ff9b25;
    padding: 0px 0px;
    font-size: 21px;
    background: transparent;
    margin-top: 5px;
    position: relative;
    float: left;
}

.page-topbar button {
    position: relative;
    overflow: hidden;
}

    .page-topbar button:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        opacity: 0;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.page-topbar button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0px 0;
    width: 160px;
}

.dropdown-menu {
    width: 130px;
    min-width: 130px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 23px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 20px 0 rgba(33,33,33,.2);
    margin-top: -1px;
    padding-top: 0px;
}

.page-topbar .dropdown-menu {
    background: #ffffff;
    border: 1px solid #f5f5f5;
}

.page-topbar li .dropdown-menu.profile li {
    line-height: 40px;
    display: block;
    height: 40px;
    margin: 0px;
}

    .page-topbar li .dropdown-menu.profile li a {
        display: block;
        border-bottom: 1px solid #eeeeee;
        padding: 12px 15px;
    }

        .page-topbar li .dropdown-menu.profile li a i {
            margin: 0 5px;
        }

.page-topbar .dropdown-menu:after, .page-topbar .dropdown-menu:before {
    bottom: 100%;
    right: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.page-topbar .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px;
}

.page-topbar li .dropdown-menu li a {
    text-decoration: none;
    color: #717171;
}


/*//////////////////////////SIDE BAR NAVE//////////////////////////*/
.menu-title img {
    width: 150px;
    margin: 0 0px;
}

.page-sidebar {
    height: auto;
    width: 230px;
    position: absolute;
    padding: 0px;
    background-color: #0d0d0d;
    margin-top: 0px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    min-height: 100%;
    height: auto;
}

    .page-sidebar.fixedscroll {
        position: fixed;
    }

    .page-sidebar.collapseit {
        width: 60px;
        margin-left: 0px !important;
        z-index: 9999;
    }

    .page-sidebar .profile-info {
        background: transparent;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 15px;
        display: flex;
    }

    .page-sidebar .profile-image {
        padding-right: 5px;
        display: inline-block;
    }

.profile-info .profile-image img {
    height: 65px;
    width: 65px;
    float: right;
    top: 5px;
    left: 5px;
    position: relative;
}

.short-profile img {
    height: 45px !important;
    width: 45px !important;
    left: 2px !important;
}

.short-profile .profile-details {
    display: none;
}

.profile-info .profile-details h3 {
    margin: 19px 0px 6px 14px;
}

.profile-info .profile-details .profile-title {
    color: rgba(174, 178, 183, 1.0);
    font-size: 13px;
    margin: 0px 0px 6px 14px;
}

#main-menu-wrapper ul {
    padding: 0px 0 0 0;
    margin: 0px;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
}

.logo_img img {
    width: 45px;
    margin: 0 5px 0 10px;
}

.mn_brdr {
    height: 60px;
    margin: 5px 0 0 0 !important;
}

.sidebar-inner .mn_brdr a {
    margin-left: 0 !important;
}

.mn_brdr:hover {
    background: #0d0d0d !important;
}

.mn_brdr::after {
    content: "";
    background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
    background-image: linear-gradient(left, #ffc00a, #f81b86);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50px;
    left: 0;
}

#main-menu-wrapper .menusection {
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    padding-left: 24px;
    margin: 10px 0 0px 0;
    color: #9e9e9e;
    text-transform: uppercase;
}

.profile-info .profile-details h3 a {
    font-weight: 400;
    color: #757575;
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
}

#main-menu-wrapper li a {
    display: block;
    line-height: 42px;
    cursor: pointer;
    min-height: 42px;
    height: auto;
    color: #fff;
    text-decoration: none;
    /*    padding: 14px 0px;*/
    clear: both;
    /*    border-left: 4px solid transparent;
*/ white-space: nowrap;
    /*    font-size: 18px;*/
}

.page-sidebar.collapseit #main-menu-wrapper li {
    margin-left: 5px;
}

    .page-sidebar.collapseit #main-menu-wrapper li a i {
        margin-right: 20px;
    }

.page-sidebar.collapseit .dropdown:before {
    display: none;
}

#main-menu-wrapper .fa {
    font-size: 14px;
}

#main-menu-wrapper li a i {
    display: inline-block;
    width: 50px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: 0px;
    position: relative;
}



/*MAIN CONTENT/////////////////////////////////////////////////////////////*/

#main-content {
    margin-left: 230px;
    display: block;
    margin-bottom: 15px;
    min-height: 100vh;
    position: relative;
    background: #fff;
    z-index: 9999;
}

    #main-content.sidebar_shift {
        margin-left: 60px;
        margin-right: 0px;
    }

.nopad {
    padding: 0;
}

.main-wrapper {
    margin-top: 0;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

section.box {
    background-color: #ffffff;
    margin: 15px 0;
    min-height: 350px;
    box-shadow: 0 1px 3px rgba(33,33,33,.2);
    -webkit-box-shadow: 0 1px 3px rgba(33,33,33,.2);
    -moz-box-shadow: 0 1px 3px rgba(33,33,33,.2);
    -o-box-shadow: 0 1px 3px rgba(33,33,33,.2);
    -ms-box-shadow: 0 1px 3px rgba(33,33,33,.2);
}






/*Left Pamel*/
.leftMenu {
    height: 100%;
    background-color: #00838f;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    transition: all ease 1s;
    overflow: hidden;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: 1px 4px 8px 4px rgba(0,0,0,0.3);
}

.leftMenuList li {
    margin: 5px 0 0 15px;
}

.mn_brdr a:hover {
    background-color: #000 !important;
}

.leftMenuList li:hover, .leftMenuList li.active {
    background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
    background-image: linear-gradient(left, #ffc00a, #f81b86);
    transition: all ease .5s;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.leftMenuList li a {
    text-decoration: none;
    color: #fff;
}

    .leftMenuList li a svg {
        width: 40px;
        height: 40px;
        float: left;
        margin-left: 0px;
    }

    .leftMenuList li a span {
        text-decoration: none;
        width: 100%;
    }

.leftMenuList li ul li {
    padding: 0px;
    line-height: 30px;
    transition: all .4s;
    box-sizing: border-box;
    margin: 5px 0;
}

    .leftMenuList li ul li ul li {
        padding: 5px;
        background: #B2EBF2;
    }

        .leftMenuList li ul li ul li a span {
            color: #00838f;
        }

        .leftMenuList li ul li ul li:hover {
            background: #B2EBF2;
        }

.dropdown {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    transition: 0.5s;
}

.active + .dropdownlist {
    width: 100%;
    height: auto;
    line-height: 30px;
    padding: 0px;
    margin-left: 0px;
    background: #000;
    transition: 0.5s;
}

    .active + .dropdownlist:hover {
        background: #000;
    }

.dropdownlist {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.dropdown:before {
    font-family: FontAwesome;
    content: "\f105";
    transition: all .4s;
    padding-right: 5px;
    right: 20px;
    position: absolute;
    top: 0px;
}

.dropdown.active:before {
    font-family: FontAwesome;
    content: '\f107';
    transition: all .4s;
    padding-right: 5px;
}

.leftMenu:not(.openMenu) li > .dropdownlist {
    pointer-events: none;
    height: 0;
}

.open > a {
    background: #ff9b25;
    color: #fff !important;
}






.breadcome-list {
    padding-top: 30px;
    padding-bottom: 100px;
}

.breadcome-heading .form-control,
.breadcome-heading .form-control:focus {
    border: 1px solid #ececec;
    font-size: 13px;
    height: 34px;
    color: #303030;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, .1);
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}

.breadcome-heading a {
    position: absolute;
    top: 0;
    left: 178px;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    color: #999;
}

ul.breadcome-menu {
    text-align: right;
}

ul.breadcome-menu {
    padding-top: 8px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


    ul.breadcome-menu li {
        font-size: 14px;
        display: inline-block;
        color: #fff;
    }

        ul.breadcome-menu li a {
            color: #fff;
        }

    ul.breadcome-menu li {
        font-size: 14px;
        display: inline-block;
        color: #fff;
    }

.dashboard_header {
    /* background: linear-gradient(0deg, #1143a6, 30%, #1197bf 70%); */
    background: linear-gradient(0deg, #0940af, 30%, #010e15 70%);
}

.pos_relative {
    position: absolute;
    top: 196px;
    width: 100%;
}

.panel-featured-primary {
    background-image: -webkit-linear-gradient(left, #3acdc1, #149dd0);
    background-image: -moz-linear-gradient(left, #3acdc1, #149dd0);
    background-image: -ms-linear-gradient(left, #3acdc1, #149dd0);
    background-image: -o-linear-gradient(left, #3acdc1, #149dd0);
    background-image: linear-gradient(left, #3acdc1, #149dd0);
}

.panel-featured-second {
    background-image: -webkit-linear-gradient(left, #ffa442, #ff7501);
    background-image: -moz-linear-gradient(left, #ffa442, #ff7501);
    background-image: -ms-linear-gradient(left, #ffa442, #ff7501);
    background-image: -o-linear-gradient(left, #ffa442, #ff7501);
    background-image: linear-gradient(left, #ffa442, #ff7501);
}

.panel-featured-three {
    background-image: -webkit-linear-gradient(left, #e26fea, #8864f6);
    background-image: -moz-linear-gradient(left, #e26fea, #8864f6);
    background-image: -ms-linear-gradient(left, #e26fea, #8864f6);
    background-image: -o-linear-gradient(left, #e26fea, #8864f6);
    background-image: linear-gradient(left, #e26fea, #8864f6);
}

.panel-featured-four {
    background-image: -webkit-linear-gradient(left, #2f8de0, #064f8b);
    background-image: -moz-linear-gradient(left, #2f8de0, #064f8b);
    background-image: -ms-linear-gradient(left, #2f8de0, #064f8b);
    background-image: -o-linear-gradient(left, #2f8de0, #064f8b);
    background-image: linear-gradient(left, #2f8de0, #064f8b);
}

.panel-featured-left {
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    float: left;
    margin: 5px 0 0;
}

.panel-body {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 5px;
    padding: 10px 0;
    overflow: hidden;
}
/*.panel-featured-left .active{
    background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
    background-image: linear-gradient(left, #ffc00a, #f81b86);
    transition: all ease .5s;
    cursor: pointer; 
}
*/
.widget-summary {
    display: table;
    width: 100%;
}

    .widget-summary .widget-summary-col.widget-summary-col-icon {
        float: left;
    }



    .widget-summary .summary-icon {
        margin-left: 10px;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: solid 2px #fff;
    }

        .widget-summary .summary-icon img {
            width: 30px;
            height: 30px;
            padding: 0px 3px 10px;
        }


    .widget-summary .summary .title {
        margin: 5px 0;
        font-size: 17.5px;
        line-height: 28px;
        color: #fff;
        font-weight: 500;
    }

.summary-icon i {
    font-size: 22px;
}

.widget-summary .summary-footer {
    width: 100%;
    float: left;
    padding: 0 0 10px 0;
}

.summary-footer h1 {
}

.bg-primary {
    background: #08c;
}
/* dashboard card end */
.mn-hundred {
    float: left;
    width: 100%;
    margin: 5px 0 0;
}

.circliful {
    margin: 5px auto;
    text-align: center;
    position: relative;
}

.circle-text {
    font-size: 18px !important;
    color: #fff;
}

.circle-info-half {
    font-size: 12px !important;
    color: #fff;
    margin: 30px 0 0 0;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
}

.mn-string {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}



#chartdiv, #chartdiv1 {
    width: 100%;
    height: 240px;
}

#chartdiv1 {
    height: 245px;
}

.charts_new, .total_audits {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 5px;
    margin: 30px 0 0 0;
    padding: 0 0 15px 0;
}

.charts_new_date {
    padding: 0 0 0px 0;
}

    .charts_new_date .hasDatepicker {
        margin: 0px 0 0 0;
        height: 319px;
        overflow: hidden;
    }

.charts_new h3 {
    padding: 0 15px 0px;
    margin: 15px 0;
    color: #ff4f5b;
    font-size: 18px;
}

    .charts_new h3 label {
        font-weight: normal;
        margin: 0;
    }

hr {
    padding: 0px 0 5px;
    width: 100%;
    margin: 5px 0;
    border-top: solid 1px #f00;
}

.total_audits .circle-info-half {
    color: #000000;
    margin: 45px 0 0 0;
}

.total_audits .circle-text {
    color: #000000;
    font-size: 30px !important;
}

.mn_heading {
    width: 100%;
    float: left;
}

    .mn_heading h4 {
        float: left;
        color: #ff4f5b;
        margin: 15px 0 20px 0;
    }

        .mn_heading h4:after {
            width: 40px;
            height: 2px;
            background: #ff4f5b;
            content: "";
            position: absolute;
            top: 40px;
            left: 15px;
        }

    .mn_heading h6 {
        float: right;
        color: #333;
        margin: 15px 0 0 0;
        font-size: 13px;
    }

.total_audits .open_task1 {
    border-top: solid 4px #ed4668;
}

.total_audits .open_task2 {
    border-top: solid 4px #6cc850;
}

.total_audits .open_task3 {
    border-top: solid 4px #ffac14;
}

.open_task {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    border-top: solid 4px #f45c46;
    float: left;
    box-shadow: 0px 0px 5px #ddd;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
}

    .open_task h5 {
        font-weight: bold;
        color: #000000;
        font-size: 15px;
        margin: 0px 0 18px 0;
    }

    .open_task h6 {
        font-weight: normal;
        color: #000000;
        font-size: 13px;
    }

    .open_task p {
        color: #333;
        margin: 0;
    }

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

footer {
    background: #0d0d0d;
    margin: 0px 0 0 0;
    width: 100%;
    height: 50px;
}

    footer p {
        text-align: center;
        color: #fff;
        padding: 10px 0;
        margin: 0;
    }

@media screen and (max-width: 1060px) {
    .per_audit .uploader div {
        font-size: 12px;
        margin: 7px 0;
    }
}

@media screen and (max-width: 990px) {
    .panel-featured-left {
        margin: 0 0 15px 0;
    }

    .per_audit .uploader div {
        font-size: 14px;
        margin: 7px;
    }

    .per_audit {
        width: 100%;
        float: left;
    }

    .uploader {
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width:650px) {
    .page-sidebar {
        width: 60px;
    }

    #main-content {
        margin-left: 60px;
    }

    .leftMenuList li {
        margin-left: 10px;
    }

    .dropdown:before {
        right: 30px;
    }

    .au_none, .profile img {
        display: none;
    }

    .au_select {
        float: left;
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    .per_audit .uploader div {
        font-size: 12px;
        margin: 7px 0;
    }

    .per_audit .toggle_radio {
        width: 175px;
    }

        .per_audit .toggle_radio label {
            width: 45px;
        }

    .per_audit .uploader label {
        height: auto;
    }

    #main-content .breadcrumb li a {
        padding: 10px 0px 10px 32px;
    }
}

@media screen and (max-width:360px) {
}





.panel-featured-left:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 90vh;
}

.panel-featured-left:hover h5 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity 1.3s ease;
    transition: transform .5s ease, opacity 1.3s ease;
}

.panel-featured-left .overlay {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    margin: auto;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.panel-featured-left h5 {
    color: #fff;
    background: #f04359;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 40%;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
    border-radius: 5px;
    text-align: center;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .5s ease, opacity .7s ease;
    transition: transform .5s ease, opacity .7s ease;
}

.charts_new select {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    float: left;
    position: relative;
    z-index: 999;
    color: #ccc;
    background-color: #000;
    background-image: none;
    border: 1px solid;
    border-image-source: linear-gradient(45deg, #ffc00a, #f81b86);
    border-image-slice: 1;
    height: 37px;
    border-radius: 0;
}

.total_audits .marquee {
    position: relative;
    top: 4px;
}

.total_audits ul {
    padding: 0;
    margin: 0;
    height: 120px;
    overflow: hidden;
}

.total_audits li {
    float: left;
}

.flash-box {
    width: 200px;
    height: 42px;
    position: relative;
    background: #fdb10f;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 2.6;
}

.mn_box {
    width: 100%;
    float: left;
}

.icon-container_box {
    background: #94ce58;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    margin: 17px auto;
}

    .icon-container_box p {
        text-align: center;
        color: #fff;
        font-size: 30px;
        padding: 15px 0 0 0;
    }

.charts_new .lead {
    font-weight: bold;
    color: #595959;
    font-size: 18px;
    margin: 5px 0;
}

.tengah {
    text-align: center;
}

    .tengah p {
        color: #7f7f7f;
        font-size: 14px;
        margin: 0;
    }





.icon-container_box1 {
    background: #be0712;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    position: absolute;
    z-index: 9;
    top: 50%;
    width: 100%;
}

.carousel .left_arrow {
    float: left;
    border: none;
    position: absolute;
    left: -15px;
}

.carousel .right_arrow {
    float: right;
    border: none;
    position: absolute;
    right: -15px;
}

.dataTable p {
    margin: 0;
}

.breadcrumb {
    padding: 0px;
    background: #ed1980;
    list-style: none;
    overflow: hidden;
    border-radius: 0px;
    margin: 0px 0 15px 0;
    width: 100%;
}

    .breadcrumb > li + li:before {
        padding: 0;
    }

    .breadcrumb li {
        float: left;
    }

        .breadcrumb li.active a {
            background: #f14c52;
        }

        .breadcrumb li.completed a {
            background: #fea610;
        }

        .breadcrumb li.active a:after {
            border-left: 30px solid #f14c52;
        }

        .breadcrumb li.completed a:after {
            border-left: 30px solid #fea610;
        }

        .breadcrumb li a {
            color: white;
            text-decoration: none;
            padding: 10px 5px 10px 45px;
            position: relative;
            display: block;
            float: left;
            border: none;
        }

            .breadcrumb li a:after {
                content: " ";
                display: block;
                width: 0;
                margin-left: -2px;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid #ed1980;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            .breadcrumb li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }

        .breadcrumb li:first-child a {
            padding-left: 15px;
        }

        .breadcrumb li a:hover {
            background: #ffc107;
        }

            .breadcrumb li a:hover:after {
                border-left-color: #ffc107 !important;
            }

/*search box css start here*/
.search-sec {
    background: #fff;
    float: left;
    width: 100%;
    margin: 0 0 20px;
}

    .search-sec label {
        color: #fff;
        font-weight: 300;
        margin: 5px 0 0;
    }

.search-slt {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    border: 1px solid #ddd;
    height: 37px;
    border-radius: 5px;
}

.wrn-btn {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0;
    height: 37px;
    font-size: 14px;
    background-color: #fa4074;
    /*background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
    background-image: linear-gradient(left, #ffc00a, #f81b86);*/
    color: #fff;
    border-radius: 5px;
    margin: 30px 0 0 0;
}

.wrn-btn2 {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 0;
    height: 37px;
    font-size: 14px;
    background-color: #fa4074;
    color: #fff;
    border-radius: 5px;
    margin: 30px 0 0 0;
}

.wrn-btn1 {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    border-color: #ffffff;
    height: 37px;
    font-size: 14px;
    background-color: #a0a0a0;
    color: #fff;
    border-radius: 5px;
}

.add_button {
    float: right;
}

    .add_button h3 {
        margin: 0 0 5px 0;
    }

    .add_button a {
        font-size: 14px;
        background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
        background-image: linear-gradient(left, #ffc00a, #f81b86);
        padding: 10px 30px;
        color: #fff;
        border-radius: 5px;
    }

#input_field {
    display: none;
}

.search-sec p {
    border: solid 1px #333;
    padding: 5px 10px;
    color: #ddd;
}

.dataTables_wrapper thead {
    color: #333;
}

.dataTables_wrapper th {
    font-weight: normal;
}


.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 35px 0 0;
}

    .chiller_cb input {
        display: none;
    }

        .chiller_cb input:checked ~ span {
            background: #fd2727;
            border-color: #fd2727;
        }

            .chiller_cb input:checked ~ span:before {
                width: 1rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.3s;
            }

            .chiller_cb input:checked ~ span:after {
                width: 0.4rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.2s;
            }

        .chiller_cb input:disabled ~ span {
            background: #ececec;
            border-color: #dcdcdc;
        }

        .chiller_cb input:disabled ~ label {
            color: #dcdcdc;
        }

            .chiller_cb input:disabled ~ label:hover {
                cursor: default;
            }

    .chiller_cb label {
        padding-left: 2rem;
        position: relative;
        z-index: 2;
        cursor: pointer;
        margin-bottom: 0;
    }

    .chiller_cb span {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 2px solid #ccc;
        position: absolute;
        left: 0;
        transition: all 0.2s;
        z-index: 1;
        box-sizing: content-box;
    }

        .chiller_cb span:before {
            transform: rotate(-55deg);
            top: 1rem;
            left: 0.37rem;
        }

        .chiller_cb span:after {
            transform: rotate(35deg);
            bottom: 0.35rem;
            left: 0.2rem;
        }
/*Bulk*/
.qr_code {
    width: 100%;
    float: left;
}

.bulk_code {
    overflow: auto;
    float: left;
    width: 100%;
    margin: 15px 0 0;
}

.bulk {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 5px;
    margin: 0px 0 15px 0;
    padding: 0 0 15px 0;
    text-align: center;
}

    .bulk h3 {
        color: #ff4f5b;
        font-size: 18px;
        padding: 10px 10px 15px;
        width: 100%;
        margin: 5px 0;
        border-bottom: solid 1px #f00;
    }

    .bulk img {
        width: 50%;
    }

    .bulk h5 {
        margin: 0;
    }

        .bulk h5 img {
            float: right;
            width: 20px;
            margin: 0 15px 0 0;
        }

#calendar {
    max-width: 100%;
    margin: 0 auto;
}

.mn_right {
    float: right;
    width: 100%;
}

    .mn_right img {
        width: 25px;
    }

    .mn_right .search-slt {
        border: solid 1px #fa4074;
        border-radius: 5px;
    }

.btn {
    margin: 10px 5px 0px 0 !important;
    padding: 4px 15px;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success:hover, .btn-success.active:focus, .btn-success.active.focus {
    color: #333;
    background-color: #fff;
    border-color: #fa4074;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: left;
    width: auto;
}

.question {
    float: left;
}

    .question h6 {
        font-weight: bold;
        color: #fa4074;
    }

.toggle_radio label {
    z-index: 9;
    display: block;
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    background: #fa4074;
    border: solid 1px #fa4074;
    text-align: center;
    color: #fff;
}

textarea.form-control {
    height: 80px;
}

.uploader {
    float: right;
    width: 100%;
}

    .uploader label {
        float: left;
        clear: both;
        width: 100%;
        height: 80px;
        padding: 0;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        border: 3px solid #eee;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .uploader label:hover {
            border-color: #ff9927;
        }

        .uploader label.hover {
            border: 3px solid #ff9927;
            box-shadow: inset 0 0 0 6px #eee;
        }

            .uploader label.hover #start i.fa {
                -webkit-transform: scale(0.8);
                transform: scale(0.8);
                opacity: 0.3;
            }

    .uploader #start {
        float: left;
        width: auto;
        padding: 10px 0px;
    }

        .uploader #start.hidden {
            display: none;
        }

        .uploader #start i.fa {
            float: left;
            font-size: 30px;
            padding: 5px;
            color: #050505;
            margin-bottom: 1rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

    .uploader #response {
        float: left;
    }

        .uploader #response.hidden {
            display: none;
        }

        .uploader #response #messages {
            margin-bottom: .5rem;
        }

    .uploader #file-image {
        margin: 5px;
        float: left;
        width: auto;
        height: auto;
        max-width: 180px;
    }

        .uploader #file-image.hidden {
            display: none;
        }

    .uploader #notimage {
        display: block;
        float: left;
        clear: both;
        width: 100%;
    }

        .uploader #notimage.hidden {
            display: none;
        }

    .uploader progress,
    .uploader .progress {
        display: inline;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        height: 8px;
        border: 0;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
    }

        .uploader .progress[value]::-webkit-progress-bar {
            border-radius: 4px;
            background-color: #eee;
        }

        .uploader .progress[value]::-webkit-progress-value {
            background: -webkit-linear-gradient(left, #393f90 0%, #454cad 50%);
            background: linear-gradient(to right, #393f90 0%, #454cad 50%);
            border-radius: 4px;
        }

        .uploader .progress[value]::-moz-progress-bar {
            background: linear-gradient(to right, #393f90 0%, #454cad 50%);
            border-radius: 4px;
        }

    .uploader input[type="file"] {
        display: none;
    }

    .uploader div {
        margin: 7px;
        float: left;
        color: #050505;
    }

    .uploader .btn {
        display: inline-block;
        margin: .5rem .5rem 1rem .5rem;
        clear: both;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: .2rem;
        outline: none;
        padding: 0 1.5rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
        background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
        background-image: linear-gradient(left, #ffc00a, #f81b86);
        cursor: pointer;
    }

.per_audit {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #ddd;
}

.overflow {
    width: 100%;
    float: left;
    overflow: auto;
    height: 500px;
    background: #fff;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 5px;
    margin: 0px 0 0 0;
    padding: 0 0 15px 0;
}

.modal-dialog {
    width: 400px;
    margin: 100px auto;
}

.input-group-addon {
    color: #333 !important;
}

.audit_id {
    background-color: #eee;
}

.close_radio {
    width: 220px;
}

.icon-container_yellow {
    background: #ffc000;
}





/* Dropdown */

.data_user .dropdown {
    display: inline-block;
    position: absolute;
}

    .data_user .dropdown:before {
        display: none;
    }

.data_user .dd-button {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 30px 5px 20px;
    margin: 13px 0 0 15px;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    font-size: 13px;
    font-weight: normal;
}

    .data_user .dd-button:after {
        content: '';
        position: absolute;
        top: 65%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
        border-top: 6px solid #333;
    }



.data_user .dd-input {
    display: none;
}

.data_user .dd-menu {
    position: absolute;
    top: 100%;
    z-index: 9;
    color: #333;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.data_user .dd-input + .dd-menu {
    display: none;
}

.data_user .dd-input:checked + .dd-menu {
    display: block;
}

.data_user .dd-menu li {
    padding: 6px 20px;
    cursor: pointer;
    white-space: nowrap;
}

    .data_user .dd-menu li:hover {
        background-color: #f6f6f6;
    }

    .data_user .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }

.add_new_user h4 {
    font-size: 18px;
    border: solid 1px #f67f2d;
    padding: 10px;
    color: #f67f2d;
}

    .add_new_user h4 small {
        float: right;
    }

.data_user .dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.mn_green thead {
    background-color: #fff;
    color: #333;
    border-top: solid 1px #ddd;
}

.mn_orange thead {
    background-color: #ffc000;
    color: #333;
}

.mn_orange tbody tr:nth-child(even) {
    background-color: #fff2cc;
}

.mn_red_1 thead {
    border: solid 1px #f1975b;
}

.mn_blue thead {
    background-color: #4472c4;
    color: #fff;
}

.mn_blue tbody tr:nth-child(even) {
    background-color: #cfd5ea;
}

.mn_blue tbody tr:nth-child(odd) {
    background-color: #e9ebf5;
}

.mn_red_1 tbody tr:nth-child(odd) {
    background-color: #fbe5d6;
}

.mn_red_1 .table > thead > tr > th {
    border-bottom: 2px solid #f1975b;
}

.mn_red_1 .table {
    border: solid 1px #f1975b;
}

.mn_green .table > thead > tr > th, .table > tbody > tr > th, .mn_green .table > tfoot > tr > th, .mn_green .table > thead > tr > td, .mn_green .table > tbody > tr > td, .mn_green .table > tfoot > tr > td {
    padding: 8px 12px;
    font-size: 13px;
    font-weight: normal;
}

.mn_green_color i {
    color: #70ad47;
    font-size: 17px;
}

.mn_red i {
    color: #ff0000;
    font-size: 17px;
}

.mn_yellow i {
    color: #ffc000;
    font-size: 17px;
}

.mn_row {
    margin-right: 0;
    margin-left: 0;
}

.dataTables_wrapper {
    width: 100%;
    float: left;
    overflow: auto;
    border: solid 1px #ddd;
    padding: 15px 0;
}

    .dataTables_wrapper .row {
        margin: 0;
    }

.mobile_img {
    display: none;
}

    .mobile_img img {
        width: 40px;
        position: absolute;
        top: 0;
        margin: 5px 13px;
    }

.sidebar-inner .au_none {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    background: #000;
    z-index: 9;
    width: 230px;
    padding: 5px 15px;
}

    .sidebar-inner .au_none img {
        padding: 0 12px 0 5px;
    }

    .sidebar-inner .au_none:hover {
        background: none;
    }

.leftMenuList { /*
    height: 90vh;*/
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #fff;
    background-color: #000;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    /*background-image: -webkit-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -moz-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -ms-linear-gradient(left, #ffc00a, #f81b86);
    background-image: -o-linear-gradient(left, #ffc00a, #f81b86);
    background-image: linear-gradient(left, #ffc00a, #f81b86);
    border: solid 1px #f3633e;*/
    z-index: 2;
    color: #333;
    cursor: default;
    background-color: #fff;
    border-color: #ddd;
}

.btn-primary {
    background: #fa4074;
    border: solid 1px #fa4074;
}


.bread_user {
    background: #f2f2f2;
    width: 100%;
    float: left;
    margin: 0 0 15px 0;
}

    .bread_user h2 {
        margin: 0;
        padding: 10px 0;
        display: block;
    }

    .bread_user p a {
        float: none;
        color: #f65b86;
        font-weight: bold;
        background: none;
        padding: 0;
    }

    .bread_user a, .plan_audit a {
        float: right;
        background: #f74476;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        margin: 20px 0 0 0;
    }

.user_datatable .table-bordered, .user_datatable .dataTables_wrapper {
    border: none;
}

    .user_datatable .dataTables_wrapper thead {
        background: none;
        color: #333;
        font-weight: bold;
    }

    .user_datatable .table-bordered > thead > tr > th, .user_datatable .table-bordered > tbody > tr > td {
        border: none;
        border-bottom: solid 1px #ddd;
    }

.user_datatable td a {
    background: #f74476;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

.user_datatable td input, .user_datatable td select {
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 5px;
}

.gray_bg {
    background: #f9f9f9 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
}

.modal-body p label {
    display: block;
}

.modal-body p input, .modal-body p select {
    width: 100%;
    padding: 5px 15px;
    height: 35px;
}

.modal-header {
    border-bottom: solid 1px #f86d94;
}

.modal-body p button {
    background: #be0712;
    color: #fff;
    width: 100%;
}

.mn_add img {
    width: 70px;
    margin: 0 10px;
}

.mn_add p {
    padding: 5px 0px;
}

.mn_user p {
    line-height: 24px;
}

.permitt img {
    width: 15px;
    margin: 5px 5px;
}

.mn_top {
    margin: 30px 0 0 0;
}

.mn_complaiacce label {
    float: left;
    color: #333;
    max-width: inherit;
}

#add_question_1 {
    display: none;
}

.alert-labeled {
    padding: 0px;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.alert-labeled-row1 {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}

.add_text {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 5px;
    border: solid 1px #ddd;
    padding: 15px 57px 0;
    height: 60px;
    background: #f2f2f2;
}

.mn_select .search-slt {
    background: #f2f2f2;
    border-radius: 5px;
}

.mn_select {
    margin: 0 0 30px 0;
}

.ma_q_elliplis i {
    vertical-align: middle;
    width: auto;
    padding: 0px 15px;
    height: 100%;
    font-size: 2.1em;
    display: table-cell;
    position: absolute;
    margin-top: 30px;
    height: 35px;
}

.ma_close i {
    position: absolute;
    right: 30px;
    top: 55px;
}

.alert-labeled-row {
    display: table-row;
    padding: 0px;
}

.alert-labelled-cell {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.alert-labeled .close > * {
    padding: 20px 15px 0 0;
    font-size: 16px;
    /*display: table-cell;*/
    vertical-align: middle;
}

.alert-label {
    vertical-align: middle;
    width: auto;
    padding: 0px 15px;
    height: 100%;
    font-size: 2.1em;
}

.alert-labeled-row h6 {
    color: #fa4074;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.bs-calltoaction {
    position: relative;
    width: auto;
    padding: 15px 25px 0;
    box-shadow: 0px 0px 10px #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 20px #2de083;
}

.bs-calltoaction_1 {
    border-bottom: solid 20px #ff615c;
}

.bs-calltoaction > .row {
    display: table;
    width: calc(100% + 30px);
}

.bs-calltoaction h1 {
    margin: 0;
}

.cta-contents {
    padding-top: 0px;
    padding-bottom: 0px;
}

.cta-title {
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc {
    padding: 0;
}

    .cta-desc p {
        color: #333;
    }

        .cta-desc p:last-child {
            margin-bottom: 0;
        }

    .cta-desc h4 {
        color: #2de083;
        font-size: 18px;
        font-weight: bold;
    }

    .cta-desc h5 {
        color: #ff615c;
        font-size: 18px;
        font-weight: bold;
    }

.glyphicon-lg {
    font-size: 4em;
}

.info-block {
    margin: 10px 0px;
}

    .info-block .square-box {
        width: 80px;
        min-height: 80px;
        margin-right: 22px;
        text-align: center !important;
        background-color: #676767;
        padding: 20px 0;
    }

    .info-block.block-info .square-box {
        background-color: #ff615c;
        border-radius: 50%;
        color: #FFF;
    }

    .info-block.block-info .square-box1 {
        background-color: #2de083;
        border-radius: 50%;
        color: #FFF;
    }

    .info-block.block-info .square-box2 {
        background-color: #ffc000;
        border-radius: 50%;
        color: #FFF;
    }

.square-box h1 {
    margin: 0px 0 0;
}

.square-box h2 {
    margin: 10px 15px 10px 0;
}

.plan_audit_1 p {
    margin: 0;
    font-size: 12px;
}

.info-block h5 {
    font-size: 18px;
}

.plan_audit_1 {
    box-shadow: 0px 0px 10px #ddd;
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
}

.item_2 {
    margin: 15px 0 0 0;
}

.top {
    margin: 10px 0 0;
}

.plan_audit_drop {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 10px #ddd;
    padding: 0 0 15px 0;
    display: none;
}

    .plan_audit_drop h2 {
        border-bottom: solid 1px #fa4074;
        font-size: 20px;
        padding: 0 15px 10px 0px;
        text-align: right;
    }

    .plan_audit_drop label {
        margin: 10px 0 0 0;
    }

.cal_save {
    text-align: center;
    float: left;
    /*width: 100%;*/
    margin: 15px 0;
}

    .cal_save a {
        background: #fa4074;
        color: #fff;
        padding: 10px 25px;
        border-radius: 5px;
    }










@media (max-width: 991px) {
    .bs-calltoaction > .row {
        display: block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"] {
            float: none;
            display: block;
            vertical-align: middle;
            position: relative;
        }

    .cta-contents {
        text-align: center;
    }
}

.mn_textarea {
    display: none;
    margin: 10px 0;
}

    .mn_textarea textarea {
        border-radius: 5px;
    }

.nc_status td a {
    color: #333;
    font-weight: bold;
    background: none;
}

.search-sec h2 {
    padding: 0 15px;
    color: #f84174;
}




#custom-search-input {
    margin: 0;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #D9230F;
    }

.search-query:focus + button {
    z-index: 3;
}

#custom-search-input .input-group {
    width: 100%;
    margin: 0 0 15px 0;
}

#custom-search-input .input-group-btn {
    position: absolute;
    right: 0;
    top: 5px;
}

.capa_but a {
    float: left;
    background: #f74476;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    margin: 0 0 0 20px;
}

.hide {
    display: none;
}

.capa_but .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-color: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: none;
}

.capa_but p {
    float: left;
    float: left;
    margin: 0px 0px 0 25px;
    border: solid 1px #ddd;
    padding: 5px;
    border-radius: 5px;
}

    .capa_but p img {
        width: 20px;
        margin: 0px 0 0 6px;
    }

.capa_but .btn-large {
    padding: 0px 10px 0;
    margin: 0px !important;
}

.capa_textarea {
    margin: 20px 0 0 0;
}

    .capa_textarea label {
        color: #f74476;
    }

button.close {
    padding: 0;
    cursor: pointer;
    border: 0;
    background: #f2f2f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 1;
    color: #ccc;
    line-height: 10px;
    margin: 10px 5px;
}


.alert-labeled-row1 h6 {
    color: #fa4074;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.p-0 {
    padding-left: 0 !important;
}

.ui-front {
    z-index: 99999 !important;
}


.btn-bulk {
    margin-top: 20px !important;
}
select {
  -webkit-appearance: none;  /* for webkit (safari, chrome) compatibility */
  -moz-appearance: none; /* for firefox compatibility */
  appearance: none;
}