﻿@model List<Audire_POCO.PartPOCO>
@using Audire_MVC.Utilities

<style>

    .btn 
    {
        margin-top:-10px;
    }
    .active
    {
         background-color: #f5f5f5;
    }
    .success
    {
         background-color: #dff0d8;
    }

</style>

<script type="text/javascript">
   
    $('document').ready(function () {
        
        $("#Region").val($("#ddlRegion option:selected").text());
        $("#Country").val($("#ddlCountry option:selected").text());
        $("#Location").val($("#ddlLocation option:selected").text());
        $("#LineName").val($("#ddlLine option:selected").text());
        $("#ddlRegion").change(function () {
            
            var ddtext = $("#ddlRegion option:selected").text();
            $("#Region").val(ddtext);

        });
        $("#ddlCountry").change(function () {
            var ddtext = $("#ddlCountry option:selected").text();
            $("#Country").val(ddtext);

        });
        $("#ddlLocation").change(function () {
            var ddtext = $("#ddlLocation option:selected").text();
            $("#Location").val(ddtext);

        });
        $("#ddlLine").change(function () {
            var ddtext = $("#ddlLine option:selected").text();
            $("#LineName").val(ddtext);

        });
    });

    var item = $("#ddlRegion").children("option:selected").val();
    
    $.ajax({
        url: "GetCountries",
        type: 'GET',
        cache: false,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: ({ "region_id": item }),
        success: function (result) {
            $("#ddlCountry").html(""); // clear before appending new list 
            $.each(result, function (i, country) {
                $("#ddlCountry").append(
                    $('<option></option>').val(country.country_id).html(country.country_name));
            });
        }
    });

    var item = $("#ddlCountry").children("option:selected").val();
    
    $.ajax({
        url: "GetLocations",
        type: 'GET',
        cache: false,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: ({ "location_id": item }),
        success: function (result) {
            $("#ddlLocation").html(""); // clear before appending new list 
            $.each(result, function (i, location) {
                $("#ddlLocation").append(
                    $('<option></option>').val(location.location_id).html(location.location_name));
            });
        }
    });


    $('#ddlRegion').change(function (event) {
        
        var args = event.args;
        var item = $(this).children("option:selected").val();
        $.ajax({
            url: "GetCountries",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "region_id": item }),
            success: function (result) {
                $("#ddlCountry").html(""); // clear before appending new list 
                $.each(result, function (i, country) {
                    $("#ddlCountry").append(
                        $('<option></option>').val(country.country_id).html(country.country_name));
                });
            }
        });
    });

    $('#ddlCountry').change(function (event) {
        
        var args = event.args;
        var item = $(this).children("option:selected").val();
        $.ajax({
            url: "GetLocations",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "country_id": item }),
            success: function (result) {
                $("#ddlLocation").html(""); // clear before appending new list 
                $.each(result, function (i, location) {
                    $("#ddlLocation").append(
                        $('<option></option>').val(location.location_id).html(location.location_name));
                });
            }
        });
    });


    function validateControls() {
        
        var err_flag = 0;
        if ($('#ddlRegion').val() == "") {
            $('#ddlRegion').css('border-color', 'red');
            err_flag = 1;
        }
        else {
            $('#ddlRegion').css('border-color', '');
        }
        if ($('#ddlCountry').val() == "") {
            $('#ddlCountry').css('border-color', 'red');
            err_flag = 1;
        }
        else {
            $('#ddlCountry').css('border-color', '');
        }

        if ($('#ddlLocation').val() == "") {
            $('#ddlLocation').css('border-color', 'red');

            err_flag = 1;
        }
        else {
            $('#ddlLocation').css('border-color', '');
        }
        if ($('#ddlLocation').val() == "") {
            $('#ddlLocation').css('border-color', 'red');

            err_flag = 1;
        }
        else {
            $('#ddlLineName').css('border-color', '');
        }
        if ($('#txtPartNumber').val() == "") {
            $('#txtPartNumber').css('border-color', 'red');

            err_flag = 1;
        }
        else {
            $('#txtPartNumber').css('border-color', '');
        }

        if (err_flag == 0) {
            $('#lblError').text('');
            return true;

        }
        else {
            $('#lblError').text('Please enter all the mandatory fields.');
            return false;
        }
    }

</script>

@using (Html.BeginForm("SavePart", "Part", FormMethod.Post, new { @class = "forms" }))
{
 
      foreach (var m in Model)
        {
         <div class="table">
                <div class="active">
                    <div class="col-md-6 nopad">
                        <p>Region Name: </p>
                        @Html.HiddenFor(mi => m.region_id)
                    </div>
                     <div class="col-md-6 nopad">
                       @Html.DropDownListFor(mi=>m.region, (CommonDropdowns.GetRegionList()), new {@class="form-control aud-control", id="ddlRegion" })
                         <input type="hidden" id="Region" name="Region" value="" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                        <p>Country: </p>
                    </div>
                    <div class="col-md-6 nopad">
                       @Html.DropDownListFor(mi => m.country, (CommonDropdowns.GetCountryList()), new {@class="form-control aud-control", id="ddlCountry" })
                        <input type="hidden" id="Country" name="Country" value="" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="success">
                    <div class="col-md-6 nopad">
                       <p>Location: </p>
                        @Html.HiddenFor(mi => m.location_id)
                    </div>
                     <div class="col-md-6 nopad">
                       @Html.DropDownListFor(mi=>m.location_id, (CommonDropdowns.GetLocationList()), new {@class="form-control aud-control", id="ddlLocation" })
                         <input type="hidden" id="Location" name="Location" value="" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                       <p>LineName/No: </p>
                         @Html.HiddenFor(mi => m.line_id)
                    </div>
                    <div class="col-md-6 nopad">
                         @Html.DropDownListFor(mi=>m.line_id, (CommonDropdowns.GetLineList()), new {@class="form-control aud-control", id="ddlLine" })
                        <input type="hidden" id="LineName" name="LineName" value="" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                       <p>Product: </p>
                        @* @Html.HiddenFor(mi => m.part_id)*@
                    </div>
                    <div class="col-md-6 nopad">
                        @Html.TextArea("PartNum", new { @class="form-control aud-control", Width = "98%", TextMode = "MultiLine", MaxLength = "60", id = "txtPartNumber" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
         <div>
        <label id="lblError" style="color:red;"></label>
            <input type="submit" value="Save" class="btn btn-save" onclick="return validateControls();"/>
        </div>
            
    break;

}
     
}