﻿@model List<Audire_POCO.RolePOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@*<script src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />*@
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        setModule();
        $('#tblRole').dataTable();

        $("[data-toggle=tooltip]").tooltip();
        //$('#tblRole').on('click', 'tbody tr td', function () {
        //    debugger;
        //    var row_index = $(this).parent().index('tr');
        //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
        //    var id = $(this).parent().find("input[type=hidden]").val();
        //    if (col_index < 3) {
        //        $("#divEditRole").hide();
        //        $('#labelMessage').empty();
        //        $('#ViewRole').show();
        //        $("#ViewRole").load(rootUrl + "Role/DisplayRole",
        //   { Id: id, viewName: "DisplayRole" });
        //    }
        //    else {
        //        $('#ViewRole').hide();
        //        $("#divEditRole").show();
        //        $('#labelMessage').empty();
        //        $("#divEditRole").load(rootUrl + "Role/DisplayRole",
        //   { Id: id, viewName: "EditRole" });
        //    }
        //});

    });

    $body = $("body");
    debugger;
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    function LoadViewForNewRole() {
        $('#labelMessage').empty();
        @* var rootUrl = '@Url.Content("~")';*@
        $('#ViewRole').hide();
        $("#divEditRole").show();
        $('#labelMessage').empty();
        $("#divEditRole").load(rootUrl + "Role/AddNewRole",
        { viewName: "EditRole" });
    }
    function LoadViewForEditRole(id) {
        debugger;
        $('#labelMessage').empty();
        @* var rootUrl = '@Url.Content("~")';*@
        $('#ViewRole').hide();
        $("#divEditRole").show();
        $('#labelMessage').empty();
        $("#divEditRole").load(rootUrl + "Role/DisplayRole",
       { Id: id, viewName: "EditRole" });
    }

</script>
<style>
    .tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
        padding: 5px;
        font-size: 15px;
    }

    .sorting, .sorting_asc, .sorting_desc {
        background: none;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div class="col-md-4">
                <h2>Role Management</h2>
                <p><a href="#">Setup</a> >> Role Management</p>
            </div>

            <div class="col-md-8">
                <a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForNewRole();">+ Add Role</a>
            </div>
        </div>
    </div>

    <div class="red">
        <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
            @{var value = TempData["rolemessage"] as string;}
            @if (value != null)
            {
                <p>@value.ToString()</p>
            }
        </div>
    </div>

                if (Model != null)
                {
                    <div class="data_user">
                        <section class="wrapper main-wrapper row">

                            <div class="col-md-12 nopad">
                                <div class="user_datatable">

                                    <table id="tblRole" class="table table-striped table-bordered" cellspacing="0" width="100%">

                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">
                                                    @Html.Label("Role Name")
                                                </th>
                                                <th>
                                                    @Html.Label("Users")
                                                </th>
                                                <th>
                                                    @Html.Label("Permissions")
                                                </th>
                                                <th>
                                                    @Html.Label("Actions")
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td style="text-align:center;">
                                                        <div class="mn_add">
                                                            @foreach (var per in item.permission)
                                                            {
                                                                if (per.ID == 1)
                                                                {
                                                                    <img src="~/Content/new_ui/images/adm.png" />
                                                                    break;
                                                                }
                                                                else
                                                                {
                                                                    if (per.ID == 4)
                                                                    {
                                                                        <img src="~/Content/new_ui/images/man.png" />
                                                                        break;
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/Content/new_ui/images/aud.png" />
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            <p>
                                                                @Html.DisplayFor(modelItem => item.role_name)
                                                                @Html.HiddenFor(modelItem => item.role_id)
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @item.htmlusers
                                                    </td>
                                                    <td>
                                                        @foreach (var mn in CommonDropdowns.GetPermissionList())
                                                        {
                                                            int i = 0;
                                                            <div class="permitt">
                                                                
                                                                @foreach (var per in item.permission)
                                                                {
                                                                    if (per.ID == mn.ID)
                                                                    {
                                                                        i = 1;
                                                                    
                                                                        break;
                                                                    }
                                                                }
                                                                @if (i == 1)
                                                                {
                                                                    <img src="~/Content/new_ui/images/per_green.png" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/Content/new_ui/images/per_gray.png" />
                                                                }
                                                                <span>@mn.Permission</span>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                    <a href="#" data-toggle="modal" data-target="#myModal" onclick="LoadViewForEditRole(@item.role_id);" >Edit</a>
                                                        @*<p data-placement="top" data-toggle="tooltip" title="Edit">
                                                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                                <span class="fa fa-pencil"></span>
                                                            </button>
                                                        </p>*@
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </section>
                    </div>


                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Role</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="divEditRole">
                                        @Html.Partial("~/Views/Role/EditRole.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }


                }
