﻿@model List<Audire_POCO.LinePOCO>
@using Audire_MVC.Utilities


<script src="~/Content/jqwidgets/jqxcore.js"></script>
<script src="~/Content/jqwidgets/jqxbuttons.js"></script>
<script src="~/Content/jqwidgets/jqxscrollbar.js"></script>
<script src="~/Content/jqwidgets/jqxlistbox.js"></script>
<script src="~/Content/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/Content/jqwidgets/jqxtabs.js"></script>
<script src="~/Content/jqwidgets/jqxcombobox.js"></script>
<script src="~/Content/jqwidgets/jqxmenu.js"></script>
<script src="~/Content/jqwidgets/jqxdata.js"></script>
<script src="~/Content/jqwidgets/jqxresponse.js"></script>
<script type="text/javascript" src="~/Content/jqwidgets/jqxdraw.js"></script>
@* <script type="text/javascript" src="~/Content/jqwidgets/jqxtimepicker.js"></script>*@
<link href="~/Content/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
<link href="~/Content/jqwidgets/styles/jqx.material.css" rel="stylesheet" />
<script src="~/Scripts/jquery.sumoselect.min.js"></script>
<link href="~/Content/css/sumoselect.css" rel="stylesheet" />


<style>
    .newa1 {
        background-color: #EBF4FA;
        -webkit-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        padding: 12px;
        width: 100%;
        margin-bottom: 10px;
        float: left;
        text-align: center;
    }

    .portlet.box.new > .portlet-title {
        background-color: #667F67;
    }

    #MainContent_grdviewAllValues td {
        text-align: right;
        height: 20px;
    }


    .SelectClass,
    .SumoUnder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }

    .SelectClass {
        z-index: 1;
    }

    .SumoSelect > .optWrapper > .options li.opt label,
    .SumoSelect > .CaptionCont,
    .SumoSelect .select-all > label {
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        overflow-wrap: normal;
    }

    .SumoSelect {
        display: inline-block;
        position: relative;
        outline: none;
        width: 100%;
        margin: 2px;
    }

        .SumoSelect:focus > .CaptionCont,
        .SumoSelect:hover > .CaptionCont,
        .SumoSelect.open > .CaptionCont {
            box-shadow: 0 0 2px #7799D0;
            border-color: #7799D0;
        }

        .SumoSelect > .CaptionCont {
            position: relative;
            border: 1px solid #A4A4A4;
            min-height: 14px;
            background-color: #fff;
            border-radius: 2px;
            margin: 0;
        }

            .SumoSelect > .CaptionCont > span {
                display: block;
                padding-right: 30px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                cursor: default;
                /* margin-left:65px;*/
            }


                /*placeholder style*/

                .SumoSelect > .CaptionCont > span.placeholder {
                    color: #ccc;
                    font-style: italic;
                    font-size: 14px;
                }

            .SumoSelect > .CaptionCont > label {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30px;
            }

                .SumoSelect > .CaptionCont > label > i {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
                    background-position: center center;
                    width: 16px;
                    height: 16px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-repeat: no-repeat;
                    opacity: 0.8;
                }

        .SumoSelect > .optWrapper {
            display: none;
            z-index: 1000;
            top: 30px;
            width: 100%;
            position: absolute;
            left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
            border-radius: 3px;
            overflow: visible;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 0px;
        }

        .SumoSelect.open > .optWrapper {
            top: 35px;
            display: block;
        }

            .SumoSelect.open > .optWrapper.up {
                top: auto;
                bottom: 100%;
                margin-bottom: 5px;
            }

        .SumoSelect > .optWrapper ul {
            list-style: none;
            display: block;
            padding: 0;
            margin: 0;
            overflow: auto;
        }

        .SumoSelect > .optWrapper > .options {
            border-radius: 2px;
            position: relative;
            /*Set the height of pop up here (only for desktop mode)*/
            max-height: 250px;
            /*height*/
        }

            .SumoSelect > .optWrapper > .options li.group.disabled > label {
                opacity: 0.5;
            }

            .SumoSelect > .optWrapper > .options li ul li.opt {
                padding-left: 22px;
            }

        .SumoSelect > .optWrapper.multiple > .options li ul li.opt {
            padding-left: 50px;
        }

        .SumoSelect > .optWrapper.isFloating > .options {
            max-height: 100%;
            box-shadow: 0 0 100px #595959;
        }

        .SumoSelect > .optWrapper > .options li.opt {
            padding: 6px 6px;
            position: relative;
            border-bottom: 1px solid #f5f5f5;
        }

        .SumoSelect > .optWrapper > .options > li.opt:first-child {
            border-radius: 2px 2px 0 0;
        }

        .SumoSelect > .optWrapper > .options > li.opt:last-child {
            border-radius: 0 0 2px 2px;
            border-bottom: none;
        }

        .SumoSelect > .optWrapper > .options li.opt:hover {
            background-color: #E4E4E4;
        }

        .SumoSelect > .optWrapper > .options li.opt.sel {
            background-color: #a1c0e4;
            border-bottom: 1px solid #a1c0e4;
        }

        .SumoSelect > .optWrapper > .options li label {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            cursor: pointer;
        }

        .SumoSelect > .optWrapper > .options li span {
            display: none;
        }

        .SumoSelect > .optWrapper > .options li.group > label {
            cursor: default;
            padding: 8px 6px;
            font-weight: bold;
        }


        /*Floating styles*/

        .SumoSelect > .optWrapper.isFloating {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 90%;
            bottom: 0;
            margin: auto;
            max-height: 90%;
        }


        /*disabled state*/

        .SumoSelect > .optWrapper > .options li.opt.disabled {
            background-color: inherit;
            pointer-events: none;
        }

            .SumoSelect > .optWrapper > .options li.opt.disabled * {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                /* IE 5-7 */
                filter: alpha(opacity=50);
                /* Netscape */
                -moz-opacity: 0.5;
                /* Safari 1.x */
                -khtml-opacity: 0.5;
                /* Good browsers */
                opacity: 0.5;
            }


        /*styling for multiple select*/

        .SumoSelect > .optWrapper.multiple > .options li.opt {
            padding-left: 35px;
            cursor: pointer;
        }

    .multiple {
        padding: 8px 10px;
        /*  height: 300px !important;*/
        font-size: 12px;
        border: 1px solid #dadada;
    }

    .SumoSelect > .optWrapper.multiple > .options li.opt span,
    .SumoSelect .select-all > span {
        position: absolute;
        display: block;
        width: 30px;
        top: 0;
        bottom: 0;
        margin-top: 5px;
    }

        .SumoSelect > .optWrapper.multiple > .options li.opt span i,
        .SumoSelect .select-all > span i {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 14px;
            height: 14px;
            border: 1px solid #AEAEAE;
            border-radius: 2px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
            background-color: #fff;
        }

    .SumoSelect > .optWrapper > .MultiControls {
        display: inline;
        border-top: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
        border-radius: 0 0 3px 3px;
    }

    .SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
        display: block;
        margin-top: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }


    .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
        display: block;
    }

        .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
            /* padding: 6px;*/
        }

    .SumoSelect > .optWrapper.multiple > .MultiControls > p {
        display: inline-block;
        cursor: pointer;
        /*padding: 12px;*/
        width: 50%;
        box-sizing: border-box;
        text-align: center;
    }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
            background-color: #f1f1f1;
            margin-bottom: 10px;
        }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
            border-right: 1px solid #DBDBDB;
            border-radius: 0 0 0 3px;
        }

        .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
            border-radius: 0 0 3px 0;
            /* margin-bottom:5px;*/
        }


    /*styling for select on popup mode*/

    .SumoSelect > .optWrapper.isFloating > .options li.opt {
        padding: 12px 6px;
    }


    /*styling for only multiple select on popup mode*/

    .SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
        padding-left: 35px;
    }

    .SumoSelect > .optWrapper.multiple.isFloating {
        /*padding-bottom: 43px;*/
    }

    .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
    .SumoSelect .select-all.selected > span i,
    .SumoSelect .select-all.partial > span i {
        background-color: rgb(5, 130, 183);
        box-shadow: none;
        border-color: transparent;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0px;
        margin-top: 0px;
    }


    /*disabled state*/

    .SumoSelect.disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

        .SumoSelect.disabled > .CaptionCont {
            border-color: #ccc;
            box-shadow: none;
        }

    /**Select all button**/

    .SumoSelect .select-all {
        border-radius: 3px 3px 0 0;
        position: relative;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        padding: 8px 0 3px 35px;
        height: 30px;
        cursor: pointer;
    }

        .SumoSelect .select-all > label,
        .SumoSelect .select-all > span i {
            cursor: pointer;
        }

        .SumoSelect .select-all.partial > span i {
            background-color: #ccc;
        }

    /*styling for optgroups*/

    .SumoSelect > .optWrapper > .options li.optGroup {
        padding-left: 5px;
        text-decoration: underline;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        
        var url = '@Url.Action("Line")';
        loadDistributionList();
        BindControls();
        $('.ddlMultiSlectBox').SumoSelect({
            selectAll: true, okCancelInMulti: true,
            placeholder: 'This is a placeholder',
            csvDispCount: 5
        });
    });

    var item = $("#ddlRegion").children("option:selected").val();
    
    $.ajax({
        url: "GetCountries",
        type: 'GET',
        cache: false,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: ({ "region_id": item }),
        success: function (result) {
            $("#ddlCountry").html(""); // clear before appending new list 
            $.each(result, function (i, country) {
                $("#ddlCountry").append(
                    $('<option></option>').val(country.country_id).html(country.country_name));
            });
        }
    });

    var item = $("#ddlCountry").children("option:selected").val();
    
    $.ajax({
        url: "GetLocations",
        type: 'GET',
        cache: false,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: ({ "location_id": item }),
        success: function (result) {
            $("#ddlLocation").html(""); // clear before appending new list 
            $.each(result, function (i, location) {
                $("#ddlLocation").append(
                    $('<option></option>').val(location.location_id).html(location.location_name));
            });
        }
    });


    $('#ddlRegion').change(function (event) {
        
        var args = event.args;
        var item = $(this).children("option:selected").val();
        $.ajax({
            url: "GetCountries",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "region_id": item }),
            success: function (result) {
                $("#ddlCountry").html(""); // clear before appending new list 
                $.each(result, function (i, country) {
                    $("#ddlCountry").append(
                        $('<option></option>').val(country.country_id).html(country.country_name));
                });
            }
        });
    });

    $('#ddlCountry').change(function (event) {
        
        var args = event.args;
        var item = $(this).children("option:selected").val();
        $.ajax({
            url: "GetLocations",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "country_id": item }),
            success: function (result) {
                $("#ddlLocation").html(""); // clear before appending new list 
                $.each(result, function (i, location) {
                    $("#ddlLocation").append(
                        $('<option></option>').val(location.location_id).html(location.location_name));
                });
            }
        });
    });

    function BindControls() {
        
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "Line/GetDistributionEmails",
            data: "{'Name':'test'}",
            dataType: "json",
            success: function (data) {
                console.log(data);
                console.log(data.d);
                var Countries = data.d;
                $('#txtdistemail').autocomplete({
                    source: function (request, response) {
                        var matches = $.map(Countries, function (acItem) {
                            if (acItem.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                                return acItem;
                            }
                        });
                        response(matches);
                    },
                    minLength: 0,
                    scroll: true,
                    autoFocus: true
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });
            },
            error: function (result) {
                console.log("No Match");
            }
        });

    }

    function validateControls() {
        
        var err_flag = 0;
        if ($('#ddlRegion').val() == "" || $('#ddlRegion').val() == null || $('#ddlRegion').val() == "0") {
            $('#ddlRegion').css("border", "1px solid red");
            err_flag = 1;
        }
        else {
            $('#ddlRegion').css('border-color', '');
        }
        if ($('#ddlCountry').val() == "" || $('#ddlCountry').val() == null || $('#ddlCountry').val() == "0") {
            $('#ddlCountry').css("border", "1px solid red");

            err_flag = 1;
        }
        else {
            $('#ddlCountry').css('border-color', '');
        }

        if ($('#ddlLocation').val() == "" || $('#ddlLocation').val() == null || $('#ddlLocation').val() == "0") {
            $('#ddlLocation').css("border", "1px solid red");

            err_flag = 1;
        }
        else {
            $('#ddlLocation').css('border-color', '');
        }

        if ($('#txtLineName').val() == "") {
            $('#txtLineName').css("border", "1px solid red");

            err_flag = 1;
        }
        else {
            $('#txtLineName').css('border-color', '');
        }
        if (document.getElementById('txtdistemail').value == '' || document.getElementById('txtdistemail').value == null) {
            if ($("#txtList").val() == '' || $("#txtList").val() == null) {
                document.getElementById('txtdistemail').style["border-color"] = "red";
                err_flag = 1;
            }
            else {
                $("#lblError").text("");
                document.getElementById('txtdistemail').style["border-color"] = "";
            }
        }
        else {
            addEmail();
        }
        if (err_flag == 0) {
            $('#lblError').text('');
            return true;

        }
        else {
            $('#lblError').text('Please enter all the mandatory fields.');
            return false;
        }
    }

    function loadDistributionList() {
        $.ajax({
            url: "GetDistributionList",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "location_id": $('#ddlLocation').val() }),
            success: function (result) {
                var dataAdapter = new $.jqx.dataAdapter(result);
                $('#txtdistemail').jqxComboBox(
                    {
                        selectedIndex: -1,
                        theme: "material",
                        source: dataAdapter,
                        displayMember: "email_id",
                        valueMember: "email_id",
                        search: function (searchString) {
                            $("#txtdistemail").jqxComboBox('addItem', searchString);
                        }
                    }
                    );
            }
        });
    }

    function addEmail() {
        
        $("#txtError").text("");
        var email = $('#txtdistemail').val();
        if (validateEmail(email)) {
            $("#lblError").text("");
            var mails = $("#txtList").val();
            if (mails == '' || mails == null || mails == undefined)
                mails = email;
            else
                mails = mails + "; " + email;
            $("#txtList").val(mails);
            document.getElementById('txtdistemail').value = "";
            loadDistributionList();
            return true;
        } else {
            $("#lblError").text(email + " is not valid.");
            return false;
        }

    }

    function validateEmail(email) {
        
        var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }


</script>

<style>
    .btn {
        margin-top: -10px;
    }

    .active {
        background-color: #f5f5f5;
    }

    .success {
        background-color: #dff0d8;
    }
</style>

@using (Html.BeginForm("SaveLine", "Line", FormMethod.Post, new { @class = "forms" }))
{
    foreach (var m in Model)
    {
    <div class="table">
        <div class="active">
            <div class="col-md-6 nopad">
                <p>Region Name: </p>
                @Html.HiddenFor(mi => m.region_id)
            </div>
            <div class="col-md-6 nopad">
                @Html.DropDownListFor(mi => m.region, (CommonDropdowns.GetRegionList()), new { @class = "form-control aud-control", id = "ddlRegion" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row-info">
            <div class="col-md-6 nopad">
                <p>Country: </p>
                @Html.HiddenFor(mi => m.country_id)
            </div>
            <div class="col-md-6 nopad">
                @Html.DropDownListFor(mi => m.country, (CommonDropdowns.GetCountryList()), new { @class = "form-control aud-control", id = "ddlCountry" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="success">
            <div class="col-md-6 nopad">
                <p>Location: </p>
                @Html.HiddenFor(mi => m.location_id)
            </div>
            <div class="col-md-6 nopad">
                @Html.DropDownListFor(mi => m.location, (CommonDropdowns.GetLocationList()), new { @class = "form-control aud-control", id = "ddlLocation" })
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row-info">
            <div class="col-md-6 nopad">
                <p>Module: </p>
                @Html.HiddenFor(mi => m.Module_id)
            </div>
            <div class="col-md-6 nopad">
                @Html.DropDownList("Module", (CommonDropdowns.GetModuleList()), new { @class = "form-control aud-control ddlMultiSlectBox", id = "ddlModule", @multiple = "multiple", @placeholder = "Please select module" })
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row-info">
            <div class="col-md-6 nopad">
                <p>Process: </p>
                @Html.HiddenFor(mi => m.line_id)
            </div>
            <div class="col-md-6 nopad">
                @Html.TextBoxFor(mi => m.line_name, new { @class = "form-control aud-control", id = "txtLineName" })
            </div>
        </div>
       @* <div class="clearfix"></div>
        <div class="row-info">
            <div class="col-md-6 nopad">
                <p>Distribution List: </p>
            </div>
            <div class="col-md-6 nopad">
               <div id="txtdistemail" class="form-control aud-control"></div>
                <img width="30px" src="~/Content/images/images.png" onclick="addEmail();" />
                @Html.TextArea("Dist", new { @class = "form-control aud-control", Width = "98%", TextMode = "MultiLine", MaxLength = "60", id = "txtList", onkeydown = "$this.keydown(function(e) {if(e.keyCode !== 8) {e.preventDefault();}})" })

             </div>
        </div>*@

        <div class="clearfix"></div>
    </div>
    <div>
        <label id="lblError" style="color: red;"></label>
        <input type="submit" value="Save" class="btn btn-save" onclick="return validateControls();" />
        @* <input type="button" value="Delete" class="btn btn-save"  />*@

    </div>
            
        break;

    }

}