﻿@model List<Audire_POCO.PerformAuditPOCO>
    @using Audire_MVC.Utilities

    <script src="https://www.google.com/cloudprint/client/cpgadget.js"></script>
    @*
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> *@
    <style>
        .btn-success{
            width:120px!important;
        }
        .ui-front{
            z-index:99999!important;
        }
        .auditor {
              width: 100%;
              float: left;
              /* overflow: auto; */
              height: 130px;
              background: #fff;
              box-shadow: 0px 0px 10px #aaa;
              border-radius: 5px;
              margin: 15px 0 0 0;
              padding: 15px 0 15px 0;
          }

          .hidden {
              display: none;
          }

          .ans-red {
              background: red;
              /*border-radius: 10px;
              padding: 2px;
              width: 100%;*/
          }

          .ans-green {
              background: green;
              /*border-radius: 10px;
              padding: 2px;
              width: 100%;*/
          }

          .ans-gray {
              background: gray;
              /*border-radius: 10px;
              padding: 2px;
              width: 100%;*/
          }
    </style>
    <script type="text/javascript">
        var rootUrl = '@Url.Content("~")';
        function ChangeAnsType(obj, i) {

            debugger;
            //var lblcompliance=
            $('#lblcompliance' + i).attr('style', 'background:none;');
            $('#lblOFI' + i).attr('style', 'background:none;');
            $('#lblminornc' + i).attr('style', 'background:none;');
            $('#lblmajornc' + i).attr('style', 'background:none;');
            $('#lblyes' + i).attr('style', 'background:none;');
            $('#lblno' + i).attr('style', 'background:none;');
            $('#lblmaybe' + i).attr('style', 'background:none;');
            var id = obj.id.replace("rdbtn", "lbl");
            $('#' + id).attr("style", "background: rgba(255,255,255,.3);")
            //$("input[name='correct" + i + "']").attr('id').replace("rdbtn", "btn") + i;
            var ans_type = $("input[name='correct" + i + "']:checked").val();
            $('#lblFinalError' + i).text("");
            $('#lblFinalError' + i).css("display", "none");
            if (ans_type == "1" || ans_type == "11") {
                //document.getElementById('lblassign' + i).style.display = "block";
                document.getElementById('ddlProcess' + i).style.display = "block";
                //$("input[name='correct" + i + "']").parent().removeClass();
                //$("input[name='correct" + i + "']:checked").parent().addClass("ans-red");
            }
            else {
                // $("input[name='correct" + i + "']").parent().removeClass();
               // document.getElementById('ddlProcess' + i).style.display = "none";
                document.getElementById('lblassign' + i).style.display = "none";
                //if (ans_type == "0")
                // $("input[name='correct" + i + "']:checked").parent().addClass("ans-green");
                //else
                // $("input[name='correct" + i + "']:checked").parent().addClass("ans-gray");
            }
        }

        $(document).ready(function () {
            $(".comment_id").click(function (e, obj) {
                debugger;
                var id = this.id;
                var comment_id = id.replace("commenticon_id", "textarea");
                $('#' + comment_id).toggle();
            });

            $(".file_id").click(function (e) {
                debugger;
                var id = this.id;
                var file_id = id.replace("fileicon_id", "uploadFile");
                $('#' + file_id).toggle();

            });

            if (window.File && window.FileReader && window.FileList && window.Blob) {
                //document.getElementById('files').addEventListener('change', handleFileSelect, false);
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
            var module_id = $('#ddlmodule').children("option:selected").val();
            if (module_id == 1 || module_id == 4) {
                $('.others').hide();
                $('.quality').show();
                // $('.divHelp').show();
            }
            else {
                $('.others').show();
                $('.quality').hide();
                // $('.divHelp').hide();
            }
            $('#ddlmodule').change(function (e) {

                var module_id = $('#ddlmodule').children("option:selected").val();
                if (module_id == 1) {
                    $('.others').hide();
                    $('.quality').show();
                }
                else {
                    $('.others').show();
                    $('.quality').hide();
                }
                //window.location.reload();
                ClearAll();
            }
            );
            $("#btnsubmit").click(function (e) {
                debugger;
                var flag = false;
                flag = ValidateAnswer();
                if (!flag) {
                    return false;
                }
                else {
                    SaveAuditDetails("Y");
                }

            });
            $("#btnsave").click(function (e) {
                SaveAuditDetails("N");
            });

            $(".files").change(function (e) {
                debugger;
                //$("#FileUpload1").get(0)
                var id = this.id.replace("file", "");
                var div_id = this.id.replace("file", "filename");

                var files = e.target.files[0];
                $("#" + div_id)[0].innerText = files.name;
                var fileData = new FormData();
                fileData.append(id, files);
                $.ajax({
                    url: 'UploadFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });
                //handleFileSelect(e, this);
            });

            $(".toggle_option").change(function (obj, e) {
                debugger;
                console.log(obj);
            });

        });

        function SaveAuditDetails(flag) {
            var quest = getquestions();
            var Auditor_comment = $('#txtAuditorComment').val();
            var IsCompleted = flag;
            var audit_id = $('#hdnAuditId').val();
            var questWithComment = {
                questionAnswer: quest,
                Auditor_comment: Auditor_comment,
                IsCompleted: IsCompleted,
                audit_id: audit_id
            };
            var param = "{questionAnswerWC:" + JSON.stringify(questWithComment) + "}";
            //var json = "{audit_id:" + var_aud_id + ",username: " + var_username + ",password: " + var_password + " ,userID:" + var_user_id + "}"
            $.ajax({
                url: "SaveQuestionAnswers",
                type: 'POST',
                //cache: false,
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                MaxJsonLength: "2147483647",
                data: param,
                success: function (result) {
                    debugger;
                    if (IsCompleted == "Y") {
                        console.log("Success");
                        loadPDF(result);
                    }
                    else {
                        alert(result[0].err_message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr);
                    alert(xhr);
                }
            });
        }

        function _base64ToArrayBuffer(base64) {
            var binary_string = window.atob(base64);
            var len = binary_string.length;
            var bytes = new Uint8Array(len);
            for (var i = 0; i < len; i++) {
                bytes[i] = binary_string.charCodeAt(i);
            }
            return bytes.buffer;
        }

        function handleFileSelect(evt, obj) {

            var id = obj.id;
            id = id.replace("file", "base64");
            var f = evt.target.files[0]; // FileList object
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;
                    //Converting Binary Data to base 64
                    var base64String = window.btoa(binaryData);
                    //showing file converted to base64
                    $('#' + id).val(base64String);
                    //document.getElementById('base64').value = base64String;
                    //alert('File converted to base64 successfuly!\nCheck in Textarea');
                };
            })(f);
            // Read in the image file as a data URL.
            reader.readAsBinaryString(f);
        }

        function openHelp(obj) {

            var help_text = obj.children[1].value;
            alert(help_text);
        }
        function loadPDF(result) {

            console.log(result);
            debugger;
            if (result.length > 0) {
                if (result[0].err_code == "200") {
                    sessionStorage.setItem("audit_id", result[0].audit_id);
                    var pdf = result[0].audit_report;
                    //pdf = "http://knswin.cloudapp.net/Audire_Service/Reports/Audit_Result_163.pdf";
                    document.getElementById("if_pdf").src = pdf;
                    //$("#pdfdialog").dialog({
                    //    open: function () {
                    //        $(this).closest(".ui-dialog")
                    //        .find(".ui-dialog-titlebar-close")
                    //        .removeClass("ui-dialog-titlebar-close")
                    //        .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
                    //    }
                    //});

                    $("#pdfdialog").dialog({
                        title: "Audit Report",
                        height: 550,
                        width: 900,
                        closeOnEscape: false,
                        buttons: [
                            {
                                text: "Cancel",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            },
                            {
                                text: "OK",
                                click: function () {
                                    //$(this).dialog("close");
                                    // window.location.replace("http://stackoverflow.com");
                                    // window.location.href = "@Url.Action("PerformAudit", "Score")";
                                    var param = "{audit_id:" + result[0].audit_id + "}";
                                    $.ajax({
                                        url: "SendReport",
                                        type: 'POST',
                                        contentType: "application/json; charset=utf-8",
                                        data: param,
                                        success: function (result) {
                                            alert("Audit is performed successfully. " + result[0].err_message);
                                            window.location.reload();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {

                                            console.log(xhr);
                                            alert(xhr);
                                        }
                                    });


                                }
                            }
                        ]
                    });

                    @*var url = '@Url.Action("LoadPDF", "PerformAudit")';
			window.open(url + "?filepath=" + pdf, "_blank", "WIDTH=600,HEIGHT=400,scrollbars=no, menubar=no,resizable=yes,directories=no,location=no");*@
                }
            }
            else {

                alert("There is some error in saving, please try again after sometime.");
            }
        }

        function isEmpty(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }
        function getquestions() {
            debugger;
            var last_id = $('#hdnlast_id').val();
            var quest = [];
            var quest1;
            var q_id;
            var ans_val = "";
            var assign_val = "";
            for (var i = 1; i <= last_id; i++) {
                //q_id = $('#question_id' + i)[0].innerText.substring(0, $('#question_id' + i)[0].innerText.length - 1);
                q_id = $('#question_id' + i)[0].value;
                ans_val = $("input[name='correct" + i + "']:checked").val();
                if (ans_val == "1" || ans_val == "11")
                    assign_val = $("#ddlProcess" + i).val();
                else
                    assign_val = "";
                quest1 = {
                    "question_id": q_id,
                    "Answer": ans_val,
                    "comment": $('#txtComment' + i).val(),
                    "assignedTo": assign_val
                };
                //"img_content": $("#base64" + i).val()
                //};
                quest.push(quest1);

            }
            return quest;
        }

        function OnSuccess(response) {

            alert(response);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
        function ValidateAnswer() {

            var last_id = $('#hdnlast_id').val();
            var ans_val;
            var comment;
            var error_flag = 0;
            for (var i = 1; i <= last_id; i++) {
                ans_val = $("input[name='correct" + i + "']:checked").val();
                console.log(ans_val);
                if (ans_val != undefined && ans_val != null && ans_val != "") {
                    //if (document.getElementById("rdbtnyes").checked == true || document.getElementById("rdbtno").checked || document.getElementById("rdbtnmaybe").checked || document.getElementById("rdbtncompliance").checked || document.getElementById("rdbtnOFI").checked || document.getElementById("rdbtnminornc").checked || document.getElementById("rdbtnmajornc").checked) {
                    $('#lblFinalError' + i).text("");
                    $('#lblFinalError' + i).css("display", "none")
                    //return true;
                }
                else {
                    $('#lblFinalError' + i).text("Please choose any one of the status.");
                    $('#lblFinalError' + i).css("display", "block")
                    //return false;
                    error_flag++;
                }
                comment = $('#txtComment' + i).val();
                if (ans_val == "0") {
                    $('#lblCommnetError' + i).css("display", "none");
                }
                else {
                    if (ans_val == "1") {
                        var assign_to = $('#ddlProcess' + i).val();
                        if (assign_to == "0") {
                            $('#lblAssignError' + i).text("Please select assign to.");
                            $('#lblAssignError' + i).css("display", "block")
                            //return false;
                            error_flag++;
                        }
                        else {
                            $('#lblAssignError' + i).css("display", "none");
                        }
                    }
                    if (comment != undefined && comment != null && comment != "") {
                        $('#lblCommnetError' + i).css("display", "none");
                    }
                    else {
                        $('#lblCommnetError' + i).text("Please add Comment.");
                        $('#lblCommnetError' + i).css("display", "block")
                        //return false;
                        error_flag++;
                    }
                }
            }
            if (error_flag > 0) {
                return false;
            }
            else {
                return true;
            }
        }
    </script>
    <form id="f1">
        @*using (Html.BeginForm("SaveQuestionAnswers", "PerformAudit",  new { @class = "forms", id = "f1", name = "f2" }))
        {*@

        @Html.AntiForgeryToken()

        @if (Model != null)
        {
        if (Model.Count > 0)
        {
        <div class="overflow">
            @foreach (var m in Model)
            {

            <div class="col-md-12 per_audit">
                <div class="col-md-12">
                    <div class="question col-md-12 nopad">
                        @Html.Hidden("question_id" + Convert.ToString(m.question_counter), m.question_id)
                        <h6>@String.Concat("Question ", m.question_id)
                        <div class="divHelp" id="divHelp" onclick="openHelp(this);" style="@String.Concat(" display:",String.IsNullOrEmpty(Convert.ToString(m.help_text))? "none;" : "block;")">
                            <img src="~/Content/images/help.png" width="25px" style="margin-left: 80px; margin-top: -30px;" alt="help" />
                            @Html.Hidden("help_text" + Convert.ToString(m.question_counter), m.help_text)

                        </div></h6>
                        <p>@Html.LabelForModel(m.question)</p>
                        @Html.Label("lblFinalError" + Convert.ToString(m.question_counter), new { @style = "color: red; display:none;", id = "lblFinalError" + Convert.ToString(m.question_counter) })
                    </div>
                    <div class="toggle_radio col-md-6 nopad others">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="@String.Concat(" btn btn-success",(Convert.ToString(m.answer)=="0" )? " active":"")">
                                @*<label class="@String.IsNullOrEmpty(m.answer)?" btn btn-success" (@ConvertToString(m.answer)= ="0" )? "btn btn-success active"
                                         "btn btn-success" ">
                                    *@
                                    @if (Convert.ToString(m.answer) == "0")
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "0", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnyes" + Convert.ToString(m.question_counter), @checked = "checked" })
                                    }
                                    else
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "0", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnyes" + Convert.ToString(m.question_counter) })
                                    }
                                    Yes
                                </label>
                                <label class="@String.Concat(" btn btn-success", (Convert.ToString(m.answer)=="1" ) ? " active" : "" )">
                                    @if (Convert.ToString(m.answer) == "1")
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "1", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnno" + Convert.ToString(m.question_counter), @checked = "checked" })
                                    }
                                    else
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "1", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnno" + Convert.ToString(m.question_counter) })
                                    }
                                    No
                                </label>
                                <label class="@String.Concat(" btn btn-success",(Convert.ToString(m.answer)=="2" )? " active":"")">
                                    @if (Convert.ToString(m.answer) == "2")
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "2", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnmaybe" + Convert.ToString(m.question_counter), @checked = "checked" })
                                    }
                                    else
                                    {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "2", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnmaybe" + Convert.ToString(m.question_counter)})
                                    }
                                    May Be
                                </label>

                        </div>


                    </div>
                    <div class="toggle_radio col-md-6 nopad quality">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="@String.Concat(" btn btn-success",(Convert.ToString(m.answer)=="0" )? " active":"")">
                                @if (Convert.ToString(m.answer) == "0")
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "0", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtncompliance" + Convert.ToString(m.question_counter), @checked = "checked" })
                                }
                                else
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "0", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this," + Convert.ToString(m.question_counter) + ");", id = "rdbtncompliance" + Convert.ToString(m.question_counter) })
                                }
                                Compliance
                            </label>
                            <label class="@String.Concat(" btn btn-success", (Convert.ToString(m.answer)=="2" ) ? " active":"" )">
                                @if (Convert.ToString(m.answer) == "2")
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "2", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnOFI" + Convert.ToString(m.question_counter), @checked = "checked" })
                                }
                                else
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "2", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this," + Convert.ToString(m.question_counter) + ");", id = "rdbtnOFI" + Convert.ToString(m.question_counter) })
                                }
                                OFI
                            </label>
                            <label class="@String.Concat(" btn btn-success", (Convert.ToString(m.answer)=="1" ) ? " active":"" )">
                                   
                                @if (Convert.ToString(m.answer) == "1")
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "1", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnminornc" + Convert.ToString(m.question_counter), @checked = "checked" })
                                }
                                else
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "1", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this," + Convert.ToString(m.question_counter) + ");", id = "rdbtnminornc" + Convert.ToString(m.question_counter) })
                                }
                                Minor NC
                            </label>
                            <label class="@String.Concat(" btn btn-success", (Convert.ToString(m.answer)=="11" ) ? " active":"" )">
                                @if (Convert.ToString(m.answer) == "11")
                                {
                                    @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "11", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this,'" + Convert.ToString(m.question_counter) + "');", id = "rdbtnmajornc" + Convert.ToString(m.question_counter), @checked = "checked" })
                                }
                                else
                                {
                                @Html.RadioButton("correct" + Convert.ToString(m.question_counter), "11", new { @class = "toggle_option", onchange = "javascript:ChangeAnsType(this," + Convert.ToString(m.question_counter) + ");", id = "rdbtnmajornc" + Convert.ToString(m.question_counter) })
                                }
                                Major NC
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6 nopad pull-right">
                        <div class="mn_right">
                            <div class="col-md-4">
                                <a href="#" id="@String.Concat("commenticon_id",m.question_counter)" class="comment_id" style="float:right;">
                                    <img src="~/Content/new_ui/images/comment.png" />
                                </a>
                                @Html.Label("lblCommnetError" + Convert.ToString(m.question_counter), new { @style = "color: red; display:none;", id = "lblCommnetError" + Convert.ToString(m.question_counter) })
                            </div>
                            <div class="col-md-4">

                                <label for="@String.Concat("file", Convert.ToString(m.question_counter))">
                                    <img src="~/Content/new_ui/images/download_1.png" />

                                </label>

                                @Html.TextBox("file" + Convert.ToString(m.question_counter), "", new { type = "file", @class = "files", @style = "display:none;" })
                                <label id=@string.Concat("filename",Convert.ToString(m.question_counter))>
                                    @if (string.IsNullOrEmpty(m.filename))
                                    {

                                    }
                                    else
                                    {
                                    @m.filename.Substring(@m.filename.LastIndexOf('/')+1, m.filename.Length- (m.filename.LastIndexOf('/')+1))


                                    }
                                </label>
                                @*@Html.Label("filename" + Convert.ToString(m.question_counter),"",new { id= "filename" + Convert.ToString(m.question_counter) })*@
                                @*<a href="#" id="@String.Concat(" fileicon_id",m.question_counter)" class="file_id">
                                    <img src="~/Content/new_ui/images/download_1.png" />

                                </a>
                                <div class="mn_textarea" id="@String.Concat(" uploadFile",m.question_counter)">
                                    @Html.TextBox("file" + Convert.ToString(m.question_counter), "", new { type = "file", @class = "files", @style="display:none;" })
                                </div>*@
                            </div>
                            <div class="col-md-4 nopad">
                                @*@Html.Label("Assign To:", new { style = (Convert.ToString(m.answer) == "1") ? "display:block" : "display:none", id = "lblassign" + Convert.ToString(m.question_counter) })*@
                                @Html.DropDownList("Process" + Convert.ToString(m.question_counter), (CommonDropdowns.getProcessList(m)), new { @class = "form-control search-slt", style = (Convert.ToString(m.answer) == "1") ? "display:block" : "display:none", id = "ddlProcess" + Convert.ToString(m.question_counter) })
                                @Html.Label("lblAssignError" + Convert.ToString(m.question_counter), new { @style = "color: red; display:none;", id = "lblAssignError" + Convert.ToString(m.question_counter) })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <div class="mn_textarea" id="@String.Concat("textarea",m.question_counter)">
                            @Html.TextAreaFor(mi => m.comment, new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtComment" + Convert.ToString(m.question_counter), placeholder = "Comment" })

                        </div>

                    </div>
                </div>
                <div class="col-md-12 nopad">

                </div>
            </div>
            }
        </div>

        <div class="col-md-12 auditor">
            <div class="teatarea_1 col-md-8">
                <label>Auditor Comment </label>
                @foreach (var m in Model)
                {
                @Html.HiddenFor(mi => m.audit_id, new { id = "hdnAuditId" })
                @Html.TextAreaFor(mi => m.auditor_comment, new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtAuditorComment" })
                break;
                }
            </div>
            <div class="teatarea_1 col-md-4">
                <button type="button" class="btn btn-danger wrn-btn" style="margin-top: 15%; width: 50%; float: right;" id="btnsave">SAVE</button>
                <button type="button" class="btn btn-danger wrn-btn" style="margin-top: 15%; width: 50%; float: right;" id="btnsubmit">SUBMIT</button>
                @*<input type="button" value="Save and Submit" class="btn btn-save" id="btnsubmit" />*@
                @Html.Hidden("hdnlast_id", Model.Count)
            </div>
        </div>
        <div id="QuestionAnswer" style="width: 100%; display: none; text-align: center !important; height: auto !important">

        </div>

        <div id="pdfdialog" style="display:none">
            <div style="height:500px;">
                <iframe style="width:100%; height:100%;" id="if_pdf"></iframe>
            </div>
        </div>
        }
        else
        {
        @Html.Label("No question available for selected audit type")
        }
        }
    </form>
