﻿@model List<Audire_POCO.ProcesssPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "BulkQRDetails";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    function PrintEach(id)
    {
        debugger;
        var oldPage = document.body.innerHTML;
        var htmlBody = "<html><head><title></title></head><body>";
        htmlBody = htmlBody.concat('<style>#ViewPart { width: 100%;height: 400px;float: left;}.mn_vertical {float: left;width: 100%;border: none;}.mn_feedback {width: 100%;float: left;}@@media print {        .QRCodeLabel {            margin-left: 25%;        }        .divBulkQR {            padding: 1px;        }        .col-md-4 {            width: 33.33333333%;            position: relative;            float: left;        }        .bulk {            width: 100%;            float: left;            padding: 15px 0;            border-style: groove;            height: 33%;        }    }</style>');
        htmlBody = htmlBody.concat('<div id="ViewPart"><section class="wrapper main-wrapper row">        <div class="col-md-12 nopad">        <div class="bulk_code"> <div class="col-md-4"><div class="bulk" id="div1">');

        htmlBody = htmlBody.concat(document.getElementById(id.id).innerHTML);
        htmlBody = htmlBody.concat(" </div>                    </div>                </div>            </div>        </section></div></body></html>");
        document.body.innerHTML = htmlBody;

        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            // https://developers.google.com/cloud-print/docs/gadget
            var gadget = new cloudprint.Gadget();
            gadget.setPrintDocument("text/html", "Print", window.location.href, "");
            gadget.openPrintDialog();
        } else {
            window.print();
        }
        document.body.innerHTML = oldPage;
        setTimeout(function () { document.body.innerHTML = oldPage; }, 2000);
        if (navigator.userAgent.indexOf("Chrome") != -1) {
            window.location = location.href + '?upd=' + 123456;
        } else {
            window.location.reload(true);
        }
    }
    function PrintDiv() {
        
        //Get the HTML of div
        var divElementsLength = document.getElementsByClassName('colQR1').length;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        var htmlBody = "<html><head><title></title></head><body>";
        htmlBody = htmlBody.concat('<style>#ViewPart { width: 100%;height: 400px;float: left;}/<style>');
        htmlBody = htmlBody.concat('<div id="ViewPart">');
        
        htmlBody = htmlBody.concat(document.getElementById("ViewPart").innerHTML);
        htmlBody = htmlBody.concat("</div></body></html>");
        document.body.innerHTML = htmlBody;
        
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if (isAndroid) {
            // https://developers.google.com/cloud-print/docs/gadget
            var gadget = new cloudprint.Gadget();
            gadget.setPrintDocument("text/html", "Print", window.location.href, "");
            gadget.openPrintDialog();
        } else {
            window.print();
        }
        document.body.innerHTML = oldPage;
        setTimeout(function () { document.body.innerHTML = oldPage; }, 2000);
        if (navigator.userAgent.indexOf("Chrome") != -1) {
            window.location = location.href + '?upd=' + 123456;
        } else {
            window.location.reload(true);
        }
    }




    
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        debugger;
        if (!OnlyComplaince()) {
            $("#divFilter").show();
            $("#divAccess").hide();
            
            setModule();
            LoadAuditType();
            $("#ddlQRmodule").change(function (e) {

                LoadAuditType();
            });

            $("#ddlAudit_Type").change(function (e) {
                var module_id = $("#ddlQRmodule").children("option:selected").val();
                var process_id = $("#ddlAudit_Type").children("option:selected").val();
                $("#ViewPart").load(rootUrl + "BulkQRDetails/DisplayBulkQRCode",
               { process_id: process_id, module_id: module_id });
            });
        }
        else
        {
            $("#divFilter").hide();
            $("#divAccess").show();
        }
    });

    function OnlyComplaince()
    {
        var isOnlyComplaince=true;
        for(var i=0; i<$('#ddlmodule')[0].options.length;i++)
        {
            if(parseInt($('#ddlmodule')[0].options[i].value)>1)
            {
                isOnlyComplaince = false;
            }
        }
        return isOnlyComplaince;
    }
    function LoadAuditType()
    {
        var module_id = $("#ddlQRmodule").children("option:selected").val();

        var audit_lbl = "";
        if (module_id == 2) {
            audit_lbl = "Process";
        }
        else if (module_id == 3) {
            audit_lbl = "Product";
        }
        else if (module_id == 4) {
            audit_lbl = "Supplier";
        }
        $('#lblAuditType').text(audit_lbl + ": ");
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id }),
            success: function (result) {
                console.log(result);
                $("#ddlAudit_Type").html(""); // clear before appending new list 
                $("#ddlAudit_Type").append(
                        $('<option selected></option>').val("0").html("ALL"));
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
        var module_id = $("#ddlQRmodule").children("option:selected").val();
        //var process_id = $("#ddlAudit_Type").children("option:selected").val();
        $("#ViewPart").load(rootUrl + "BulkQRDetails/DisplayBulkQRCode",
       { process_id: 0, module_id: module_id });
        }

    //$('#tblPart').click(function (e) {
    //    var row_index = $(this).parent().index('tr');
    //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
    //    var id = $(this).parent().find("input[type=hidden]").val();
    //    if (col_index < 2) {
    //        //$("#EditPart").hide();
    //        $('#ViewPart').show();
    //        $("#ViewPart").load(rootUrl + "BulkQRDetails/DisplayBulkQRCode",
    //   { Id: id, viewName: "DisplayBulkQRCode" });
    //    }
    //    else {
    //        $('#ViewPart').hide();
    //        //$("#EditPart").show();
    //        //$("#EditPart").load(rootUrl + "Part/DisplayPart",
    //        //{ Id: id, viewName: "EditPart" });
    //        // }

    //    }
    //})


    function PrintPanel() {
        
        var panel = document.getElementById("<%=pnlPrintBulkQRDetails.ClientID%>");
        panel.style.visibility = "visible";
        //PageMethods.SetDownloadPath("yes");
        window.print();

    }

    $body = $("body");
    debugger;
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });
</script>

<style>
    .bs-example {
        margin-top: 1em;
        /*height: 120px;*/
    }

    .filter_panel {
        background-color: #CDEAD2;
        padding: 10px;
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        border-radius: 5px !important;
        float: left;
        width: 100%;
    }

    .filter_label p {
        margin: 15px 0 0 0;
    }

    .backgroundcolor {
        background-color: #AFEEEE;
    }

    .qr-title {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .qr-title1 {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    .colQR1 {
        width: 100%;
        float: left;
        padding: 15px 0;
        border-style: groove;
        height: 33%;
    }
</style>


@using (Html.BeginForm())
{
    //foreach (var m in Model)
    //{
          
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div class="col-md-4">
                <h2>QR Code</h2>
                <p><a href="#">Setup</a> >> QR Code</p>
            </div>
        </div>
        </div>
        <div class="add_new_user">
            <div class="col-lg-12">
                <section class="search-sec" id="text_field">
                    <form action="#" method="post" novalidate="novalidate">
                        <div class="red">
                            <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                                @{var value = TempData["qrmessage"] as string;}
                                @if (value != null)
                                {
                                    <p>@value.ToString()</p>
                                }
                            </div>
                        </div>

                        <div class="col-lg-12" id="divFilter">
                           
                            <div class="col-md-3"></div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <label>Audit</label>
                                @Html.DropDownList("module_id", (CommonDropdowns.GetModuleListAsPerUserForQR()), new { @class = "form-control search-slt", id = "ddlQRmodule" })

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <label id="lblAuditType">Process</label>
                                @Html.DropDownList("process_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })

                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-12 p-0 btn-bulk">
                                
                                <button type="button" onclick="PrintDiv();" class="btn btn-danger wrn-btn">Download QRCodes For Print</button>
                            </div>
                        </div>

                        <div id="divAccess" style="display:none; color:black;">
                            <h4>No Access</h4>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="data_user" id="ViewPart">
           
                @Html.Partial("~/Views/BulkQRDetails/DisplayBulkQRCode.cshtml")
          
        </div>

        <div class="loading_modal"></div>

        }
