﻿@model List<Audire_POCO.AuditTypePOCO>


<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';

            function LoadRecentScore()
            {
                debugger;
                var freq = $('#ddlRecent').val().substr(5, $('#ddlRecent').val().length - 1);
                var id = $("#hdnDashboardModule_id").val();
                $("#myCarousel").load(rootUrl + "Dashboard/DashboardSchedule",
          { Module_id: id, freq: freq });
            }
</script>



@if (Model != null)
{
   
       

            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">

                    @{ bool isActive = true;}
                    @foreach (var score in Model)
                {

                        <div class="@((isActive)?"mn_box item active":"mn_box item")">
                            <div class="col-xs-12">
                                <div class="@(Convert.ToInt32(Convert.ToString(score.Audit_Score).Substring(0,score.Audit_Score.Length-1))>=60?"icon-container_box":Convert.ToInt32(Convert.ToString(score.Audit_Score).Substring(0,score.Audit_Score.Length-1))>=33? "icon-container_box icon-container_yellow" : "icon-container_box icon-container_box1")" >
                                    <p>@score.Audit_Score</p>
                                </div>
                                <div class="tengah">
                                    <h3 class="lead">@score.AuditType_name</h3>
                                    <p>@(string.IsNullOrEmpty(score.Audit_date) ? "No Date" : @score.Audit_date)</p>
                                    <p>@(string.IsNullOrEmpty(score.Audit_location) ? "No Location" : @score.Audit_location)</p>
                                </div>
                            </div>
                        </div>
                        isActive = false;
                    }
                </div>

                <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" href="#myCarousel" class="left_arrow"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a data-slide="next" href="#myCarousel" class="right_arrow"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>

  

                        }
