﻿@model List<Audire_POCO.LinePOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "CloseOpenTask";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    //$('#tblPart').click(function (e) {
    //    var row_index = $(this).parent().index('tr');
    //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
    //    var id = $(this).parent().find("input[type=hidden]").val();
    //    if (col_index < 2) {
    //        $('#ViewPart').show();
    //        $("#ViewPart").load(rootUrl + "CloseOpenTask/DisplayOpenCloseTask",
    //   { Id: id, viewName: "DisplayOpenCloseTask" });
    //    }
    //    else {
    //        $('#ViewPart').hide();
    //    }
    //})
    $(document).ready(function () {
        debugger;
        setModule();
        $.ajax({
            url: "GetDropdownselection",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "",
            success: function (ddlresult) {
                debugger;
                console.log(ddlresult);
                if (ddlresult.module_id != undefined && ddlresult.module_id != '' && ddlresult.module_id != null)
                    $("#ddlmodule").val(ddlresult.module_id);

                var module_id = $("#ddlmodule").children("option:selected").val();
                debugger;
                var audit_lbl = "";
                if (module_id == 1) {
                    audit_lbl = "Compliance";
                }
                else if (module_id == 2) {
                    audit_lbl = "Process";
                }
                else if (module_id == 3) {
                    audit_lbl = "Product";
                }
                else
                {
                    audit_lbl = "Supplier";
                }
                $('#lblAuditType').text(audit_lbl);

                debugger;
                $.ajax({
                    url: "GetAuditType",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "module_id": module_id }),
                    success: function (result) {
                        console.log(result);
                        $("#ddlAudit_Type").html(""); // clear before appending new list
                        $.each(result, function (i, auditType) {
                            $("#ddlAudit_Type").append(
                                $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                        });
                        if (ddlresult.audit_type != undefined && ddlresult.audit_type != '' && ddlresult.audit_type != null)
                            $("#ddlAudit_Type").val(ddlresult.audit_type);
                    }
                });

                if (ddlresult.region_id != undefined && ddlresult.region_id != '' && ddlresult.region_id != null)
                    $("#ddlRegion").val(ddlresult.region_id);
                var item = $("#ddlRegion").children("option:selected").val();
                debugger;
                $.ajax({
                    url: "GetCountries",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "region_id": item }),
                    success: function (result) {
                        $("#ddlCountry").html(""); // clear before appending new list
                        $.each(result, function (i, country) {
                            $("#ddlCountry").append(
                                $('<option></option>').val(country.country_id).html(country.country_name));
                        });
                        if (ddlresult.country_id != undefined && ddlresult.country_id != '' && ddlresult.country_id != null)
                            $("#ddlCountry").val(ddlresult.country_id);
                        var country_id = $("#ddlCountry").children("option:selected").val();
                        debugger;
                        $.ajax({
                            url: "GetLocations",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "country_id": country_id }),
                            success: function (result) {
                                $("#ddlLocation").html(""); // clear before appending new list
                                $.each(result, function (i, loc) {
                                    $("#ddlLocation").append(
                                        $('<option></option>').val(loc.location_id).html(loc.location_name));
                                });
                                if (ddlresult.location_id != undefined && ddlresult.location_id != '' && ddlresult.location_id != null)
                                    $("#ddlLocation").val(ddlresult.location_id);
                                if (ddlresult.audit_type != undefined && ddlresult.audit_type != '' && ddlresult.audit_type != null)
                                    Show();
                            }
                        });

                    }
                });

            }
        });
        $("#ddlmodule").change(function (e) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            if (module_id == 1) {
                $('#divLine').hide();
            }
            else {
                $('#divLine').show();
            }
            var audit_lbl = "";
            if (module_id == 1) {
                audit_lbl = "Compliance";
            }
            else if (module_id == 2) {
                audit_lbl = "Process";
            }
            else if (module_id == 3) {
                audit_lbl = "Product";
            }
            else {
                audit_lbl = "Supplier";
            }
            $('#lblAuditType').text(audit_lbl);

        });

        var value = '@Request.RequestContext.HttpContext.Session["global_admin"]';
        if (value == 'Y') {
            $("#ddlRegion").prop("disabled", false);
            $("#ddlCountry").prop("disabled", false);
            $("#ddlLocation").prop("disabled", false);
            $("#ddlLine").prop("disabled", false);
            //$("#ddlAudit_Type").prop("disabled", false);
        }
        else {
            $("#ddlRegion").prop("disabled", true);
            $("#ddlCountry").prop("disabled", true);
            $("#ddlLocation").prop("disabled", true);
            $("#ddlLine").prop("disabled", true);
            //$("#ddlAudit_Type").prop("disabled", true);
        }
        var url = '@Url.Action("CloseOpenTask")';

        $('#ddlRegion').change(function (event) {
            debugger;
            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: "GetCountries",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "region_id": item }),
                success: function (result) {
                    $("#ddlCountry").html(""); // clear before appending new list
                    $.each(result, function (i, country) {
                        $("#ddlCountry").append(
                            $('<option></option>').val(country.country_id).html(country.country_name));
                    });
                    var country_id = $('#ddlCountry').children("option:selected").val();
                    $.ajax({
                        url: "GetLocations",
                        type: 'GET',
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ({ "country_id": country_id }),
                        success: function (result) {
                            $("#ddlLocation").html(""); // clear before appending new list
                            $.each(result, function (i, location) {
                                $("#ddlLocation").append(
                                    $('<option></option>').val(location.location_id).html(location.location_name));
                            });
                        }
                    });
                }
            });
        });

        $('#ddlCountry').change(function (event) {
            debugger;
            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: "GetLocations",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "country_id": item }),
                success: function (result) {
                    $("#ddlLocation").html(""); // clear before appending new list
                    $.each(result, function (i, location) {
                        $("#ddlLocation").append(
                            $('<option></option>').val(location.location_id).html(location.location_name));
                    });
                }
            });
        });

        //$('#ddlRegion').change(function (event) {
        //    debugger;
        //    var args = event.args;
        //    var item = $(this).children("option:selected").val();
        //    $.ajax({
        //        url: "GetLines",
        //        type: 'GET',
        //        cache: false,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: ({ "region_id": item }),
        //        success: function (result) {
        //            $("#ddlLine").html(""); // clear before appending new list
        //            $.each(result, function (i, line) {
        //                $("#ddlLine").append(
        //                    $('<option></option>').val(line.line_id).html(line.line_name));
        //            });
        //        }
        //    });
        //});

        $('#ddlmodule').change(function (event) {
            debugger;
            var item = $("#ddlmodule").children("option:selected").val();
            debugger;
            $.ajax({
                url: "GetAuditType",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "module_id": item }),
                success: function (result) {
                    console.log(result);
                    $("#ddlAudit_Type").html(""); // clear before appending new list
                    $.each(result, function (i, auditType) {
                        $("#ddlAudit_Type").append(
                            $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                    });
                }
            });
        });
    });


    function Show() {
        debugger;
        var item = $("#ddlRegion").val();
        var item1 = $("#ddlCountry").val();
        var item2 = $("#ddlLocation").val();
        //var item3 = $("#ddlLine").val();
        // var item4 = sessionStorage.getItem("Module");
        var item4 = $("#ddlmodule").val();
        var item5 = $("#ddlAudit_Type").val();
        $('#ViewPart').show();
        $("#ViewPart").load(rootUrl + "CloseOpenTask/GetQuestion",
          { region_id: item, country_id: item1, location_id: item2, module_id: item4, ID: item5 });
    }

    function ClearAll() {
        debugger;
        //document.getElementById("ddlRegion").option.length = 1;
        //document.getElementById("ddlLocation").options.length = 1;
        //document.getElementById("ddlCountry").options.length = 1;
        //document.getElementById("ddlLine").options.length = 1;
        // $('#ViewPart').show();
        $("#ViewPart").load(rootUrl + "CloseOpenTask/Clear"
          );
    }

    function UploadExcelPopup() {
        debugger;
        var id = "file";
        var filename = $('#file')[0].files[0].name;
        if (filename.includes('.xlsx') || filename.includes('.xls') || filename.includes('.csv')) {
            var files = $('#file')[0].files[0];
            var fileData = new FormData();
            fileData.append(id, files);
            $.ajax({
                url: 'UploadExceFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    debugger;
                    console.log(result);
                    if (result.length > 0) {
                        alert(result[0].err_message);
                        window.location.reload();
                    }
                    else {
                        $('#excel_error').text("There is some error in uploading. Please check the file and try again.");
                    }


                },
                error: function (err) {
                    console.log(err.statusText);
                }
            });
        }
        else {
            $('#excel_error').text("Please upload only excel or csv file.");
        }

        //$("#exceldialog").dialog({
        //    open: function () {
        //        $(this).closest(".ui-dialog")
        //        .find(".ui-dialog-titlebar-close")
        //        .removeClass("ui-dialog-titlebar-close")
        //        .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
        //    }
        //});

        //$("#exceldialog").dialog({
        //    title: "Please upload excel file",
        //    height: 200,
        //    width: 500,
        //    closeOnEscape: true,
        //    buttons: [
        //        {
        //            "class":"btn btn-danger",
        //            text: "Cancel",
        //            click: function () {
        //                $(this).dialog("close");
        //            }
        //        },
        //        {
        //            "class":"btn btn-primary",
        //            text: "OK",
        //            click: function () {
        //                debugger;
        //                var id = "file";
        //                var filename = $('#file')[0].files[0].name;
        //                if (filename.includes('.xlsx') || filename.includes('.xls') || filename.includes('.csv')) {
        //                    var files = $('#file')[0].files[0];
        //                    var fileData = new FormData();
        //                    fileData.append(id, files);
        //                    $.ajax({
        //                        url: 'UploadExceFile',
        //                        type: "POST",
        //                        contentType: false, // Not to set any content header
        //                        processData: false, // Not to process data
        //                        data: fileData,
        //                        success: function (result) {
        //                            debugger;
        //                            console.log(result);
        //                            if (result.length > 0) {
        //                                alert(result[0].err_message);
        //                                window.location.reload();
        //                            }
        //                            else {
        //                                $('#excel_error').text("There is some error in uploading. Please check the file and try again.");
        //                            }


        //                        },
        //                        error: function (err) {
        //                            console.log(err.statusText);
        //                        }
        //                    });
        //                }
        //                else {
        //                    $('#excel_error').text("Please upload only excel or csv file.");
        //                }

        //            }
        //        }
        //    ]
        //});
    }

    $body = $("body");
    debugger;
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

</script>


@using (Html.BeginForm())
{
    //foreach (var m in Model)
    //{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div class="col-md-3">
                <h2>CAPA Status</h2>
                <p><a href="#">Audit </a> >> CAPA Status</p>
            </div>

            <div class="col-md-9">
                <div class="col-lg-12 nopad mn_top">
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("audit_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3 pull-right">
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            @Html.Hidden("hdnuser", (CommonDropdowns.GetUsername()), new { id = "hdnusername" })
                            @Html.Hidden("hdnpwd", (CommonDropdowns.GetPassword()), new { id = "hdnpassword" })
                            @Html.Hidden("hdnuid", (CommonDropdowns.GetUserid()), new { id = "hdnuser_id" })
                            <label id="lblError" style="color: red;"></label>
                            <button type="button" id="btnreview" onclick="Show();" class="btn btn-danger wrn-btn">REVIEW</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                            <label></label>
                            <button type="button" class="btn btn-danger wrn-btn1" onclick="ClearAll();">CLEAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 nopad">
        <div class="red">
            <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                @{var value = TempData["OpenClosemessage"] as string;}
                @if (value != null)
                {
                <p>@value.ToString()</p>
                }
            </div>
        </div>
    </div>
    @*<div class="add_new_user">
        <div class="col-lg-12">
            <section class="search-sec" id="text_field">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="col-lg-12">
                        <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                            <label>Region Name</label>
                            @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })

                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                            <label>Country </label>
                            @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                            <label>Location </label>
                            @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                            <label id="lblAuditType">Process </label>
                            @Html.DropDownList("audit_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-5 pull-right">
                            <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                                <label>&nbsp;</label>
                                @Html.Hidden("hdnuser", (CommonDropdowns.GetUsername()), new { id = "hdnusername" })
                                @Html.Hidden("hdnpwd", (CommonDropdowns.GetPassword()), new { id = "hdnpassword" })
                                @Html.Hidden("hdnuid", (CommonDropdowns.GetUserid()), new { id = "hdnuser_id" })
                                <button type="button" class="btn btn-danger wrn-btn" data-toggle="modal" data-target="#basicModal">UPLOAD FILE</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                                <label>&nbsp;</label>
                                <button type="button" id="btnreview" onclick="Show();" class="btn btn-danger wrn-btn">REVIEW</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-danger wrn-btn1" onclick="ClearAll();">CLEAR</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>*@

    <div class="data_user">
        <section class="wrapper main-wrapper row">
            <div id="ViewPart" class="col-md-12">
                @if (Model != null)
                {
                @Html.Partial("~/Views/CloseOpenTask/DisplayOpenCloseTask.cshtml", Model)
                }
            </div>
        </section>
    </div>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="font-size: 18px; border: solid 1px #f67f2d;  color: #f67f2d;background: none;padding:10px;">Please upload excel file</h4>
                </div>

                <form action="" method="POST">
                    <div class="modal-body">
                        <div class="input-group">
                            @Html.TextBox("file", "", new { type = "file", @class = "files" })
                            <label id="excel_error" style="color: red;"></label>
                            @*<label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector" style="background-color:white">
                                    <input id="my-file-selector" type="file" style="display:none;">
                                    Browse...
                                </label>
                                <input id="label" type="text" class="form-control" readonly="">*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                        <button type="button" class="btn btn-primary" onclick="UploadExcelPopup();">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="exceldialog" style="display:none">
        <div style="height:50px;">
            @Html.TextBox("file", "", new { type = "file", @class = "files" })
            <label id="excel_error" style="color: red;"></label>

        </div>
    </div>

    <div class="loading_modal"></div>
                    }
