﻿@model List<Audire_POCO.OpenCloseTaskPOCO>
    @using Audire_MVC.Utilities
    <style>

    </style>

    <script type="text/javascript">
        $(document).ready(function () {


            $('#CAPAStatus tbody').on('click', 'tr td', function () {
                debugger;
                var tr = $(this).closest('tr');
                var detailtr_id = $(this).closest('tr').attr('id').replace("tr", "detailtr");
                if ($(this).closest('table').find('#' + detailtr_id).attr('style') == "display: none;") {

                    $(this).closest('table').find('#' + detailtr_id).show();
                } else {
                    $(this).closest('table').find('#' + detailtr_id).hide();
                }
            });



        //if (!(isEmpty($('#rdb1').val())) && !(isEmpty($('#rdb2').val()))) {
        //    debugger;
        //    var btn1 = $('#rdb1').checked();
        //    var btn2 = $('#rdb2').checked();
        //    if (btn1.checked) {
        //        $('#lblmsg').text('');
        //        return true;

        //    }
        //    else {
        //        $('#lblmsg').text('Please select status.');
        //        return false;
        //    }
        //}

        $("#btnsubmit").click(function (e) {
            var flag = false;
            flag = validateComment();
            if (!flag) {
                return false;
            }
            else {
                var quest = getreview();
                var var_aud_id = $("#audit_id").val();
                var var_username = $("#hdnusername").val();
                var var_password = $("#hdnpassword").val();
                var var_user_id = $("#hdnuser_id").val();
                var var_device_id = "Web";
                var var_module_id = $("#ddlmodule").val();
                var var_region_id = $("#ddlRegion").val();
                var var_country_id = $("#ddlCountry").val();
                var var_location_id = $("#ddlLocation").val();
                var var_line_id = 0;// $("#ddlLine").val();
                var var_product_id = 0;
                var var_auditype_id = $("#ddlAudit_Type").val();
                debugger;
                var myString = JSON.stringify(quest);
                var commonParam = {
                    "audit_id": var_aud_id,
                    "username": var_username,
                    "password": var_password,
                    "userID": var_user_id,
                    "deviceID": var_device_id,
                    "module_id": var_module_id,
                    "region_id": var_region_id,
                    "country_id": var_country_id,
                    "location_id": var_location_id,
                    "line_id": var_line_id,
                    "product_id": var_product_id,
                    "auditType_id": var_auditype_id,
                    "reviewStatus": quest
                }
                var param = "{auditResult:" + JSON.stringify(commonParam) + "}";
                $.ajax({
                    url: "SaveAuditReview",
                    type: 'POST',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: param,
                    success: function (result) {
                        debugger;
                        loadmsg(result);
                    }
                });
            }
        });

        $(".files").change(function (e) {
            //$("#FileUpload1").get(0)
            var id = this.id.replace("file", "");
            var files = e.target.files[0];
            var fileData = new FormData();
            fileData.append(id, files);
            $.ajax({
                url: 'UploadFile',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    console.log(result);
                },
                error: function (err) {
                    console.log(err.statusText);
                }
            });
            //handleFileSelect(e, this);
        });

    });
    function validateComment() {
        debugger;
        var last_id = $('#hdnlast_id').val();
        var status_val;
        var remarks;
        var error_flag = 0;
        var init_err_flag;
        for (var i = 1; i <= last_id; i++) {
            init_err_flag = error_flag;
            status_val = $("input[name='open" + i + "']:checked").val();
            if (status_val != undefined && status_val != null && status_val != "") {
                //if (document.getElementById("rbtnOpen").checked == true || document.getElementById("rbtnClose").checked) {
                $('#lblFinalError' + i).text("");
                $('#lblFinalError' + i).css("display", "none")
                //return true;
            }
            else {
                $('#lblFinalError' + i).text("Please choose any one of the status.");
                $('#lblFinalError' + i).css("display", "block")
                //return false;
                error_flag++;
            }
            remarks = $('#txtStatus' + i).val();
            if (remarks != undefined && remarks != null && remarks != "") {
                $('#txtStatus' + i).attr('style', 'border : ""');
                //$('#lblRemarksError' + i).text("");
                //$('#lblRemarksError' + i).css("display", "none");
            }
            else {
                $('#txtStatus' + i).attr('style', 'border : red 1px solid;');
                //$('#lblRemarksError' + i).text("Please add root cause.");
                //$('#lblRemarksError' + i).css("display", "block")
                //return false;
                error_flag++;
            }
            remarks = $('#txtRC' + i).val();
            if (remarks != undefined && remarks != null && remarks != "") {
                $('#txtRC' + i).attr('style', 'border : ""');
            }
            else {
                $('#txtRC' + i).attr('style', 'border : red 1px solid;');
                error_flag++;
            }
            if(error_flag>init_err_flag)
            {
                $('#CAPAStatus').find('#detailtr' + i).show();
            }
            else
            {
                $('#CAPAStatus').find('#detailtr' + i).hide();
            }
        }
        if (error_flag > 0) {
            return false;
        }
        else {
            return true;
        }

    }
    function getreview() {
        var last_id = $('#hdnlast_id').val();
        var quest = [];
        var quest1;
        var status_val;
        for (var i = 1; i <= last_id; i++) {
            status_val = $("input[name='open" + i + "']:checked").val();
            quest1 = {
                "answer_id": $('#answer_id' + i)[0].value,
                "review_closed_on": "",
                "review_closed_status": status_val,
                "review_comments": $('#txtStatus' + i).val(),//$('#txtComment' + i).val()
                "review_image_file_name": "",
                "root_cause": $('#txtRC' + i).val(),
                "CA": getValue($('#txtCA' + i)),
                "PA": getValue($('#txtPA' + i))
            };
            quest.push(quest1);
        }
        return quest;
    }

    function getValue(obj)
    {
        debugger;
        if (obj[0] != undefined && obj[0] != "" && obj[0] !== null) {
            var id = obj[0].id;
            if (id != undefined && id != "" && id !== null) {
                return obj[0].value;
            }
            else
                return "";
        }
        else
            return "";
    }
    function loadmsg(result) {
        debugger;
        console.log(result);
        var msg;
        // alert(result[0].err_message);
        if (result == null || result[0] == null) {
            msg = "eRROR";
        }
        else {
            msg = result[0].err_message;
        }
        var param = { "OpenClosemessage": msg };
        $.ajax({
            url: "SetTempData",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(param),
            success: function (result) {
                debugger;
                window.location.reload();
                // loadmsg(result);
            }
        });

        @*   $.ajax({
                type: "POST",
                url: '@Url.Action("SetTempData","CloseOpenTask")',
                     data: '{ tempDataValue:' + msg + '}',
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function () {
                         // Alert that it was succesful!
                         //alert('TempData Updated');
                         window.location.reload();
                     }
            });
            *@

    }
    function OpenImage(obj) {
        debugger;
        console.log(obj.src);
        document.getElementById('expandimg').src = obj.src;
        $("#imgdialog").dialog({
            open: function () {
                $(this).closest(".ui-dialog")
                .find(".ui-dialog-titlebar-close")
                .removeClass("ui-dialog-titlebar-close")
                .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");
            }
        });

        $("#imgdialog").dialog({
            title: "Image",
            height: 550,
            width: 500,
            closeOnEscape: false,
        });
    }
    function validateStatus(obj, i) {
        debugger;
        $('#lblOpen' + i).attr('style', 'background:none;');
        $('#lblClose' + i).attr('style', 'background:none;');
        var id = obj.id.replace("rbtn", "lbl");
        $('#' + id).attr("style", "background: rgba(255,255,255,.3);")

        $('#lblFinalError' + i).text("");
        $('#lblFinalError' + i).css("display", "none");
    }

    function openComment(obj) {

        var audit_comment = obj.children[1].value;
        alert(audit_comment);

    }
    </script>

    @if (Model != null)
    {
    if (Model.Count > 0)
    {
    <div class="col-md-12 nopad">
        <div class="table-responsive mn_green">
            <table id="CAPAStatus" class="table">
                <thead>
                    <tr>
                        <th>Audit Number</th>
                        <th>Clause #</th>
                        <th>Question #</th>
                        <th>Findings</th>
                        <th>Assigned to</th>
                        <th>Root Cause</th>
                        <th>Containment Action</th>
                        <th>Corrective Action</th>
                        <th>Preventive Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var m in Model)
                    {
                    <tr id="@string.Concat("tr",Convert.ToString(m.answer_counter))">
                        <td>@Convert.ToString(m.audit_number)
                        @Html.HiddenFor(mi=>m.audit_id, new { id= "audit_id" })
                        </td>
                        <td>@Convert.ToString(m.clause)</td>
                        <td>@Convert.ToString(m.question_id)</td>
                        <td>@Convert.ToString(m.audit_comment)</td>
                        <td>@Convert.ToString(m.assigned_to)</td>
                        <td>@Convert.ToString(m.root_cause)</td>
                        <td>@Convert.ToString(m.review_comment)</td>
                        <td>@Convert.ToString(m.corrective_action)</td>
                        <td>@Convert.ToString(m.preventive_action)</td>
                    </tr>
                    <tr id="@string.Concat("detailtr",Convert.ToString(m.answer_counter))" style="display: none;">
                        <td colspan="8">
                            <div class="col-md-12">
                                <div class="capa_text">
                                    @Html.Hidden("answer_id" + Convert.ToString(m.answer_counter), m.answer_id)

                                    <p>
                                        @Html.LabelForModel(Convert.ToString(m.question_id) + ". ", new { id = "question_id" + Convert.ToString(m.question_id) })
                                        @Html.LabelForModel(m.question)
                                    </p>
                                    @if (Convert.ToString(m.review_comment) != null && Convert.ToString(m.review_comment) != "")
                                    {
                                        <img src="~/Content/images/pre_cmmnt.png" title="Previous Comment" width="40px" alt="help" />
                                        @Html.Hidden("previous_comment" + Convert.ToString(m.review_comment), m.review_comment)
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 nopad">
                                <div class="col-md-6 nopad">
                                    @*@Html.Label("AuditorComment", "Auditor Comment : " + Convert.ToString(m.audit_comment), new { })<br />*@
                                    @if (Convert.ToString(m.audit_images) != null && Convert.ToString(m.audit_images) != "")
                                    {
                                        @Html.Label("AuditorImage", "Attached Image : ", new { })
                                        <img src="@Url.Content(m.audit_images)" alt="Image" style="width:50px;" onclick="OpenImage(this)" />
                                    }

                                </div>

                                <div class="col-md-6 nopad">
                                    <div class="col-md-6 nopad">
                                        <div class="toggle_radio">
                                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    @Html.RadioButton("open" + Convert.ToString(m.answer_counter), "0", new { @class = "toggle_option", onchange = "javascript:validateStatus(this,'" + Convert.ToString(m.answer_counter) + "');", id = "rbtnOpen" + Convert.ToString(m.answer_counter) })
                                                    Open
                                                </label>
                                                <label class="btn btn-success">
                                                    @Html.RadioButton("open" + Convert.ToString(m.answer_counter), "1", new { @class = "toggle_option", onchange = "javascript:validateStatus(this,'" + Convert.ToString(m.answer_counter) + "');", id = "rbtnClose" + Convert.ToString(m.answer_counter) })
                                                    Close
                                                </label>
                                                @*@Html.Label("rbtnOpen" + Convert.ToString(m.answer_counter), "Open", new { @id = "lblOpen" + Convert.ToString(m.answer_counter) })
                    @Html.Label("rbtnClose" + Convert.ToString(m.answer_counter), "Close", new { @id = "lblClose" + Convert.ToString(m.answer_counter) })*@
                                            </div>
                                        </div>
                                        @Html.Label("lblFinalError" + Convert.ToString(m.answer_counter), new { @style = "color: red; display:none; margin-top: 5px;", id = "lblFinalError" + Convert.ToString(m.answer_counter) })
                                    </div>
                                    <div class="col-md-6 nopad">
                                        <label for="@String.Concat(" file", Convert.ToString(m.answer_counter))">
                                            <img width="25px" src="~/Content/new_ui/images/download_1.png" />

                                        </label>

                                        @Html.TextBox("file" + Convert.ToString(m.answer_counter), "", new { type = "file", @class = "files", @style = "display:none;" })
                                        <label id=@string.Concat("filename",Convert.ToString(m.answer_counter))>
                                        </label>
                                        </div>
                                    </div>
                            </div>
                            <div class="cleafix"></div>

                            <div class="col-md-6">

                                @Html.Label("RC", "Root Cause : ", new { })
                                @Html.TextArea("RC" + Convert.ToString(m.answer_counter), new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtRC" + Convert.ToString(m.answer_counter) })
                            </div>
                            <div class="col-md-6">
                                @Html.Label("Comment", "Containment Action : ", new { })
                                @Html.TextArea("Comment" + Convert.ToString(m.answer_counter), new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtStatus" + Convert.ToString(m.answer_counter) })
                            </div>
                            @if (Convert.ToString(Session["module"]) == "1" || Convert.ToString(Session["module"]) == "4")
                            {
                                <div class="col-md-6">
                                    @Html.Label("CA", "Corrective Action : ", new { })
                                    @Html.TextArea("CA" + Convert.ToString(m.answer_counter), new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtCA" + Convert.ToString(m.answer_counter) })
                                </div>
                                if (Convert.ToString(m.answer) == "1")
                                {
                                    <div class="col-md-6">
                                        @Html.Label("PA", "Preventive Action : ", new { })
                                        @Html.TextArea("PA" + Convert.ToString(m.answer_counter), new { @class = "form-control search-slt", rows = "1", TextMode = "MultiLine", MaxLength = "60", id = "txtPA" + Convert.ToString(m.answer_counter) })
                                    </div>
                                }
                            }

                            <br />
                            @Html.Label("lblRemarksError" + Convert.ToString(m.answer_counter), new { @style = "color: red; display:none;", id = "lblRemarksError" + Convert.ToString(m.answer_counter) })



                            @*<div class="col-md-6 upload">
                                    <section id="file-upload-form" class="uploader">
                                        @Html.TextBox("file" + Convert.ToString(m.answer_counter), "", new { type = "file", @class = "files" })

                                        <label for=@string.Concat("file",Convert.ToString(m.answer_counter)) id="file-drag">
                                            <img id="file-image" src="#" alt="Preview" class="hidden">
                                            <div id="start">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                <div id=@string.Concat("filename", Convert.ToString(m.answer_counter))> Select a file or drag here</div>
                                                <div id="notimage" class="hidden">Please select an image</div>
                                                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                                            </div>
                                            <div id="response" class="hidden">
                                                <div id="messages">
                                                </div>
                                                <progress class="progress" id="file-progress" value="0">
                                                    <span>0</span>%
                                                </progress>
                                            </div>
                                        </label>
                                    </section>

                                </div>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div id="imgdialog" style="display:none">
            <div style="height:500px;">
                <img id="expandimg" alt="Image" width="500px" />
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2 pull-right">
                <input type="button" value="SUBMIT" class="btn btn-danger wrn-btn" id="btnsubmit" />
                @Html.Hidden("hdnlast_id", Model.Count)
            </div>
        </div>

    </div>
    }
    else
    {
    @Html.Label("No task available for review")
    }
    }



