﻿@model List<Audire_POCO.AuditStatus>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;

        $('.table').dataTable();
    });
</script>

@if (Model != null)
{
    if (Model.Count > 0)
    {
        <div class="user_datatable nc_status">
            <table id="dtStatus" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Audit Number</th>
                        <th>Type</th>
                        <th>Sub-Type</th>
                        <th>Date</th>
                        <th>Auditor Name</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.Audit_number</td>
                            <td>@m.module </td>
                            <td>@m.Audit_Type </td>
                            <td>@m.audit_performed_date</td>
                            <td>@m.emp_full_name</td>
                            <td>
                                <div class="@(Convert.ToString(m.status)== "Success"?"mn_green_color":(Convert.ToString(m.status)== "Delayed" ? "mn_red": "mn_yellow"))"><i class="fa fa-circle"></i></div>
                            @*<td class="@(Convert.ToString(m.Status) == "OnTime" ? "td-actions mn_green_color" : (Convert.ToString(m.Status) == "Delayed" ? "td-actions mn_red" : "td-actions mn_yellow"))">*@
                                @*<div class="mn_red"><i class="fa fa-circle"></i> <span>Action Delayed</span></div>*@
                            </td>
                        <td><a href='@Url.Action("DownloadFile", "Status",new { audit_id=m.audit_id})'>View Report</a></td>
            </tr>

                    }
                    </tbody>
                    </table>


                </div>
    }
}